include ../includes/var

table(class="responsive")
  thead
    tr: th 名前  #[th グループ] #[th タイプ] #[th 反動] #[th 指定特技] #[th 対象] #[th 効果]
  each item in abilityList[0].list
    tr
      td.txt-center= item.name
      td(data-title='グループ')= item.group
      td(data-title='タイプ')= item.type
      td(data-title='反動')= item.recoil
      td(data-title='指定特技')= item.specialty
      td(data-title='対象')= item.target
      td(data-title='効果')= item.effect