hr
section#battle
  hgroup
    img(src='../assets/images/usagi.png', alt='イメージ画像', title='エンカウント！')
    h1#h1-battle 戦闘
    p
      | 戦闘では、サイクルの代わりにラウンドという単位を使用します。
      | プレイヤーの行動順は、先制判定で決めます。
    h2#battle-round 1.ラウンドの流れ
    p 戦闘のラウンドは、以下のA～Eの順番に処理します。
    ul
      li A:先制判定
      li B:冒険者の行動（先攻）
      li C:敵の行動
      li D:冒険者の行動（後攻）
      li E:追加行動
    h2#battle-initiative 2.先制判定
    p
      | 各プレイヤーは、キャラクターがラウンドのどのタイミングで行動を行うか
      | 決定するため、先制判定と呼ばれる行為判定を行います。
      | 先制判定の《指定特技》は、以下の表で決定されます。
    details
      summary 先制判定指定特技表
      table.chart#table-initiative
        caption 先制判定指定特技表
        thead
          tr: th d6 #[th 説明] 
        each name in initiativeList
          tr
            td= name.d6
            td= name.a
    p
      | 先制判定に成功したプレイヤーのキャラクターは「冒険者の行動（先攻）」、失敗した場合は「冒険者の行動（後攻）」のタイミングで
      | 行動を行います。
    p 先攻もしくは後攻での行動のタイミング内での行動順は自由です。
    h2#battle-action 3.冒険者の行動
    p
      | 各プレイヤーのキャラクターは、ラウンドごとに以下の行動のうち一つを行います。
    dl
      dt 攻撃
      dd
        p
          | 習得している攻撃タイプのアビリティから一つを選び、目標を選びます。
          | または、アイテムの武器を使用して同様に目標を選びます。
          | アビリティまたは武器の《指定特技》の行為判定に成功すると、その効果が目標に適用されます。
          | この判定を命中判定ともいいます。
        p
          | 命中判定でスペシャル/ファンブルをした場合、
          a(href='#battle-special') スペシャル表/ファンブル表
          | を振って効果を適用します。
        details
          summary 命中判定スペシャル表
          table.chart#special-attack
            caption 命中判定スペシャル表
            thead
              tr: th d6 #[th 説明] 
            each name in specialAttackList
              tr
                td= name.d6
                td= name.a
        details
          summary 命中判定ファンブル表
          table.chart#fumble-attack
            caption 命中判定ファンブル表
            thead
              tr: th d6 #[th 説明] 
            each name in fumbleAttackList
              tr
                td= name.d6
                td= name.a
      dt 連携攻撃
      dd
        p
          | 自分以外の冒険者を1体目標とし、可能なら自分の補助タイプのアビリティから1つ選択します。
          | 判定は必要ありません。目標は次に行う攻撃に、選択されたアビリティを組み合わせられます。
        p
          | 連携攻撃に寄って組み合わされたアビリティは、「行為判定に組み合わせられる補助タイプのアビリティは一つだけ」
          | というルールの例外として扱います。組み合わせるアビリティの反動は、連携攻撃を行うキャラクターが連携攻撃を宣言したときに受けます。
        p 連携攻撃の効果はラウンド終了時に失われます。
      dt 支援行動
      dd
        | 取得している支援タイプのアビリティかアイテムを使用します。
        | また、GMが支援行動とした行動ができます。
      dt 撤退
      dd 
        p 指定特技《逃げる／環境11》の判定に成功すると戦闘から撤退できます。
        p 拡張ルール：#[a(href="supplement-strange-fields.html#escape") 撤退の指定特技をランダムにする]
      dt 武器の装備
      dd 所持品にある武器を装備状態にできます。
      dt アイテムの受け渡し
      dd アイテムを1つ、味方1人に渡すか受け取れます。
      dt アイテムの取り出し
      dd アイテムを1つ、袋の中から取り出すか、袋の中に入れます。
      dt パス
      dd 何もせず行動済みとなります。
    h2#battle-damage 4.ダメージと部位ダメージ
    p
      | 攻撃によってダメージが発生する際、
      | 【体力】が0でない場合、ダメージ分の【体力】を減少させます。
      | これによって【体力】が0未満になる場合や、既に【体力】が0のときにダメージを受けた場合、部位ダメージが発生し、【体力】は0となります。
    p
    p
      | 部位ダメージが発生した場合、身体部位決定表を振り、その攻撃が命中した部位を決定します。
      | 既にダメージを受けている部位が出たら振り直しです。
    details
      summary 命中部位決定表
      table.chart#table-hitarea
        caption 身体部位決定表
        thead
          tr: th 2d6 #[th 説明] 
        each name in hitareaList
          tr
            td= name["2d6"]
            td= name.a
    p
      | 部位ダメージを受けた「身体部位」は使用不能になり、
      | 行為判定に使用できなくなります。
      | さらに、部位ダメージが入った「身体部位」に隣接する周囲8マスにある特技も使用不能になります。
      | この時、ギャップは無視します。
    h3#battle-damage-dead 4.1.死亡
    h4 死亡判定
    p
      | 戦闘によって部位ダメージを受けた場合、死亡判定を行います。
      | 1D6を振り、受けている部位ダメージの数を超える出目をだせば成功です。
      | 部位ダメージ数以下の出目の場合、死亡判定失敗となり死亡します。
    h4 武器破壊
    p 死亡判定を行う前に、装備している武器を1つ破壊すると宣言することで死亡判定をキャンセルできます。
    h4 【気力】を振り絞る
    p
      | 死亡判定のダイスを振った後、
      | 任意の点数の【気力】を消費してその分だけ出目にプラスの修正を与えられます。
    p 『本気状態』（後述）の＜ヌシ＞はこの行動を行えません。
    h3#battle-damage-dead-enemies 4.2.敵の死亡
    p
      | ＜ヌシ＞は冒険者と同じように【体力】が0になった後、死亡判定を行います。
    p
      | ＜ヌシ＞以外の敵は、【体力】が0になったら死亡します。
      | GMは、死亡の代わりに『無力化状態』になることにしてもかまいません。
    h2#battle-enemy 5.敵の行動
    p
      | 敵も冒険者と同じように行動します。
    dl
      dt 攻撃
      dd
        | 冒険者の行動と同様です。
        | ＜ヌシ＞は判定に組み合わせられる補助アビリティの数が、レベルによって多くなっています。
      dt 支援
      dd 冒険者の行動と同様です。
      dt 本気を出す
      dd
        | これは＜ヌシ＞のみが行うことのできる行動です。
        | ＜ヌシ＞の【気力】が[半分以下]の状態ならいつでも宣言でき、宣言しても行動済みになりません。
        | この宣言を行った瞬間から＜ヌシ＞は『本気状態』となります。
        | 通常状態から『本気状態』となったラウンドに＜ヌシ＞は追加行動を一回得ます。
        | 『本気状態』では、＜ヌシ＞は以下の状態となります。
        ul
          li 全ての【アビリティ】の反動が0になる
          li 「回避判定」にマイナス2の修正がつく
          li 死亡判定に【気力】を消費できない
      dt 復活
      dd
        | ＜ヌシ＞が『無力化状態』の時、1ラウンドに1回宣言できる割込み行動です。
        | 《叫ぶ》の判定に成功した場合、自身の【気力】が1点となります。
        | この行動は『無力化状態』でも特別に行うことが出来ます。
      dt パス
      dd 冒険者の行動と同様です。
    h2#battle-dodge 6.回避
    p 冒険者と敵は、攻撃に対して回避を行うことができます。
    p
      | 回避は命中判定が成功し、ダメージを決定した後で行います。
      | 部位ダメージが入るダメージの場合、命中した部位を決定した後に回避を行うことができます。
    p
      | 攻撃目標は、命中判定の《指定特技》を、回避するための《指定特技》とした行為判定を行います。
      | 回避判定の目標値は通常の行為判定と異なり、「
      b 【命中判定の達成値】＋習得している特技から《指定特技》までのマス数
      | 」となります。
      |   命中判定がスペシャルの場合、回避判定でスペシャルをだすことでのみ回避できます。
      // 命中判定で代用判定が行われている場合、[相手が使用した特技から《指定特技》までのマス数]点のプラス修正をつけて回避の判定をおこなうことができます。
      //
        この判定には、[命中判定の達成値-命中判定の目標値]点のマイナス修正がつきます。
        命中判定が目標値ちょうどで成功した場合は0、1上回るごとにマイナス1点です。
      p
        | この判定に成功すると、攻撃は失敗となり、攻撃に付随する全ての効果が無効化されます。
      p この判定を回避判定と呼びます。
      p
        | 一度の攻撃に対して、回避は一度だけ可能です。
        | 回避判定を行うと【気力】を1点消費します。
      p
        | 回避判定でファンブルした場合、
        a(href='chart.html#battle-special') ファンブル表
        | を振って効果を適用します。
      details
        summary 回避判定ファンブル表
        table.chart#fumble-dodge
          caption 回避判定ファンブル表
          thead
            tr: th d6 #[th 説明] 
          each name in fumbleDodgeList
            tr
              td= name.d6
              td= name.a
      h2#battle-secondaction 7.追加行動
      p
        | ＜ヌシ＞は特定の条件でラウンドの行動回数が増えることがあります。
        | これを追加行動と呼びます。
        | 追加行動は冒険者の行動（後攻）が終わった後に行われます。
      p
        | まれに冒険者が追加行動を行うこともあります。このときも冒険者の行動（後攻）のあとに追加行動を行いますが、
        | ＜ヌシ＞の追加行動より早いか遅いかは、そのラウンドの先制判定の結果によります。
      p
        | 1ラウンド中にアビリティ【習性】の条件を何度も満たしたり、スペシャル表により、同じキャラクターが追加行動を複数回得ることがあります。
        | その場合は追加行動が複数回発生します。
      h2#battle-special 8.戦闘中のスペシャルやファンブル
      p
        | 戦闘中に、命中判定でスペシャルを発生させた場合、通常の効果に加えて、
        | スペシャル表を振りその効果を適用します。
        | 逆にファンブルを発生させた場合、命中ファンブル表を振りその結果を適用します。
        | 回避判定でファンブルを発生させた場合、回避ファンブル表を振りその結果を適用します。
      details
        summary 戦闘中のスペシャル/ファンブル表まとめ
        table.chart#special-attack
          caption 命中判定スペシャル表
            thead
              tr: th d6 #[th 説明] 
            each name in specialAttackList
              tr
                td= name.d6
                td= name.a
        table.chart#fumble-attack
          caption 命中判定ファンブル表
          thead
            tr: th d6 #[th 説明] 
          each name in fumbleAttackList
            tr
              td= name.d6
              td= name.a

        table.chart#fumble-dodge
          caption 回避判定ファンブル表
          thead
            tr: th d6 #[th 説明] 
          each name in fumbleDodgeList
            tr
              td= name.d6
              td= name.a
      h2#badstatus 9.変調
      p
        | キャラクターはアビリティの効果やアイテムなどによって、変調という特殊な効果をうけることがあります。
        | 変調は、戦闘が終了すれば解除されます。
        | スペシャル、アイテム、アビリティの効果、または変調ごとに設定された条件を満たすことで解除されることもあります。
        | 変調を2つ以上うけている状態で、1つ回復する場合、任意の変調を解除することができます。
      p 同名の変調を受けることはありません。
      details
        summary 変調一覧
        dl
          each status in badStatusList
            dt= status.name
              dd= status.effect
      h2#battle-neutralization 10.無力化状態
      p
        | 【気力】が0となり、戦闘終了まで全ての行動を行えなくなります。
        | 戦闘終了後、『無力化状態』は解除されます。
        | 『無力化状態』が解除されたとき、【気力】の値は1となります。
        | また、なんらかの要因で【気力】が1以上になった場合、この『無力化状態』は解除されます。
        | 無力化状態のキャラクターは常に行動済み状態です。
      p
        | 「先制判定」など行動を消費しない判定は行うことができます。
      p
        | 戦闘中以外で無力化状態となった場合、行動解決後、
        | 気力1となって無力化状態が解除されます。
// battle
div(style='display:flex;flex-wrap:wrap;align-items: flex-start;')
  img(src="../assets/images/monster/dartsfish.png" width="200"  alt="イメージ画像：ダーツフィッシュ" title="ダーツフィッシュ @hagure_g 様作")
  img(src="../assets/images/monster/skyknife.png" width="200"  alt="イメージ画像：スカイナイフ" title="スカイナイフ @hagure_g 様作")
  img(src="../assets/images/monster/tsunousagi2.png" width="200"  alt="イメージ画像：ツノウサギ" title="ツノウサギ @hagure_g 様作")

hr
// *******************************************************
section#lastbattle
  hgroup
    h1#h1-lastbattle 決戦フェイズ
    h2#h2-lastbattle-move 移動
    p
      | ＜ヌシ＞のいる場所への＜障害＞を突破している場合、
      | リミットであるサイクルが終わると＜ヌシ＞のいる＜チェックポイント＞へと移動し、
      | 決戦フェイズになります。
      | また、リミット前でも＜ヌシ＞のいる＜チェックポイント＞へ
      | 移動すれば決戦フェイズになります。
    p
      | この移動でもランダムエンカウントは発生します。→
      a(href='chart.html#table-randomencountAB') ランダムエンカウント表
    h2#h2-lastbattle-view 描写
    p
      | 決戦フェイズでは、GMはまず＜ヌシ＞のいる場所の風景描写、
      | そして＜ヌシ＞の描写を行なって下さい。
    h2#h2-lastbattle-battle ヌシとの戦闘
    p
      | 描写が終了したら、＜ヌシ＞との戦闘になります。
      | 強力なチカラをもつヌシと冒険者たちとの死闘がはじまります。
// lastbattle
hr
// *******************************************************
