section#character
  h2#character-title キャラクター
  p プレイヤーはキャンプに暮らす人の中でも、＜フィールド＞に挑む力のある
    | 冒険者と呼ばれるキャラクターを演じます。
  p #[a(href="https://create-now.now.sh/lostrpg/characters/ja/list",rel="noopener noreferrer",target="_blank") →キャラクターシートリスト]
  p #[a(href="https://create-now.now.sh/lostrpg/public/ja/character?id=0kYnDL1AICkY8UjAcaGR",rel="noopener noreferrer",target="_blank") →サンプルキャラクター]

  h3#decide-class 1.クラスの決定
  p クラスはキャラクターの才能や立ち位置を表したものです。
    | これを２つまで選び、キャラクターを作成します。
  p クラスを１つしか選ばなかった場合、アビリティを１つ余分に取得できます。
  p クラスは以下の１２個から選択します。
  .listB
    .container
      each obj in classList
        //- 概要全体にリンクを設定
        article
          a(href="#"+obj.name)
            .image(style="background-image: url('../assets/images/" + obj.image + "');")
            .text
              strong= obj.name
              p= obj.description

  h3#decide-skill 2.特技の決定
  p キャラクターの特技を#[a(href="chart.html#table-skill", tatget="_black") 特技表]の中から6つ選んで決定します。
  p 後述のアビリティによって指定特技が指定されるので、アビリティから先に決定してもよいでしょう。
  p 特技には「身体部位」と「アクション」というカテゴリがあります。どちらも同様に取得できます。
  p 「身体部位」は身体にある様々な場所のことを表し「※心臓」のように表記されます。
    | 「アクション」は身体部位を使って行う様々なことを表しています。
  p 特技は６つの分野に分かれています。縦列が分野となっています。
  p 分野と分野の間の細い空白マスをギャップと呼びます。
    | 代用判定（後述）のときには、このマスも数えます。
    | 【アビリティ】の効果で、このギャップを塗りつぶす場合があります。
    | ギャップを塗りつぶした場合、そのマスは数えないことになります。
    | 通常のキャラクターはギャップを塗りつぶしません。
  p 「特技を修得する」ということは、アクションの場合は「その動作が得意」、身体部位の場合は「その部位が高性能または丈夫」ということです。

  h3#decide-ability 3.アビリティの決定
  p アビリティとは、キャラクターがゲーム中に使う技や能力のことです。
    | アビリティには、以下の要素があります。
  table(class="chart", id='ability-element-summary')
    caption アビリティの要素
    tbody 
      tr: th 名前  #[td アビリティ名。同名アビリティの効果は重複しない。] 
      tr: th グループ  #[td 取得したクラスのグループのアビリティを習得できる。] 
      tr: th タイプ  #[td タイプによって使用タイミングが決まる。攻撃、支援、補助、割込み、常駐の5つ。] 
      tr: th 反動  #[td アビリティを使うために消費する【気力】。] 
      tr: th 指定特技  #[td  アビリティを使うために必要な判定の《指定特技》。] 
      tr: th 対象  #[td  アビリティの効果の対象。] 
      tr: th 効果  #[td  アビリティの効果。] 

  details
    summary アビリティの要素詳細
    dl
      dt 名前
      dd アビリティの名前です。
        | 同じ名前のアビリティの効果は重複しません。
      dt グループ
      dd 汎用、クラスのグループがあります。
        dl
          dt 汎用グループ
          dd 冒険者なら誰でも習得できます。
          dt クラスグループ
          dd クラスを選択していれば習得できます。
      dt タイプ
      dd 攻撃、支援、補助、割込み、常駐の５つのタイプがあります。
        dl
          dt 攻撃タイプ
          dd 自分の手番に使います。相手を攻撃するために使います。
          dt 支援タイプ
          dd 自分の手番に使います。攻撃以外の行動をするために使います。
          dt 補助タイプ
          dd 特技の行為判定に組み合わせて使います。１つの行為判定に組み合わせられる補助タイプのアビリティは一つだけです。
          dt 割込みタイプ
          dd 誰かの行動に割りこんで使います。
            | 同じ名前の割込みタイプのアビリティは、１サイクル（戦闘中ならば1ラウンド）１回のみ使えます。<br>
          dt 常駐タイプ
          dd 習得していれば常に効果を発揮します。
      dt 反動
      dd アビリティを使うことで消費する【気力】の値です。
        | 【気力】がマイナスになるようには消費できません。
      dt 指定特技
      dd アビリティを使用するために判定が必要な特技です。
      dl 
        dt 《指定特技》
        dd 《指定特技》の判定に成功すると効果を発揮します。
        dt なし
        dd 判定をすることなく効果を発揮します。
        dt 自由
        dd アビリティを習得したときに自由に特技を１つ選択します。
        dt 任意
        dd 判定をする時に自由に特技を選ぶことができます。
        dt 可変
        dd 判定をする時にランダムに特技を決定します。#[a(href="supplement-strange-fields.html#random-skill") 1d6を振って分野を、2d6を振って特技を決定してください。]
        dt -
        dd 常駐・補助アビリティです。
            |  常に効果を発揮、または他の判定に組み合わせることで効果を発揮します。 

      dt 対象
      dd アビリティの効果の対象です。

      dt 効果
      dd アビリティの効果です。
  p キャラクターはアビリティを3つ選んで習得します。クラスが１つの場合、さらに1つ習得します。
  each ability in abilityList
    details
      summary=ability.name+"アビリティ表"
      table(class="responsive", id='ability-'+ability.id)
        caption= ability.name
        thead
          tr: th 名前  #[th グループ] #[th タイプ] #[th 反動] #[th 指定特技] #[th 対象] #[th 効果]
        each item in ability.list
          tr
            td.txt-center= item.name
            td(data-title='グループ')= item.group
            td(data-title='タイプ')= item.type
            td(data-title='反動')= item.recoil
            td(data-title='指定特技')= item.specialty
            td(data-title='対象')= item.target
            td(data-title='効果')= item.effect
  img(src="../assets/images/mother/fire.jpg" width=250 alt="イメージ画像" title="火炎弾！  はぐれけだま様作")
  a(href="/lost/chart.html#ability-mutation" target="_blank") ニューエイジ 突然変異表
  h3#decide-Vitarity 4.生命力の決定
  p 【生命力】は後述する【体力】の初期値やセッション中での増加量および【所持限界】に関わる数値です。
    | 【生命力】の初期値は3点です。ここに、アビリティなどによる修正を加えてください
  p 特にアビリティを取得していない場合、キャンプの初期設備による修正を含めて初期作成のキャラクターの【生命力】は5点になります。

  h3#decide-HP 5.体力の決定
  p 【体力】はダメージへの耐久を表す数値です。
    | ダメージを受けることで減少し、【体力】が0になると部位ダメージを受ける可能性が発生します。
    | 【体力】に上限はありません。
  p ゲーム開始時には【生命力】の2倍の【体力】を所持しています。

  h3#decide-Mental 6.精神力の決定
  p 【精神力】は後述する【気力】の初期値やセッション中での増加量に関わる数値です。
    | 【精神力】の初期値は3点です。ここに、キャンプの設備やアビリティなどによる修正を加えてください。
  p 特にアビリティを取得していない場合、キャンプの初期設備による修正を含めて初期作成のキャラクターの【精神力】は10点になります。


  h3#decide-MP 7.気力の決定
  p
    | 【気力】はやる気や心の余裕を表す数値です。
    | アビリティの使用などで減少し、【気力】が0になると『無力化状態』になり行動不能になります。
    | 【気力】に上限はありません。
  p ゲーム開始時には【精神力】と同じ値の【気力】を所持しています。

  h3#decide-limitedweight 8.所持限界の決定
  p 所持品、つまり装備せずに持ち運べるアイテムの総重量の最大値を【所持限界】といいます。
    | 【所持限界】の初期値は【生命力】と同じ値です。ここにアビリティなどによる修正を加えてください。
  p 特にアビリティを取得していない場合、初期作成のキャラクターの【所持限界】は5になります。
  
  h3#decide-item 9.アイテムの購入
  p
    | アイテムを購入します。現在、通貨は食料でやり取りされています。
    | 通貨単位は一日分の干し肉＝1J（ジャーキー）です。
    | また、10J=1C(缶詰）となっています。
  p アイテムには以下の要素があります。
  table(class="chart", id='item-element-summary')
    caption アイテムの要素
    tbody 
      tr: th 名前  #[td アイテム名。] 
      tr: th 価格  #[td アイテムの価格。単位はJ(ジャーキー)。] 
      tr: th 重量  #[td アイテムの重量。単位はW。【所持限界】までのアイテムを持てる。] 
      tr: th タイプ  #[td タイプによって使用タイミングが決まる。装備、支援、割込み、道具の4つ。] 
      tr: th 部位  #[td アイテムの装備部位。同じ部位に装備できるアイテムは1つ。] 
      tr: th 指定特技  #[td アイテムを使うために必要な判定の《指定特技》。] 
      tr: th 対象  #[td アイテムの効果の対象。] 
      tr: th 特性  #[td アイテムの特性。武器、防具、袋、収納不可、食料、消耗品、使用回数など。] 
      tr: th 効果  #[td アイテムの効果。] 

  details
    summary アイテムの要素詳細
    dl
      dt 名前
      dd アイテムの名前です。
      dt 価格
      dd アイテムの価格です。単位は1Jで表されています。
      dt 重量
      dd アイテムの重量です。重量1=1Wと略すこともあります。
        | キャラクターは総重量が【所持限界】までの所持品を持ち運ぶことができます。
        | 所持品とは装備していないアイテムのことを指します。
      dt タイプ
      dd 装備、支援、割込み、道具の4つのタイプがあります。
        dl
          dt 装備タイプ
          dd 装備している限り常に効果を発揮します。
            | 装備しているアイテムの重量は【所持限界】から無視されます。
          dt 支援タイプ
          dd 探索フェイズや戦闘中の自分の手番に使います。支援タイプのアイテムを使用すると行動済みになります。
          dt 割込みタイプ
          dd 誰かの行動に割りこんで使います。
            | 同じ名前の割込みタイプのアイテムは、1サイクル（戦闘中ならば1ラウンド）1個のみ使えます。
            | ただし消耗品は、同じ名前のアイテムを1サイクルに複数個使えます。
          dt 道具タイプ
          dd 所持していると判定に有利になることがあります。
      dt 部位
      dd 装備タイプのアイテムには装備する部位が書かれています。
        ul 
          li 同じ部位に2つのアイテムを装備することはできません。
          li 片手には装備する代わりに、任意のタイプのアイテムを1つ持つこともできます。
          li 片手に持ったアイテムの重量は所持限界から無視されます。
      dt 指定特技
      dd アイテムを使用するために判定が必要な特技です。
        | 「-」の場合、判定をすることなく効果を発揮します。
        |  2つ以上の《指定特技》の場合、どちらの特技を使用しても構いません。
      dt 対象
      dd アイテムの効果の対象です
      dt 特性
      dd アイテムの特性です。以下の種類があります。
        dl
          dt 武器
          dd 武器です。《指定特技》の判定に成功すると対象に[攻撃力]点のダメージを与えます。 
          dt 白兵
          dd 白兵武器です。
          dt 射撃
          dd 射撃武器です。
          dt 防具
          dd 防具です。
          dt 袋
          dd 袋です。
            ul
              li このアイテムは所持しているだけで効果を発揮します。
              li 袋の中に入れたアイテムの重量を所持限界から無視します。
              li 袋の中に入れた袋は上記の効果を発揮しません。
              li 袋の中に入れたアイテムを戦闘中に使用することはできません。
              li 戦闘中に袋からアイテムを取り出す行為は支援行動です。
          dt 収納不可
          dd このアイテムは袋の中に入れることができません。
          dt 食料
          dd 食料です。食料として使用すると失われます。
          dt 消耗品
          dd 使用回数がない場合、一度使用すると失われます。
          dt 充電
          dd 使用するには充電が必要です。
            |  使用回数がない場合、一度充電したらセッション終了まで使用できます。
          dt 使用回数：x
          dd 消耗品ならば、x回使用すると失われます。
            | 充電ならば、x回使用すると再度充電が必要です。
            | 使用回数が残っている時に充電を行なっても使用回数がxを超えることはありません。
          dt 購入不可
          dd 探索やドロップにより手に入るアイテムです。GMが特別に許可した場合を除き、購入はできません。
      dt 効果
      dd アイテムの効果です。


  p キャラクターは初期状態でリュックサック1つと10Jを所持しています。
    | 最初にこれらを使って買い物します。
  p 買い物で使いきらなかったジャーキーはそのまま所持品となります。
    | ジャーキーも重量1なので、【所持限界】を超えていないか注意してください。

  details
    summary アイテム表
    table.responsive#item
      caption アイテム一覧
      thead
        tr: th 名前 #[th 価格] #[th 重量] #[th タイプ]  #[th 部位] #[th 指定特技] #[th 対象] #[th 特性] #[th 効果]
      each item in itemList
        tr
          td.txt-center= item.name
          td(data-title='価格')= item.j
          td(data-title='重量')= item.weight
          td(data-title='タイプ')= item.type
          td(data-title='部位')= item.area
          td(data-title='指定特技')= item.specialty
          td(data-title='対象')= item.target
          td(data-title='特性')= item.trait
          td(data-title='効果')= item.effect
  p アイテムは戦闘中以外ならば行動を使うことなく、自由に受け渡しできます。
  p セッション中にアイテムを買うことができる機会があります。
    | その際、既に所持しているアイテムをJ換算して買い物を行えます。
    | （例：「価格3Jのほうちょう3つと1J」で「10Jの缶詰1つ」を買うことができます）
  
  h3#decide-name 10.名前の決定
  p キャラクターの名前を決めましょう。

  details
    summary 名前表を使ってランダムに決めることもできます。
    table.chart#table-name
      caption 名前決定表
      thead
        tr: th d6 #[th 説明] 
      each name in nameTable
        tr
          td= name.d6
          td= name.a

    table.chart#table-nickname
      caption 一般愛称表
      thead
        tr: th d66 #[th 奇数] #[th 偶数] 
      each item in nicknameList
        tr
          td= item.d66
          td= item.a
          td= item.b

    table.chart#table-bigname
      caption 有名人愛称表
      thead
        tr: th d66 #[th 奇数] #[th 偶数] 
      each item in bignameList
        tr
          td= item.d66
          td= item.a
          td= item.b

    table.chart#table-lastname
      caption 名字表
      thead
        tr: th d66 #[th 奇数] #[th 偶数] 
      each item in lastNameList
        tr
          td= item.d66
          td= item.a
          td= item.b

    table.chart#table-firstname
      caption 名前表
      thead
        tr: th d66 #[th 男性] #[th 女性] 
      each item in firstNameList
        tr
          td= item.d66
          td= item.a
          td= item.b

    table.chart#table-specialname
      caption 特殊名前表
      thead
        tr: th d66 #[th ジャンル] #[th 例] 
      each item in specialNameList
        tr
          td= item.d66
          td= item.a
          td= item.b



  h3#decide-sex 11.性別・年齢の決定
  p キャラクターの性別は自由に決めることができます。
  p キャラクターの年齢は25歳までです。
    | 年齢によって制限のかかるクラスがあります。
  
  h3#decide-background (12.背景の決定）
  p 望むならば #[a( href="supplement-strange-fields.html#experience") 経験表]を振り、キャラクターの過去を決定することができます。
  details
    summary 経験表
    table.responsive#table-experience
      caption 経験表
      thead
        tr: th d66 #[th 経験] #[th 内容] 
      each item in experienceList
        tr
          td= item.d66
          td.txt-center(data-title=item.d66)= item.a
          td= item.b
  img(src="../assets/images/uni-01.jpg" alt="イメージ画像" title="この先に進むには……  @lioneeeee 様作")
