section#character
  h2#character-title キャラクター
  p プレイヤーはキャンプに暮らす人の中でも、＜フィールド＞に挑む力のある
    | 冒険者と呼ばれるキャラクターを演じます。
  p #[a(href="https://create-now.now.sh/lostrpg/characters/ja/list",rel="noopener noreferrer",target="_blank") →キャラクターシートリスト]
  p #[a(href="https://create-now.now.sh/lostrpg/public/ja/character?id=0kYnDL1AICkY8UjAcaGR",rel="noopener noreferrer",target="_blank") →サンプルキャラクター]

  h3#decide-class 1.クラスの決定
  p クラスはキャラクターの才能や立ち位置を表したものです。
    | これを２つまで選び、キャラクターを作成します。
  p クラスを１つしか選ばなかった場合、アビリティを１つ余分に取得できます。
  p クラスは以下の１２個から選択します。
  .listB
    .container
      each obj in classList
        //- 概要全体にリンクを設定
        article
          a(href="#"+obj.name)
            .image(style="background-image: url('../assets/images/" + obj.image + "');")
            .text
              strong= obj.name
              p= obj.description

  h3#decide-skill 2.特技の決定
  p キャラクターの特技を6つ選んで決定します。習得した特技はその名前を丸で囲んで下さい。
  p アビリティによって指定特技が指定されるので、アビリティから先に決定してもよいでしょう。
  p 特技には「身体部位」と「アクション」というカテゴリがあります。どちらも同様に取得できます。
  p 「身体部位」は身体にある様々な場所のことを表し「※心臓」のように表記されます。
    | 「アクション」は身体部位を使って行う様々なことを表しています。
  p  また、特技は６つの分野に分かれています。縦列が分野となっています。
  p 分野と分野の間の細い空白マスをギャップと呼びます。
    | 代用判定（後述）のときには、このマスも数えます。
    | 【アビリティ】の効果で、このギャップを塗りつぶすことができる場合があります。
    | ギャップを塗りつぶした場合、そのマスは数えないことになります。
    | 通常のキャラクターはギャップを塗りつぶしません。
  //- p #[a(href="chart.html#table-skill") 特技一覧]
  p 「特技を修得する」ということは、アクションの場合は「その動作が得意」、身体部位の場合は「その部位が高性能または丈夫」ということです。

  h3#decide-ability 3.アビリティの決定
  p アビリティとは、キャラクターがゲーム中に使う技や能力のことです。
    | キャラクターのアビリティを、クラスが２つの場合３つ、クラスが１つの場合４つ選んで習得します。
    | アビリティには、以下の要素があります。
  dl
    dt 名前
    dd アビリティの名前です。
      | 同じ名前のアビリティの効果は重複しません。
    dt グループ
    dd 汎用、クラスのグループがあります。
      dl
        dt 汎用グループ
        dd 冒険者なら誰でも習得できます。
        dt クラスグループ
        dd クラスを選択していれば習得できます。
    dt タイプ
    dd 攻撃、支援、補助、割込み、常駐の５つのタイプがあります。
      dl
        dt 攻撃タイプ
        dd 自分の手番に相手を攻撃するために使います。
        dt 補助タイプ
        dd 特技の判定に組み合わせて使います。１つの行為判定に組み合わせられる補助タイプのアビリティは一つだけです。
        dt 支援タイプ
        dd 自分の手番に攻撃以外の行動をするために使われます。
        dt 割込みタイプ
        dd 誰かの行動に割りこんで使用でき、使用しても行動済みになりません。
           | 各キャラクターは同じ名前の割込みタイプの行動を１サイクル（戦闘中ならば1ラウンド）に１回しか行えません。<br>
        dt 常駐タイプ
        dd 習得していれば常に効果を発揮します。
    dt 反動
    dd アビリティを使うことで消費する【気力】の値です。
      | 【気力】がマイナスになるようには消費できません。
    dt 指定特技
    dd アビリティを使用するために判定が必要な特技です。
     dl 
       dt 《指定特技》
       dd 《指定特技》の判定に成功すると効果を発揮します。
       dt なし
       dd 判定をすることなく効果を発揮します。
       dt 自由
       dd アビリティを習得したときに自由に特技を１つ選択します。
       dt 任意
       dd 判定をする時に自由に特技を選ぶことができます。
       dt 可変
       dd 判定をする時にランダムに特技を決定します。#[a(href="supplement-strange-fields.html#random-skill") 1d6を振って分野を、2d6を振って特技を決定してください。]
       dt -
       dd 常駐・補助アビリティです。
          |  常に効果を発揮、または他の判定に組み合わせることで効果を発揮します。 

    dt 対象
    dd アビリティの効果の対象です。

    dt 効果
    dd アビリティの効果です。
    </dl>

  each ability in abilityList
    details
      summary=ability.name+"アビリティ表"
      table(class="responsive", id='ability-'+ability.id)
        caption= ability.name
        thead
          tr: th 名前  #[th グループ] #[th タイプ] #[th 反動] #[th 指定特技] #[th 対象] #[th 効果]
        each item in ability.list
          tr
            td.txt-center= item.name
            td(data-title='グループ')= item.group
            td(data-title='タイプ')= item.type
            td(data-title='反動')= item.recoil
            td(data-title='指定特技')= item.specialty
            td(data-title='対象')= item.target
            td(data-title='効果')= item.effect

  h3#decide-HP 4.体力の決定
  p 【体力】はダメージへの耐久を表す数値です。
    | 【体力】には「基準値」と「現在値」が存在します。
    | ダメージを受けることで減少し、「現在値」が0になると部位ダメージを受ける可能性が発生します。
    | 【体力基準値】の初期値は3点です。ここに、アビリティなどによる修正を加えてください。
    | 単純に「【体力】がx点増加する」と書かれていた場合、「現在値」のことを指します。</p>
  p ゲーム開始時には【体力基準値】の2倍の【体力】を所持しています。
  p 特にアビリティを取得していない場合、キャンプの初期設備による修正を含めて初期作成のキャラクターの【体力基準値】は5点、【体力】は10点になります。

  h3#decide-MP 5.気力の決定
  p
    | 【気力】はやる気や精神力を表す数値です。
    | 【気力】には「基準値」と「現在値」が存在します。
    | アビリティの使用などで減少し、「現在値」が0になると『無力化状態』になり行動不能になります。
    | 【気力基準値】の初期値は3点です。ここに、キャンプの設備やアビリティなどによる修正を加えてください。
    | 単純に「【気力】がx点増加する」と書かれていた場合、「現在値」のことを指します。
    | 「現在値」に上限はありません。
  p ゲーム開始時には【気力基準値】と同じ値の【気力】を所持しています。
  p 特にアビリティを取得していない場合、キャンプの初期設備による修正を含めて初期作成のキャラクターの【気力基準値】は10点、【気力】も10点になります。

  h3#decide-limitedweight 6.所持限界の決定
  p 所持品、つまり装備せずに持ち運べるアイテムの総重量の最大値を【所持限界】といいます。
    | 【所持限界】は【体力】の「基準値」と同じ値です。
  p 特にアビリティを取得していない場合、初期作成のキャラクターの
    | 【所持限界】は5になります。
  
  h3#decide-item 7.アイテムの購入
  p
    | アイテムを購入します。現在、通貨は食料でやり取りされています。
    | 通貨単位は一日分の干し肉＝1J（ジャーキー）です。
    | また、10J=1C(缶詰）となっています。
  p キャラクターは初期状態でリュックサック1つと10Jを所持しています。
    | 最初にこれらを消費して買い物を行ないます。
  p 買い物で使いきらなかったジャーキーはそのまま所持品となります。
    | ジャーキーも重量1なので、所持限界を超えていないか注意してください。
  p アイテムには以下の要素があります。
  dl
    dt 名前
    dd アイテムの名前です。
    dt 価格
    dd アイテムの価格です。単位は1Jで表されています。
    dt 重量
    dd アイテムの重量です。重量1=1Wと略すこともあります。
       | キャラクターは総重量が所持限界までの所持品を持ち運ぶことができます。
       | 所持品とは装備していないアイテムのことを指します。
    dt タイプ
    dd 装備、支援、割込み、道具の4つのタイプがあります。
      dl
        dt 装備タイプ
        dd 装備している限り常に効果を発揮します。
          | 装備しているアイテムの重量は所持限界から無視されます。
        dt 支援タイプ
        dd 探索フェイズや戦闘中の自分の手番に使用出来ます。支援タイプのアイテムを使用すると行動済みになります。
        dt 割込みタイプ
        dd 誰かの行動に割りこんで使用でき、使用しても行動済みになりません。
          | 各キャラクターは同じ名前の割込みタイプのアイテムを１サイクル（戦闘中ならば1ラウンド）に１回しか使えません。
          | ただし消耗品は同じ名前のアイテムを1サイクルに複数個使うことができます。
        dt 道具タイプ
        dd 所持していると判定に有利になることがあります。
    dt 部位
    dd 装備タイプのアイテムには装備する部位が書かれています。
      ul 
        li 同じ部位に2つのアイテムを装備することはできません。
        li ただし、装備部位が指定されていない装備タイプのアイテムはいくつでも装備できます。
        li 片手には装備する代わりに、任意のタイプのアイテムを1つ持つこともできます。
        li 片手に持ったアイテムの重量は所持限界から無視されます。
    dt 指定特技
    dd アイテムを使用するために判定が必要な特技です。
       | 「-」とかかれている場合、判定をすることなく効果を発揮します。
       |  2つ以上の指定特技がかかれている場合、どちらの特技を使用しても構いません。
    dt 対象
    dd アイテムの効果の対象です
    dt 特性
    dd アイテムの特性です。以下の種類があります。
      dl
        dt 武器
        dd 武器です。《指定特技》の判定に成功すると対象に[攻撃力]点のダメージを与えます。 
        dt 白兵
        dd 白兵武器です。
        dt 射撃
        dd 射撃武器です。
        dt 防具
        dd 防具です。
        dt 袋
        dd 袋です。
           ul
             li このアイテムは所持しているだけで効果を発揮します。
             li 袋の中に入れたアイテムの重量を所持限界から無視します。
             li 袋の中に入れられた袋は上記の効果を発揮しません。
             li 袋の中に入れられているアイテムを戦闘中に使用することはできません。
             li 戦闘中に袋からアイテムを取り出す行為は支援行動です。
        dt 収納不可
        dd このアイテムは袋の中に入れることができません。
        dt 食料
        dd 食料です。食料として使用すると失われます。
        dt 消耗品
        dd 使用回数がない場合、一度使用すると失われます。
        dt 充電
        dd 使用するには充電が必要です。
          |  使用回数がない場合、一度充電したらセッション終了まで使用できます。
        dt 使用回数：x
        dd 消耗品ならば、x回使用すると失われます。
           | 充電ならば、x回使用すると再度充電が必要です。
           | 使用回数が残っている時に充電を行なっても使用回数がxを超えることはありません。
        dt 購入不可
        dd 探索やドロップにより手に入るアイテムです。GMが特別に許可した場合を除き、購入はできません。
    dt 効果
    dd アイテムの効果です。

  details
    summary アイテム表
    table.responsive#item
      caption アイテム一覧
      thead
        tr: th 名前 #[th 価格] #[th 重量] #[th タイプ]  #[th 部位] #[th 指定特技] #[th 対象] #[th 特性] #[th 効果]
      each item in itemList
        tr
          td.txt-center= item.name
          td(data-title='価格')= item.j
          td(data-title='重量')= item.weight
          td(data-title='タイプ')= item.type
          td(data-title='部位')= item.area
          td(data-title='指定特技')= item.specialty
          td(data-title='対象')= item.target
          td(data-title='特性')= item.trait
          td(data-title='効果')= item.effect
  p アイテムは戦闘中以外ならば行動を使うことなく、自由に受け渡しできます。
  p セッション中にアイテムを買うことのできる機会があります。
    | その際、既に所持しているアイテムをJ換算して買い物を行えます。
    | （例：「価格3Jのほうちょう3つと1J」で「10Jの缶詰1つ」を買うことができます）
  
  h3#decide-name 8.名前の決定
  p キャラクターの名前を決めましょう。
  p 表を振ってランダムに決めることもできます
  details
    summary 名前表
    table.chart#table-name
      caption 名前決定表
      thead
        tr: th d6 #[th 説明] 
      each name in nameTable
        tr
          td= name.d6
          td= name.a

    table.chart#table-nickname
      caption 一般愛称表
      thead
        tr: th d66 #[th 奇数] #[th 偶数] 
      each item in nicknameList
        tr
          td= item.d66
          td= item.a
          td= item.b

    table.chart#table-bigname
      caption 有名人愛称表
      thead
        tr: th d66 #[th 奇数] #[th 偶数] 
      each item in bignameList
        tr
          td= item.d66
          td= item.a
          td= item.b

    table.chart#table-lastname
      caption 名字表
      thead
        tr: th d66 #[th 奇数] #[th 偶数] 
      each item in lastNameList
        tr
          td= item.d66
          td= item.a
          td= item.b

    table.chart#table-firstname
      caption 名前表
      thead
        tr: th d66 #[th 男性] #[th 女性] 
      each item in firstNameList
        tr
          td= item.d66
          td= item.a
          td= item.b

    table.chart#table-specialname
      caption 特殊名前表
      thead
        tr: th d66 #[th ジャンル] #[th 例] 
      each item in specialNameList
        tr
          td= item.d66
          td= item.a
          td= item.b



  h3#decide-sex 9.性別・年齢の決定
  p キャラクターの性別は自由に決めることができます。
  p キャラクターの年齢は25歳までです。
    | 年齢によって制限のかかるクラスがあります。
  
  h3#decide-background (10.背景の決定）
  p 望むならば #[a( href="supplement-strange-fields.html#experience") 経験表]を振り、キャラクターの過去を決定することができます。
  details
    summary 経験表
    table.responsive#table-experience
      caption 経験表
      thead
        tr: th d66 #[th 経験] #[th 内容] 
      each item in experienceList
        tr
          td= item.d66
          td.txt-center(data-title=item.d66)= item.a
          td= item.b
  img(src="../assets/images/uni-01.jpg" alt="イメージ画像" title="この先に進むには……  @lioneeeee 様作")
