section#check
  h2#h2-check 行為判定
  p キャラクターが成功するか失敗するか分からない行動をとったときには行為判定を行います。
  
  h3#check-flow 行為判定の流れ
  p 行為判定は以下の順番で行います。#[a(href="summary.html#check") →サマリー]

  h4 A:指定特技の決定
  p 行為判定を行う場合、ゲームマスターがその行為判定に使うのにふさわしい
    | 特技を選んで決定します。これを《指定特技》といいます。
    | アビリティを使用するときの行為判定などは、
    | あらかじめルールで特技が指定されています。

  h4 B:特技の確認
  p プレイヤーは、決定された特技を自分のキャラクターが習得しているかどうかを確認します。
  p 指定された特技を習得していなかった場合、習得している特技の中から、
    | 《指定特技》に最も近いものを探します。そして、探し出した特技をスタート地点として
    | 《指定特技》まで上下左右に何マス離れているか数えて下さい。特技リストの各分野の
    | 間にあるギャップも1マスと数えます。
    | ただし、塗りつぶされているギャップはないものとして扱います。
  p こうして、習得している特技で別の特技の判定を行うことを、特技の代用による代用判定といいます。

  h4 C:目標値の確認
  p 行為判定の目標値を算出します。目標値が高ければ高いほど、その行為判定は難しいことになります。
  p 行為判定の目標値は「5＋習得している特技から《指定特技》までのマス数」です。
    | 習得している特技が《指定特技》と同じ場合、マス数は0です。

  h4 D:サイコロを振る
  p 目標値の算出が終わったら2D6を振ります。その目が目標値以上であれば、
    | 行為判定は成功です。目標値未満の目が出た場合、行為判定は失敗です。
  .diceroll-sample
    .success
      .
        <code>2D6 >= 目標値</code> <span class="icon">成功！</span>
    .fail
      .
        <code>2D6 <  目標値 </code> <span class="icon">失敗！</span>
  p このようにして行為判定で行動の成功と失敗が決まります。
  p また、行為判定には「修正」「特別な出目」「プレイヤーの提案」という3つの特例があります。

  h3#check-adjusting 修正
  p 成功しやすい行動や失敗しやすい行動には修正が発生する可能性があります。
    | 成功しやすい行動にはプラスの修正がつき、失敗しやすい行動にはマイナスの修正がつきます。
  p 判定に修正がついた場合、2D6の目に修正の値を加えます。
    | 2D6に修正を加えた値を達成値と呼びます。
  p 達成値が目標値以上の場合、行為判定は成功となります。

  h3#check-special  特別な出目
  p 行為判定で特別な出目を出すと、特殊な状況が発生します。
    | 特殊な出目にはファンブルとスペシャルがあります。
  
  h4 ○ファンブル
  p 行為判定で2D6の出目が2つとも1だった場合、ファンブルが発生します。
    | ファンブルとは思いもよらぬ大失敗です。
    | 修正により達成値が目標値以上になったとしても、
    | 必ず行為判定は失敗になります。
  p 命中判定でファンブルを振った場合、命中ファンブル表を、
    | 回避判定でファンブルを振った場合には、回避ファンブル表を振ります。
  p 判定へのマイナス修正によってファンブルが起こることはありません。
  p 大失敗からは得るものも多いです。結果フェイズで、[ファンブル回数]点の経験点を得ます。ファンブルの回数はメモしておきましょう。
  p 拡張ルール： #[a(href="supplement-strange-fields.html#fumble-initiative")  先制判定ファンブル表]

  details
    summary ファンブル表
    table.chart#fumble-attack
      caption 命中判定ファンブル表
      thead
        tr: th d6 #[th 説明] 
      each name in fumbleAttackList
        tr
          td= name.d6
          td= name.a

    table.chart#fumble-dodge
      caption 回避判定ファンブル表
      thead
        tr: th d6 #[th 説明] 
      each name in fumbleDodgeList
        tr
          td= name.d6
          td= name.a

  h4 ○スペシャル
  p 行為判定の2D6の出目が2つとも6だった場合、スペシャルが発生します。
    | スペシャルとは偶然に助けられた素晴らしい成功です。達成値が目標値未満だったとしても、
    | 必ず行為判定は成功になります。
  p スペシャルが発生した場合、【気力】が1D6点増加し、変調が1つ解除されます。
  p 命中判定でのスペシャルでは、さらに命中スペシャル表を振りその効果を適用します。
  p 判定へのプラス修正によってスペシャルが起こることはありません。
  p 拡張ルール： #[a(href="supplement-strange-fields.html#special-initiative")  先制判定スペシャル表]

  details
    summary 命中判定スペシャル表
    table.chart#special-attack
      caption 命中判定スペシャル表
      thead
        tr: th d6 #[th 説明] 
      each name in specialAttackList
        tr
          td= name.d6
          td= name.a
  
  h3#check-pl-proposal プレイヤーの提案
  p プレイヤーは、ロールプレイによって《指定特技》の変更を提案することができます。
  p プレイヤーは、まずキャラクターが特技をどのように使って技能判定を行うか、具体的に説明します。
  p ゲームマスターが説明に納得した場合、《指定特技》は変更されます。
    | また説明の内容によっては、修正をいれて判定を行わせることもできます。
    | 相応しいロールプレイを行い、行為判定の処理を続けてください。
    | 納得できなかった場合、
    | ゲームマスターは提案を拒否することができます。
  p 例1：撤退判定を行う時、プレイヤーから周囲に物が多いので《指定特技》を《隠れる》に変更できないか、と提案されました。
    | 戦闘が障害物の多い建物で行われていたため、GMは納得し、指定特技の変更を許可します。PCは棚の後ろに隠れ、屈みこんでやり過ごして逃げて行きました。
  p 例2：撤退判定を行う時、プレイヤーから周囲に茂みが多いので《指定特技》を《隠れる》に変更できないか、と提案されました。
    | 戦闘が森の中で行われていますが、音の立てやすい茂みに隠れてやり過ごすのは難しいと感じたため、マイナス3の修正で《隠れる》で判定することを許可しました。

  h3#check-when 判定するときしないとき
  p ゲームマスターは、セッションが楽しくなるように、判定を行うかどうか判断します。
  h4 判定するとき
  ul 
    li キャラクターが成功するか失敗するか分からない行動をとったとき
    li ダイスを振ったほうが盛り上がるとき
  h4 判定しないとき
  ul 
    li キャラクターの行動が確実に成功するとき
    li キャラクターの行動が確実に失敗するとき
    li キャラクターの行動の成否が問題にならないとき
    li ダイスを振っても盛り上がらないとき

  img(src="../assets/images/uni-02.jpg" alt="イメージ画像" title="廃墟の森に一人  @lioneeeee 様作")
