hr
// *******************************************************
section#GMpart
  hgroup
    h1#make-boss ＜ヌシ＞の作成
    h2 1.名前・外見
    p
      | 名前や外見は自由に決めて下さい。
      | ＜ヌシ＞の外見は動物を中心に、機械や災害などの要素を組み合わせたものが多いようです。
    h2 2.レベル
    p
      | レベルは、＜ヌシ＞の強さを大まかに表す数値です。
    p 初期作成の冒険者を相手にする場合、人数と等しい数にするとよいでしょう。
    h2 3.特技
    p ＜ヌシ＞は全ての特技を習得しています。
    h2 4.ギャップ
    p ＜ヌシ＞は特技リストのギャップを埋めません。
    h2 5.アビリティ
    p
      | ＜ヌシ＞はヌシグループの【アビリティ】をまず４つ習得しています。
      | さらに、レベルと同じ数の【アビリティ】を全てのグループから習得できます。
    details
      summary エネミーアビリティ
      table(class="responsive", id='ability-enemy')
        caption エネミーアビリティ
        thead
          tr: th 名前 #[th グループ]  #[th タイプ] #[th 反動] #[th 指定特技] #[th 対象] #[th 効果]
        each item in enemyAbilityList
          tr
            td.txt-center= item.name
            td(data-title='グループ')= item.group
            td(data-title='タイプ')= item.type
            td(data-title='反動')= item.recoil
            td(data-title='指定特技')= item.specialty
            td(data-title='対象')= item.target
            td(data-title='効果')= item.effect
    p ＜ヌシ＞は4レベル以降は2つ、8レベル以降は3つの補助アビリティを組み合わせることができます。
    h2 6.体力
    p ＜ヌシ＞は[レベル×5]点の【体力】を持っています。
    h2 7.気力
    p ＜ヌシ＞は[10+レベル]点の【気力】を持っています。
// GMpart
