section#session
  hgroup
    h1#session-title セッション
    p
      | 一回のゲームのことをセッションと呼びます。
    p
      | セッションは、いくつかのフェイズに分かれています。
      | 各フェイズは順番に進行していきます。
    ol
      li キャンプフェイズ
      li 探索フェイズ
      li 決戦フェイズ
      li 結果フェイズ
hr
section#cycle
  hgroup
    h1#session-cycle-title サイクル
    p
      | このゲームでは、セッション中のプレイヤーの行動機会を均等にするために、
      | サイクルという概念を使用します。
      | 基本的に、各プレイヤーは1サイクルに1回、主要な行動を行えます。
      | どんな行動ができるかはフェイズによって異なります。仲間と相談したり、
      | 周囲の様子を確かめたりといった簡単な行動には、回数の制限はありません。
    p
      | サイクル中に行動を行うプレイヤーの順番は、それぞれのフェイズのルールで決めます。
      | 同じタイミングで行動を行うプレイヤーが複数いる場合には、
      | その順番はプレイヤー間で相談して決めます。
    p
      | 行動はプレイヤー1人ごとに処理します。
    p
      | 全プレイヤーの行動が終了した時に、サイクルは終了します。そして、また新しいサイクルが
      | はじまり、プレイヤー全員が1回ずつ主要な行動をとれます。
    h2#session-cycle-ready-done 未行動と行動済み
    p
      | サイクル中にキャラクターが行動を終わらせた後の状態のことを、行動済みと呼びます。
    p
      | 行動を終わらせていないキャラクターは未行動という状態です。
      | 未行動のキャラクターは、そのサイクルにまだ行動をとることができます。
    p
      | 新しいサイクルが始まった時に、行動済みのキャラクターは全員が未行動になります。

hr
section#campF
  hgroup
    h1#campF-title キャンプフェイズ
    p
      | 冒険者のキャンプでの行動を処理するフェイズです。
      | このフェイズでは事件の発端と探索の準備を行います。
    h2#campF-prologue プロローグ
    p
      | キャンプフェイズが始まったら、GMはプロローグの処理を行います。
      | ここでは、シナリオの背景や＜フィールド＞へ冒険者たちが向かうための動機を描写します。
      | また、探索フェイズが何サイクルで終了するかのリミットを伝えて下さい。
    p
      | 主な動機として、物資の調達、他のキャンプへの護衛、迷い込んだ仲間の救出、＜フィールド＞の
      | 拡大を防ぐなどが考えられるでしょう。
    p
      | シナリオによっては判定や戦闘を行なえます。時間がない場合は
      | 探索に出るまでの経緯を簡単に説明するだけでもかまいません。
    h2#campF-actions 行動の処理
    p プロローグが終了すると、各キャラクターは探索の準備をすることができます。
    p
      | 行動の処理は1サイクルです。
      | 各キャラクターは以下の行動から1つ選んで行動の処理を行なって下さい。
    dl
      dt 散策
      dd
        | 2D6を振って、散策表の結果を適用します。
        | 複数人が散策を行い、同じ結果が出た場合、表の効果は重複します。
        details
          summary 散策表
          table.chart#walking
            caption 散策表
            thead
              tr: th 2d6 #[th 結果] 
            each item in walkingList
              tr
                td= item["2d6"]
                td= item.a
      dt 施設の利用
      dd キャンプにある施設の効果を使用します。
      dt 人材の利用
      dd キャンプにいる人材の効果を使用します。
      dt アビリティなどの使用
      dd タイプが支援のアビリティやアイテムを使用します。
      dt パス
      dd 特に何もしません。

hr
section#exploration
  hgroup
    h1#exploration-title 探索フェイズ
    p
      | 探索フェイズは、キャンプから目的の＜フィールド＞に侵入し、
      | 訪れる場所である＜チェックポイント＞ごとに障害の突破と探索を繰り返すフェイズです。
    p
      | 探索フェイズにはリミットが存在し、
      | プロローグで伝えられたリミットのサイクルが経過すると終了します。
      | 冒険者は探索フェイズの終了までに＜チェックポイント＞を辿り、
      | ＜ヌシ＞のいる所まで辿り着いてください。
    p
      | 探索フェイズの1サイクルは「移動」→「描写」
      | →「行動の処理」の順に処理を行います。探索フェイズの1サイクルで経過する時間は
      | およそ1日が目安です。GMの任意で1サイクルの時間は自由に調整してかまいません。
    p GMは #[a(href='https://create-now.vercel.app/lostrpg/public/ja/scenario?id=gCEg1GNpTmbkjPwy1g8g',target='_brank') サンプルシナリオ2:嵐の濁流]のチャートも参考にしてください。（※PLはネタバレ注意)
    h2#exploration-move 移動
    p
      | 隣接する＜チェックポイント＞へ移動します。
      | ただし、その間に＜障害＞が設置されている＜チェックポイント＞への移動は行えません。
    p
      | 移動の際には敵の遭遇が発生する可能性があります。
      | GMはランダムエンカウント表Aを振り、その結果を適用してください。
    p
      | 障害の突破が行えず、次の＜チェックポイント＞に向かえない時など
      | 移動をパスすることもできます。その場合ランダムエンカウントは
      | 発生しません。
    details
      summary ランダムエンカウント表
      table.chart#table-randomencountA
        caption ランダムエンカウント表A
        thead
          tr: th d6 #[th 説明] 
        each name in randomEncountListA
          tr
            td= name.d6
            td= name.a

      table.chart#table-randomencountB
        caption ランダムエンカウント表B
        thead
          tr: th d6 #[th 説明] 
        each name in randomEncountListB
          tr
            td= name.d6
            td= name.a

    p
      details
        summary エネミー表
        table.responsive#enemylist
          caption エネミー
          thead
            tr: th 名前 #[th レベル] #[th タイプ] #[th 体力]  #[th 気力] #[th 特技] #[th アビリティ] #[th 解説]
          each enemy in enemyList
            tr
              td.txt-center= enemy.name
              td(data-title='レベル')= enemy.lv
              td(data-title='タイプ')= enemy.group
              td(data-title='体力')= enemy.stamina
              td(data-title='気力')= enemy.willpower
              td(data-title='特技')= enemy.specialties
              td(data-title='アビリティ')= enemy.abilities
              td(data-title='ドロップ')= enemy.drop
              td(data-title='解説')= enemy.comment
        table.responsive#droplist
          caption ドロップ
          thead
            tr: th 1d6 #[th ムシA] #[th  ムシB] #[th  ムシC] #[th ケモノA]  #[th ケモノB] 
          each drop in dropList
            tr
              td.txt-center= drop.d6
              td(data-title='ムシA')= drop.a
              td(data-title='ムシB')= drop.b
              td(data-title='ムシC')= drop.c
              td(data-title='ケモノA')= drop.d
              td(data-title='ケモノB')= drop.e
        table(class="responsive", id='ability-enemy')
          caption エネミーアビリティ
          thead
            tr: th 名前 #[th グループ]  #[th タイプ] #[th 反動] #[th 指定特技] #[th 対象] #[th 効果]
          each item in enemyAbilityList
            tr
              td.txt-center= item.name
              td(data-title='グループ')= item.group
              td(data-title='タイプ')= item.type
              td(data-title='反動')= item.recoil
              td(data-title='指定特技')= item.specialty
              td(data-title='対象')= item.target
              td(data-title='効果')= item.effect
    div(style='display:flex;flex-wrap:wrap;align-items: flex-start;')
      img(src="../assets/images/monster/debudori.png" width="200" alt="イメージ画像：デブドリ" title="でぶどり  @eugle777 様作")
      img(src="../assets/images/monster/tsunousagi.png" width="200"  alt="イメージ画像：ツノウサギ" title="ツノウサギ @hagure_g 様作")
      img(src="../assets/images/monster/onitombo.png" width="200"  alt="イメージ画像：オニトンボ" title="オニトンボ @hagure_g 様作")
      img(src="../assets/images/monster/nagamukade.png" width="200"  alt="イメージ画像：ナガムカデ" title="ナガムカデ @hagure_g 様作")
      img(src="../assets/images/monster/yoroibachi.png" width="200"  alt="イメージ画像：ヨロイバチ" title="ヨロイバチ @hagure_g 様作")
      img(src="../assets/images/monster/koumoriinu.png" width="250"  alt="イメージ画像：コウモリイヌ" title="コウモリイヌ @hagure_g 様作")
      img(src="../assets/images/monster/tinurekarasu.png" width="150"  alt="イメージ画像：チヌレガラス" title="チヌレガラス @hagure_g 様作")
      img(src="../assets/images/monster/zombi.png" width="250"  alt="イメージ画像：ゾンビ" title="ゾンビ @hagure_g 様作")
      img(src="../assets/images/monster/haganekabuto.png" width="300"  alt="イメージ画像：ハガネカブト" title="ハガネカブト @hagure_g 様作")

    h2#exploration-view 描写
    p
      | ＜チェックポイント＞の描写を行います。
      | ＜チェックポイント＞とは、＜フィールド＞に存在する構造物や地形で、
      | 冒険者たちが訪れる場所のことです。
      | GMは＜チェックポイント＞がどのような場所か、何があるか、道はどちらに続いているか、
      | どんな生き物がいるか、などの説明をします。
    p
      | その場所にいる生き物によっては戦闘になる可能性もあります。
      | また、他の冒険者や行商人などとは交渉が発生する場合もあります。
    p
      | 場所によっては特殊な効果が発生することもあります。例えば、寒い場所なので行為判定マイナス1、花畑なので休憩時【気力】プラス1などです。
    p 風景描写・戦闘・交渉などが終わったら、行動の処理になります。
    h2#exploration-actions 行動の処理
    p
      | 各キャラクターは以下の行動から１つ選んで、
      | 行動の処理を行います。

    dl.table-dl
      dt 障害の突破
      dd 障害の突破を試みます。
      dt 探索
      dd 森の探索を行いアイテムを入手します。

      dt 休憩
      dd 休んで【気力】を増加させます。

      dt 支援行動
      dd
        | 支援タイプのアビリティやアイテムを使用します。
        | または、GMが支援行動とみなした行動を行います。
      dt オブジェクトへの接触
      dd
        | ＜チェックポイント＞にあるオブジェクトに対して行動します。
        | オブジェクトとは、木や建物、人物や動物などGMがオブジェクトとして設定したものをいいます。
        | オブジェクトへの接触で何が起こるかはGMが決めます。
      dt パス
      dd 特に何もしません。
    h3#exploration-actions-toppa ■障害の突破
    h4 ＜障害＞
    p
      | GMは新たな＜チェックポイント＞へ続く道に任意の数の＜障害＞を設置できます。
      | ＜障害＞ごとに突破するための《指定特技》を決定してください。
      | 同じ＜障害＞を複数設置することも可能です。
      | また、2つの道を塞ぐように＜障害＞を設置することも可能です。
    h4 突破
    p
      | 冒険者は、＜障害＞に設定された《指定特技》の判定に成功することで、
      | 障害を1つ突破できます。これを突破判定と呼びます。
    p
      | 新たな＜チェックポイント＞への道に設置された＜障害＞が全て突破されるまで、
      | その＜チェックポイント＞へは移動できません。＜障害＞が全て突破された時、GMは
      | 道の先の＜チェックポイント＞の簡単な説明をしてください。
      | 道の先に＜ヌシ＞がいる場合、そのことも伝えて下さい。
    h4 《指定特技》の変更
    p
      | プレイヤーは、突破判定の《指定特技》の変更を提案することができます。
      | GMはその提案を聞き、納得した場合、《指定特技》を提案されたものに変更します。
    h3#exploration-actions-explorer ■探索
    h4 アイテムの探索
    p 2D6を振り、探索表の結果を適用します。
    details
      summary 探索表
      table.chart#table-explorer
        caption 探索表
        thead
          tr: th 2d6 #[th 説明] 
        each name in explorerList
          tr
            td= name["2d6"]
            td= name.a
    h3#exploration-actions-rest ■休憩
    p
      | 2D6を振り、休憩表の結果を適用します。
    details
      summary 休憩表
      table.chart#table-rest
        caption 休憩表
        thead
          tr: th 2d6 #[th 説明] 
        each name in restList
          tr
            td= name["2d6"]
            td= name.a
    h3#exploration-actions-use-ability ■アビリティなどの使用
    p 支援タイプのアビリティやアイテムを使用できます。
    h3#exploration-actions-touch-object ■オブジェクトへの接触
    p
      | オブジェクトを調べたり、会話したりできます。GMは判定が必要な場合、《指定特技》を決定し、
      | 成功したら何が起こるか決めておいてください。
    p 例1：オブジェクトの行商人から買い物を行う。
    p 例2：オブジェクトの果物の木から収穫する。指定特技は《掴む/腕部7》で成功すると果物(2J)を得る。
    p 例3：オブジェクトの商店街を探索する。1D6を振って商店街探索表を参照する。「1:何もなし/2,3:食料発見(1J)/4,5:嗜好品/6:好みのおもちゃ発見(気力+3)」
    h3#exploration-pass ■パス
    p なにもしません
    h2#exploration-limit リミット
    p
      | 探索フェイズのサイクル数にはリミットが定められています。これは、冒険者たちが所持している
      | 食料の残量や疲労による探索の限界を表しています。リミットであるサイクルが終了するまでに、
      | ＜ヌシ＞のいる場所への＜障害＞を突破できていない場合、セッションは失敗となります。
    p
      | リミットのサイクル数は、[＜チェックポイント＞の数+1]程度が目安です。
      | キャラクターの人数や＜障害＞の数で増減してください。
    h3#exploration-limit-add リミットの増加
    p
      | GMは＜チェックポイント＞に、「水場」や「シェルター」など安全に休めそうなオブジェクトを「リミット増加用オブジェクト」として設置できます。
      | リミット増加用オブジェクトがある場合、
      | 人数分の食料を消費し、誰か1人が指定特技《休む／環境7》の判定に成功することでリミットを1増加させることができます。
    p
      | リミットの増加は試みる度にマイナス[リミットの増加を試みた回数]の
      | 修正がはいります。最初の挑戦なら修正なし、
      | 2回めにはマイナス1、3回めはマイナス2…のようになります。
    p リミットの増加は割込み行動として1サイクルに1度行うことができ、試みても行動済みとなりません。
