extends includes/common/_layout
block title
  include includes/campaign/mother/variables
  - var bodyClass = "nohero"

  -
    var itemList = [
    {"name":"抗生物質","j":"10","weight":"1","type":"割込み","area":"-","specialty":"-","target":"自身","trait":"消耗品","effect":"変調を全て回復する"},
    {"name":"特製はちみつドリンク","j":"10","weight":"1","type":"割込み","area":"-","specialty":"-","target":"自身","trait":"消耗品","effect":"体力+2、気力+2。甘ったるく、生薬の香りが強い。喉とお腹が熱くなる味。"},

    ]
  -
    var objectKansuiHaikyoList = [
      {"d6":"1","event":"川の中の瓦礫の陰から、ダーツフィッシュが1d6体現れました。襲ってきます。"},
      {"d6":"2","event":"すでに何者かに荒らされており、何も見つかりませんでした。ヒルにかまれそうになりましたが、全力で振り払いました。"},
      {"d6":"3","event":"元住民の保存食を見つけました。ありがたく頂戴し、[2d3]Jを獲得しました。"},
      {"d6":"4","event":"元住民の持っていた[ダウジングツール(2J,1W)]を見つけました。ありがたく頂戴しました。"},
      {"d6":"5","event":"誰かの残した[手書きのメモ(5J,0W)]見つけました"},
      {"d6":"6","event":"宝物発見！　[価格:4J]までの好きなアイテムを3つ獲得できます。"},

    ]

  - 
    var randomEncountListA = [
      {"d6":"1",   "a": "ダーツフィッシュ[1D6+PT人数]体と戦闘になります。"},
      {"d6":"2",   "a": "スカイナイフ[1D3]体と戦闘になります。"},
      {"d6":"3",   "a": "ヨロイバチ[PT人数÷2]体と戦闘になります。"},
      {"d6":"4",   "a": "ゾンビ[1D6]体と戦闘になります。"},
      {"d6":"5",   "a": "オニトンボ[1D6+PT人数]体と戦闘になります。"},
      {"d6":"6",   "a": "他の冒険者と出くわし、語らいます。全員【気力】が1D6点増加します。"},

    ]

    var objectKamakuraList = [
      {"d6":"1","event":"かまくらの中には良い香りの花が咲いていました。ラベンダー(1J,0W,【腐敗】を１回だけ無効化)を1つ手に入れます。"},
      {"d6":"2","event":"小屋の中の収納箱から　コカの葉（0W,割込、体力+2）を見つけました。"},
      {"d6":"3","event":"弱った雪兎たちを仕留めました！　1Jを獲得。"},
      {"d6":"4","event":"元住民の持っていた[たいまつ]を見つけました。保存状態は良好。ありがたく頂戴しました。"},
      {"d6":"5","event":"急な寒さで弱った獣を仕留めました！　貴重なタンパク源です。　2Jを獲得。"},
      {"d6":"6","event":"宝物発見！　[価格:５J]までの好きなアイテムを2つ獲得できます。更に白クマを仕留めました。+3J"},

    ]


  -
    var objectKurayamiHaikyo = [
      {"d6":"1","event":"何も見つかりませんでした。　しかも数十匹のコウガイビルに噛まれました。　気力-1"},
      {"d6":"2","event":"1Jの保存食を発見しました。ありがたくいただきました。"},
      {"d6":"3","event":"箱の中からなんこうを２つ見つけました。ありがたくいただきましょう。"},
      {"d6":"4","event":"元住民の持っていた[たいまつ]を見つけました。保存状態は良好。ありがたく頂戴しました。"},
      {"d6":"5","event":"高級品「抗生物質」を見つけました。ありがたく頂戴しました。"},
      {"d6":"6","event":"僥倖！　保存状態が完璧な[缶詰]を発見しました。"},

    ]


  -
    var enemyList1 = [
      {"name":"ヒトクイコウモリ","lv":"1","group":"ケモノ","stamina":"1","willpower":"3","specialties":"《跳ぶ》《噛む》《落ちる》","abilities":"【噛みつき】","drop":"ケモノA","comment":"全長60cmほどのコウモリ。生餌も死肉も好む"},

    ]

  -
    var enemyAbilityList = [
      {"name":"噛みつき","group":"ケモノ","type":"攻撃","recoil":"0","specialty":"《噛む》","target":"単体","effect":"指定特技の判定に成功すると対象に2点のダメージを与える。"},

    ]

  -
    var enemyList2 = [
      {"name":"コウモリイヌ","lv":"2","group":"ケモノ","stamina":"6","willpower":"5","specialties":"《走る》《聴く》《噛む》","abilities":"【牙】【撹乱音波】【体当たり：《噛む》】","drop":"ケモノA","comment":"コウモリのような顔をした目のない犬。超音波で獲物を捕らえる。"},

    ]
  -
    var enemyAbilityList2 = [
      {"name":"体当たり","group":"ケモノ","type":"攻撃","recoil":"0","specialty":"自由","target":"単体","effect":"指定特技の判定に成功すると対象に1点のダメージを与える。この時命中判定の達成値にプラス2の修正がつく。"},
      {"name":"牙","group":"ケモノ","type":"補助","recoil":"2","specialty":"-","target":"-","effect":"命中判定に組み合わせて使用する。ダメージを2点増加させる。"},
      {"name":"撹乱音波","group":"ミュータント","type":"補助","recoil":"1","specialty":"-","target":"-","effect":"命中判定に組み合わせて使用する。攻撃が命中した相手は、次のラウンドの終了まで全ての行為判定の達成値にマイナス１の修正がつく。"},

      ]



  -
    var objectFlowerGarden = [
      {"d6":"1","event":"何も見つかりませんでした。美しい花を見て休憩します。気力+1。"},
      {"d6":"2","event":"1Jぶんの保存食を発見し、美しい花を見て休憩します。気力+2。"},
      {"d6":"3","event":"花のベッドを見つけました。フカフカです。少しだけ休憩していきましょう。体力+2 気力+5"},
      {"d6":"4","event":"「コカの葉」を２枚見つけました。さらに、美しい花を見て休憩します。気力+4。"},
      {"d6":"5","event":"キャンピングに使われていたものでしょうか？　「テント」を発見しました！ 更に美しい花の香りで気力+3。"},
      {"d6":"6","event":"牧場施設から宝物発見！　[価格:5J]までの好きなアイテム/武器/防具を1つ獲得できます。更に美しい花の香りで気力が基準値の半分回復。"},

    ]

  -
    var enemyListBoss = [
      {"name":"アクマ","lv":"4","group":"ヌシ/ミュータント","stamina":"24","willpower":"18","specialties":"すべて","abilities":"【醜悪な眼光】【大暴れ】【電撃】【牙】【押し倒し】【習性：体力が0になった】【恒常性】","drop":" ＜星の欠片＞","comment":"恐ろしい姿をした蛇。ムカデのような形をした醜い虫を手下に従えている。"},
    ]
  -
    var enemyAbilityListBoss = [
      {"name":"醜悪な眼光","group":"ヌシ","type":"攻撃","recoil":"3","specialty":"《見つける》","target":"全体","effect":"目標の体力と気力に[醜い虫の数]+2点のダメージを与える。このアビリティの命中判定に＋[醜い虫の数]の修正を得る。<本気>中は使用できない。"},
      {"name":"大暴れ","group":"ヌシ","type":"攻撃","recoil":"0","specialty":"《※感覚器》","target":"単体","effect":"<本気状態>でのみ使用。自身と対象に2d6点のダメージを与える。"},
      {"name":"電撃","group":"ヌシ","type":"攻撃","recoil":"2","specialty":"《仕掛ける》","target":"単体","effect":"攻撃が成功すると目標に3点のダメージを与え、さらに『麻痺』の変調を与える。"},
      {"name":"牙","group":"ケモノ","type":"補助","recoil":"2","specialty":"-","target":"-","effect":"命中判定に組み合わせて使用する。ダメージを2点増加させる。"},
      {"name":"押し倒し","group":"ビッグ","type":"補助","recoil":"2","specialty":"-","target":"-","effect":"白兵攻撃や肉体を使った攻撃の命中判定に組み合わせて使用する。対象に『転倒』の変調を与える。"},
      {"name":"習性","group":"ヌシ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"その戦闘中に条件を満たした時、追加行動を得る。条件は【体力】が0になった時"},
    ]
  -
    var enemyList3 = [
      {"name":"醜い虫","lv":"2","group":"ムシ","stamina":"3","willpower":"2","specialties":"全て","abilities":"【大アゴ】【ヌシのわけみ】【炎弱点】","drop":"-","comment":"アクマの周囲に湧いているムカデのようなムシ。"},
    ]
  -
    var enemyAbilityList3 = [
      {"name":"大アゴ","group":"ムシ","type":"攻撃","recoil":"0","specialty":"《噛む》","target":"単体","effect":"指定特技の判定に成功すると対象に3点のダメージを与える。"},
      {"name":"ヌシのわけみ","group":"ヌシ","type":"常駐","recoil":"-","specialty":"-","target":"-","effect":"すべての判定にマイナス3の習性がつく。ヌシに暴露を与えた際、同時に情報が開示される。ヌシの死亡と同時に死亡する。"},
      {"name":"炎弱点","group":"汎用","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"【火炎弾】【火炎瓶】【爆発物】【火炎放射】など、炎を使った攻撃に対し、ダメージを2点余分に受ける。さらに【炎上】の変調となる"},

    ]

  -
    var npcList = [
      {"name":"ラグナ","lv":"2","group":"ニューエイジ/ハカセ/ヤセイジ","stamina":"10","willpower":"10","specialties":"《撃つ》《考える》《塞ぐ》《感覚器》《しゃがむ》《噛む》","abilities":"【武器攻撃：ボウガン】【観察眼】【超回復】【戦術】【攪乱音波】【限界】","drop":"-","comment":""},
    ]
  -
    var npcAbilityList = [
      {"name":"武器攻撃：撃つ","group":"汎用","type":"攻撃","recoil":"0","specialty":"《撃つ》","target":"単体","effect":"指定特技の判定に成功すると、[3]点のダメージを与える。"},
      {"name":"観察眼","group":"ハカセ","type":"支援","recoil":"3","specialty":"《考える》","target":"単体","effect":"指定特技の判定に成功すると、対象に『暴露』の変調を与える。"},
      {"name":"戦術","group":"ハカセ","type":"補助","recoil":"3","specialty":"-","target":"全体","effect":"先制判定に組み合わせて使用する。先制判定の達成値にプラス1の修正がつく。先制判定に成功した場合、味方全員が先攻で行動できる。"},
      {"name":"撹乱音波","group":"ミュータント","type":"補助","recoil":"1","specialty":"-","target":"-","effect":"命中判定に組み合わせて使用する。攻撃が命中した相手は、次のラウンドの終了まで全ての行為判定の達成値にマイナス１の修正がつく。"},
      {"name":"超回復","group":"ヤセイジ","type":"割込み","recoil":"5","specialty":"《塞ぐ》","target":"自身","effect":"指定特技の判定に成功すると、自身の【体力】が1D6点増加する。"},
      {"name":"限界","group":"NPC","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"体力が0以下になると即座に行動不能になり、攻撃の対象にならなくなる。戦闘が終了するまで復活しない。PC達が全滅すると彼も死亡する。また、回避を行えない。"},

    ]


  - 
    var facilities = [
    {"name":"牧場","cp":"3","type":"支援","specialty":"《捕らえる》","maxLv":"3","precondition":"","effect":"指定特技の判定に成功すると、あなたはジャーキーか「毛皮」を[レベル]個まで得ることができる。最大レベルに達している場合、食堂の効果にプラス1する。"},
    ]

  title= title

block css
  link(href="../assets/css/styles.css" rel="stylesheet" )
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.11.1/tocbot.css")
block headjs


block body
  header
    include includes/common/header
  main#main
    section.content
      input(id='toc' type='checkbox' class="dn")
      label(class='toc-icon' for='toc') 
        div
          i(class="fas fa-book" style="font-size: 25px") 
          i(class="fas fa-book-open" style="font-size: 25px") 
          div 目次
      nav.toc.js-toc.toc-right.transition.is-position-fixed
      .container.js-toc-content
        h1(id="h1-mother1") Mother 第三話
        dl
          dt #[i(class="fas fa-user-friends")] 推奨人数 
          dd  3人
          dt #[i(class="far fa-clock")] プレイ三時間 
          dd  4時間
          dt #[i(class="fas fa-hourglass-half")] リミット 
          dd 7サイクル
        h2(id="h2-summary") 概要
        p キャンプの工具確保のため、PCたちは＜ヌシ＞退治に出かけます。
        p ＜ヌシ＞に滅ぼされたキャンプの生き残りと合流し、PCたちのキャンプを再建していくことになります。


        h2(id="h2-camp") キャンプフェイズ
        h3(id="h3-prolog")  プロローグ
        p ラグナが合流した後のキャンプを描きます。ラグナと勉強をしたり、マグと料理をします。
        p 夕食では、前回の探索の結果、キャンプの食糧事情が改善されたことを喜びます。
          | 今回は不足している工具を調達するため、「イオンシネマ海老名」のキャンプと交流をしたいと相談されます。
          | リルムはディ〇ニー映画が好きなため、シネマと聞いてそわそわします。ラグナもフィルムが気になるようです。
        p 出発前に、交流のための物資 5WをPCたちに預けます。また、リルムが「抗生物質」を1つと、「特製はちみつドリンク」を人数分くれます。

        h4 #[i(class="fas fa-flask")]  獲得アイテム
        table.responsive#item
          caption リルムの探索用アイテム
          thead
            tr: th 名前 #[th 価格] #[th 重量] #[th タイプ]  #[th 部位] #[th 指定特技] #[th 対象] #[th 特性] #[th 効果]
          each item in itemList
            tr
              td.txt-center= item.name
              td(data-title='価格')= item.j
              td(data-title='重量')= item.weight
              td(data-title='タイプ')= item.type
              td(data-title='部位')= item.area
              td(data-title='指定特技')= item.specialty
              td(data-title='対象')= item.target
              td(data-title='特性')= item.trait
              td(data-title='効果')= item.effect

        h4 セリフ例
        dl 
          dt ▼ 描写 : ラグナと勉強会
          dd みんなで「ひらがな」「カタカナ」、「簡単な漢字」の知識を共有しました！
          dd 子供たちも参加してくれたようです。みんなかしこくなりました。
          dt ▼ 描写 : マグと料理
          dd マグの料理を手伝ってあげました。
          dd たまご、牛肉、豚肉、鶏肉を家畜からいただき、調理しました。
          dd あなたは肉を捌いたりするのはお手の物！　動物の命を余すことなく使わせていただき……
          dd 骨も熱湯消毒の後、肥料用に砕いて保管しておきました。
          dt ▼ マグ
          dd 「農業は、誰も知識がないし、現状人手もないから難しいけど……」
          dd 「こうやっておくことで将来的に……ね」
          dd 「明日のみんなの喜ぶ顔が楽しみだね」
          dt ▼ 描写
          dd そして後日……
          dd 今日はPCたちはリルムと一緒に小学校の防衛をしていました。
          dd 時刻は夕暮れ時。チヌレカラスがカアと鳴いています。
          dd ラグナがPCたちを呼びに来ます。
          dt ▼ラグナ
          dd 「いたいた、お前たち……、夕食だ。夕食だぞ。」
          dd 「そうそう、（勉強会に出たPC）、昨日は助かった。」
          dd 「昨夜の勉強会のおかげで交換用ぶｯッッ（話の途中で子供達に絡まれる）」
          dd ラグナは子供たちを連れて食堂へ向かいました。
          dt ▼リルム
          dd 「食堂に向かおうか、皆」
          dd 「俺はもう少しここでキャンプの外を見張ってるよ」
          dt ▼ 描写
          dd 食堂から、ゆでたまご(ｶｯﾄ済)と豚肉と牛肉のスープ の香りが漂ってきます。
          dd 食堂につくと、子供たちが全員ヨダレを垂らして食卓を眺めていました。
          dt ▼ カジオ
          dd 「電球の修理がぜんっぜんうまくいかねえ……」
          dd 「……なんだこのいい匂いは」
          dd 「なんだこのいい匂いは？！」
          dd 「このいい匂いはなんだ？！」
          dt ▼子供たち
          dd 「【いただきます】はまだ？！」
          dd レトルトではない、生鮮食品の数々。
          dd ＰＣたちが前回、マザー牧場から牛や豚や鶏たちを獲得したおかげです。
          dt ▼ マグ
          dd 「これは、前にみんながマザー牧場に行ってくれたおかげで食べられるものです」
          dd 「それと、皆が動物を世話してくれたおかげも、ね」
          dd 「では……『いただきます』！」
          dt ▼描写
          dd 子供たちにも少しずつ元気がもどってきて……
          dd 無知ながらも、動物の世話を自らやりたがる子供もでてきました。
          dd マグもみんなの喜ぶ顔を観ながら、ほろりと涙を流して感傷に浸っています。
          dt ▼ マグ
          dd  「……見てるかな、クマノ……皆……。」(クマノは物語の開始時に肺炎で亡くなった子です)
          dd  「皆で、食べたかったね……」
          dd  「……さ、(PCの名前)たちも。いっぱい食べてね。今日は、"おかわり" だって、できるから。」
          dt ▼ カジオ
          dd 「（PCの名前に肩組み）おう！　最高だな！　このメシは！」
          dd 「オレがいたキャンプじゃ味わえなかった！」
          dd 「久々の生の食材に心が躍る」
          dt ▼ リルム
          dd 「ああ。食事にバリエーションが生まれて、子供たちも喜んでいるようだ」
          dd 「自ら"皆のために働きたい"と申し出てくる子供もでてきた。」
          dd 「ただ、しっかり働くための……工具や、移動のための車がない」
          dd 「自動車自体は小学校に保管してあるんだが、これが全く動かない。修理部品が必要となる。」
          dd 「うちでまともな工作ができるのは"カジオ"くらいだ」
          dd 「そこで、ひとつアテがある。」
          dd 「イオンシネマ海老名というキャンプで、工具や車が余っているらしいんだ」
          dd 「そこにはかつて色々な建物や、駅が併設されていた。他にも色々な物資が望めるかもしれない」
          dt ▼ マグ
          dd 「今回はイオンシネマ海老名へ向かってほしいと思って……」
          dd 「……あなた達に頼みます。」
          dt ▼描写
          dd 依頼内容【イオンシネマ海老名へ向かい、交流を深め、物資を交換して欲しい】
          dd 交換用の物資を[5W]ぶん渡されました。
          dd 物資の内容は「薬剤、銅の塊、そして建築や発電について書かれたメモ」でした。
          dt ▼ ラグナ
          dd 「メモを書くのは（勉強会に参加したPC）に手伝ってもらった。」
          dt ▼ マグ
          dd 「とりあえず、７日分（７サイクル）ぶんの食糧と水を用意しておくね」
          dt ▼ リルム
          dd 「あと、念のためこいつを持ってってくれ。近くの空家から子供たちが見つけてきたんだ。」
          dd 「ああ。　えーと……イオンシネマ…………シネマか……」
          dd 「ディ〇ニー系のグッズがあったらよろしく頼む。　映画館にあるかな……」
          dd リルムはアニメ映画やグッズものが大好き。
          dd 自ら動く事はできないため、ソワソワしながらお願いしてきます。
          dt ▼ ラグナ
          dd 「映画館には、フィルムもあるよな。オレからも頼む。フィルムがあったらよろしくな」

        p キャンプフェイズの行動を行います。 キャンプフェイズ終了前に、見送りの描写を行います。

        h4 セリフ例
        dl 
          dt ▼ マグ
          dd 「じゃあ、気をつけてね」
          dt ▼ ラグナ
          dd 「オレは子供たちに動物の世話の仕方を教えておこう。大工仕事は少し後回しだ。」
          dd ラグナもまだ１０歳ですが、過酷な環境下で色々叩き込まれたようです
          dt ▼ リルム
          dd 「イオンシネマとは、もとは映画館だった場所だ……きっとグッズもある……」
          dd 「……おっと、そうだ。」
          dd 「これ、マグやラグナと協力して作ってみたんだ。持っていってくれ。」
          dd リルムはみんなに"ガラス瓶"を渡しました。中には黄色い液体が入っています。
          dd 「栄養ドリンク、てやつだ。材料は、この前皆でとったハチミツと……」
          dt ▼ マグ
          dd 「ハチミツと、お茶葉と、セキショウ。」
          dd 「（小声）リルムが元気だった頃、東北から取ってきてくれたモノだよ」

          dt ▼ リルム
          dd 「痛みを抑える作用と、目が覚める効果と。」
          dd 「あとハチミツ入ってるからおいしい。」
          dt ▼ マグ
          dd 「ふふ。　（小声）甘いものってね、頭の栄養になるの」
          dt ▼ リルム
          dd 「消費期限は……わからないから、今飲んでってくれ！」
          dd 「いちおうオレの身体には効果があった！」

          dt ▼ 描写
          dd その場で飲む場合、即座に体力+2、気力+2されます。味は薬味強め、ハチミツ要素多め。現代の炭酸なし栄養ドリンクに近い味です。
          dd 今回の冒険に持ち込む場合、「特製はちみつドリンク(1W)」として持っていくことができます。
          dt ▼ リルム
          dd （美味しいなどと伝えた場合）「そーかそーか！」（ニヤニヤしながら、ニット帽の上から頭を掻く）
          dd 「よーし！　お前たちも元気出たろ！　やっとオレも皆の力になれたな！」
          dd 「よしよしよし！　じゃ、元気で行って来い！　その喜んだ顔のまま！」
          dt ▼ マグ
          dd 「気をつけて行ってらっしゃい」
          dt ▼ 描写
          dd リルムは遠くでしつこく手を振っていました。そんなにディ〇ニー映画が待ち遠しいのでしょうか

        h2(id="h2-search")  探索フェイズ
        h3(id="h3-cp-1") #[i(class="far fa-check-circle")] 第1チェックポイント： 銷魂の都
        dl 
          dt 環境
          dd 水場　浅い川や海辺など。
          dd 『炎上』が発生しない。休憩の質が上がり、休憩選択時に気力が追加で１回復する。
        h4  #[i(class="far fa-image")]   描写
        p マザー牧場があった場所は既に＜フィールド＞となり、民家が川の中に飲み込まれています。人の姿はここには見当たりません。【オブジェクト:冠水した廃墟】があります。
        p 川沿いには拙い日本語で文字の書かれた、新しい看板がたてられています。
          | #[br]「罪深きニンゲンはこの星の資源を食い荒らした」
          | #[br]「ニンゲンは文化を取り戻してはならない」
        p 次のチェックポイントへの道は崩れやすい崖に挟まれた登坂となっており、【障害:大岩】を突破して安全を確保する必要があります。ここからの移動では、ランダムエンカウントで水棲生物と出会うかもしれません。


        dl 
          dt ▼描写例
          dd マザー牧場に向けて歩いていると……
          dd マザー牧場があったであろう場所を中心に、＜フィールド＞が広がっています。
          dd 生存者は居るのでしょうか……？
          dd 入り口に侵入すると、そこには川が流れていました。
          dd 川の中には、かつての民家のものであろう屋根が埋まっています。
          dd 【オブジェクト：冠水した廃墟】を調べてみれば何か見つかるかもしれませんが……
          dd 同時に、川に潜むヒルや虫たちにも気をつけなければなりません。
          dd ……川沿いに、最近立てられたような新しい看板が立っています。
          dd 看板には拙い日本語でなにか書いてあります。
          dd 「罪深きニンゲンはこの星の資源を食い荒らした」
          dd 「ニンゲンは文化を取り戻してはならない」
          dd いったいこれを誰が書いたのでしょうか……？

        h4 #[i(class="fas fa-list-ol")] オブジェクト: 冠水した廃墟
        p 川の中に、かつての民家の屋根のようなものが見えます。
        p 1d6を振って出た目に応じた結果を解決します。

        table.responsive
          caption 冠水した廃墟
          thead
            tr: th d6 #[th イベント] 
          each item in objectKansuiHaikyoList
            tr
              td(data-title='d6')= item.d6
              td(data-title='イベント')= item.event
 

        h4 #[i(class="fas fa-shoe-prints")] 断崖絶壁に挟まれた坂道
        p 次のチェックポイントに進む道です。先行して安全確保をしていると、崖から落ちてきた大岩に追いかけられます。
        h5 #[i(class="fas fa-lock")] 障害: 転がる大岩
        p  指定特技：《走る》　or 《休まない》
        p この障害の突破判定に失敗した場合、判定をしたPCの体力が[5]点減少しますが、障害は突破されたことになります。

        h5 ランダムエンカウント表
        p このチェックポイントからの移動時には、水場用のランダムエンカウント表を振ります。
        table.chart#table-randomencountA
          caption ランダムエンカウント表A
          thead
            tr: th d6 #[th 説明] 
          each name in randomEncountListA
            tr
              td= name.d6
              td= name.a


        h3(id="h3-cp-2") #[i(class="far fa-check-circle")] 第2チェックポイント： 血濡れた雪原
        dl 
          dt 極寒
          dd 極寒の地。
          dd PCはサイクルの終了時に《耐える/胴部12》の判定を行い、失敗したら軽減不可の1D6点のダメージを受ける。
            | この判定にはマイナス[経過ラウンド数]の修正がつく。
            | 割込で火つけ道具を消費することで《耐える+2》、たいまつ消費で《耐える+3》の修正を得られる。
        h4  #[i(class="far fa-image")]   描写
        p 重異形フィールド特有の唐突な環境変化、極寒の雪原が広がっています。かまくらと小屋が建っています。【オブジェクト：かまくらと古い小屋】
        p 雪原には、白骨死体（かつての小屋の住人）が埋まっており、凶悪なサツジンウサギの存在を知らせます。
        dl 
          dt ▼描写例
          dd 大岩をかわし、川沿いを進み続けていると……突然肌寒さを感じます。
          dd そこには……雪原が広がっていました。
          dd 足元の雪の中に何かが埋まっています。
          dd 少し雪を掻いてみると、そこから人間の冷たい手が出てきました。
          dd さらに掘ると、雪の中から２つの白骨死体が見つかりました。父親と、その父親が抱いていた男の子のものです。
          dd 父親の死体の骨には「鋭い爪による攻撃」からの防御創があります。
          dd 死体からは役立つものは見つかりませんでした。
          dd （おそらくこのチェックポイントの障害「サツジンウサギ」によるもの！）
 

        h4 #[i(class="fas fa-list-ol")] オブジェクト: かまくら・古い小屋
        p 白い雪原にぽつんとかまくらと古びた小屋が建っています。
        p 1d6を振って出た目に応じた結果を解決します。

        table.responsive
          caption かまくら・古い小屋
          thead
            tr: th d6 #[th イベント] 
          each item in objectKamakuraList
            tr
              td(data-title='d6')= item.d6
              td(data-title='イベント')= item.event

        h4 #[i(class="fas fa-shoe-prints")] ヒトカリ雪原
        p 次のチェックポイントに進む道です。雪原の向こうにぽっかりと空いた洞窟があります。
        h5 #[i(class="fas fa-lock")] 障害: サツジンウサギのつがい
        p  数多の人間を殺害してきた、凶悪な兎たちです。
        p ここでは障害突破に行動を消費せず、次のチェックポイントへ進むときに自動的に判定します。
        p PCのうち誰か１人が《滑る》に成功することで、雪原上を高速で滑り降り、サツジンウサギたちをスルーできます。
        p 全員が突破判定に失敗するとサツジンウサギx2との戦闘になります。
        p サツジンウサギ達の判定後、改めてランダムエンカウントが発生します。



        h3(id="h3-cp-3") #[i(class="far fa-check-circle")] 第3チェックポイント： 常闇の水辺
        dl 
          dt 水場　＆　暗闇
          dd ここは２種類の環境が合わさった特殊なチェックポイントです。
          dt 水場
          dd 『炎上』が発生しない。休憩の質が上がり、休憩選択時に気力が追加で１回復する。
          dt 暗闇
          dd 「ライト」や「たいまつ」などの明かりを持っていない限り、PCの行為判定にマイナス1の修正がつく。
          dd 「たいまつ」は1サイクルで1つ消費される。


        h4  #[i(class="far fa-image")]   描写
        p 極寒の雪原に比べると洞窟の中は暖かく、凍っていない水辺があります。水辺には民家の廃墟が建っています。【オブジェクト：民家跡】
        p 洞窟は入り組んでおり、抜けるのは難しいですが、毛に花を絡ませた光るウサギが、出口を教えてくれるかもしれません。
        dl 
          dt ▼描写例
          dd 極寒の雪原を抜けると、そこは……日の光の通らない場所にある水辺でした。
          dd 雲は何層にも重なり、まるで夜かのように暗い場所です。
          dd 水場の水は清潔です。

        h4 #[i(class="fas fa-list-ol")] オブジェクト:民家跡
        p 1d6を振って出た目に応じた結果を解決します。

        table.responsive
          caption 民家跡
          thead
            tr: th d6 #[th イベント] 
          each item in objectKurayamiHaikyo
            tr
              td(data-title='d6')= item.d6
              td(data-title='イベント')= item.event


        h4 #[i(class="fas fa-shoe-prints")] 入り組んだ洞窟
        p 次のチェックポイントに進む道です。
        p 正しい道を進まないと、ここからは出られません。
          | 正しい道を知るのは、うっすらと光るホタルウサギのみです。
          | ホタルウサギを追い込んでゆけば、先へ続く道を教えてくれるでしょう。
        p この障害は突破判定に２回成功する必要があります。
        h5 #[i(class="fas fa-lock")] 障害: 無限ループ1
        p #[i(class="fas fa-dice")]  障害突破判定 《追跡》 or 《追い込む》or 《見つける》

        h5 #[i(class="fas fa-lock")] 障害: 無限ループ2
        p #[i(class="fas fa-dice")]  障害突破判定 《追跡》 or 《追い込む》or 《見つける》
        p 2回目の突破判定に成功すると、洞窟の出口を見つけたうえで、ホタルウサギを捕まえることができます。 生肉[1J,1W]を獲得してもかまいません。


        h3(id="h3-cp-4") #[i(class="far fa-check-circle")] 第4チェックポイント： 果てしない空の下
        dl 
          dt 環境
          dd 広漠　＆　花畑
          dt 広漠
          dd フィールド内はとても広大だ。行けども行けども終わりの見えない地形に気が滅入る。
          dd サイクルの終了時に【気力】が1点減少する。この効果で1未満にはならない。
          dt 花畑
          dd 美しい花畑。戦闘で『毒』が発生しない。美しい光景はあなた達の力になる。
          dd PCの行う全判定が＋１される。
          dd また、オブジェクト探索の表に[気力回復]が多く追加される。
       
        h4  #[i(class="far fa-image")]   描写
        p 最期のチェックポイントです。
        p 広大な花畑が広がっています。【オブジェクト:花畑】
        p 遠くから、恐ろしい殺気を感じます。この先にヌシがいることは間違いありません。【障害：長い道のり】
        dl 
          dt ▼ 描写例
          dd ホタルウサギの示した道を進み、常闇の水辺を抜けると……
          dd 眩しい日差しと共に現れたのは、終わりの見えない広漠たる空間でした。
          dd どこまで歩けば次の目的地に辿りつけるのか……。
          dd 進む先から恐ろしい殺気を感じます。どうやらここが最後のチェックポイントのようです。


        h4 #[i(class="fas fa-list-ol")] オブジェクト:花畑
        p 1d6を振って出た目に応じた結果を解決します。

        table.responsive
          caption 花畑
          thead
            tr: th d6 #[th イベント] 
          each item in objectFlowerGarden
            tr
              td(data-title='d6')= item.d6
              td(data-title='イベント')= item.event


        h4 #[i(class="fas fa-shoe-prints")] 花砂漠
        p ＜ヌシ＞のチェックポイントに進む道です。
        h5 #[i(class="fas fa-lock")] 障害: 長い道のり
        p #[i(class="fas fa-dice")]  障害突破判定 《歩く》



        h2(id="h2-showdown") 決戦フェイズ
        dl 
          dt 環境
          dd 平地
          dd 特殊効果なし


        p 果てしない空の下を歩き、長い長い道のりを越え、ヌシのフィールドの中心にやってきました。
          | マザー牧場跡を護るヌシの正体は……
        p 巨大な……蛇のような不気味な生物でした。
          | 巨大な蛇はこちらに気付くと、４匹の[醜い虫]をけしかけ、襲いかかってきます。
          | ＜ヌシ＞との戦闘です。



        h4  #[i(class="fas fa-dragon")]  戦闘
        table.responsive
          caption アクマ
          thead
            tr: th 名前 #[th レベル] #[th タイプ] #[th 体力]  #[th 気力] #[th 特技] #[th アビリティ] #[th 解説]
          each enemy in enemyListBoss
            tr
              td.txt-center= enemy.name
              td(data-title='レベル')= enemy.lv
              td(data-title='タイプ')= enemy.group
              td(data-title='体力')= enemy.stamina
              td(data-title='気力')= enemy.willpower
              td(data-title='特技')= enemy.specialties
              td(data-title='アビリティ')= enemy.abilities
              td(data-title='ドロップ')= enemy.drop
              td(data-title='解説')= enemy.comment

        table(class="responsive")
          caption アクマのアビリティ
          thead
            tr: th 名前 #[th グループ]  #[th タイプ] #[th 反動] #[th 指定特技] #[th 対象] #[th 効果]
          each item in enemyAbilityListBoss
            tr
              td.txt-center= item.name
              td(data-title='グループ')= item.group
              td(data-title='タイプ')= item.type
              td(data-title='反動')= item.recoil
              td(data-title='指定特技')= item.specialty
              td(data-title='対象')= item.target
              td(data-title='効果')= item.effect

        table.responsive
          caption 醜い虫
          thead
            tr: th 名前 #[th レベル] #[th タイプ] #[th 体力]  #[th 気力] #[th 特技] #[th アビリティ] #[th 解説]
          each enemy in enemyList3
            tr
              td.txt-center= enemy.name
              td(data-title='レベル')= enemy.lv
              td(data-title='タイプ')= enemy.group
              td(data-title='体力')= enemy.stamina
              td(data-title='気力')= enemy.willpower
              td(data-title='特技')= enemy.specialties
              td(data-title='アビリティ')= enemy.abilities
              td(data-title='ドロップ')= enemy.drop
              td(data-title='解説')= enemy.comment

        table(class="responsive")
          caption 醜い虫のアビリティ
          thead
            tr: th 名前 #[th グループ]  #[th タイプ] #[th 反動] #[th 指定特技] #[th 対象] #[th 効果]
          each item in enemyAbilityList3
            tr
              td.txt-center= item.name
              td(data-title='グループ')= item.group
              td(data-title='タイプ')= item.type
              td(data-title='反動')= item.recoil
              td(data-title='指定特技')= item.specialty
              td(data-title='対象')= item.target
              td(data-title='効果')= item.effect



        h2(id="h2-result") 結果フェイズ
        h3(id="h3-result-1") 描写1: 戦闘終了後
        p フィールドは消え……マザー牧場跡が解放されました。しかしマザー牧場は元通りにはならず、滅びたままです。
        p PCたちは、フィールドの中から生存者を１人発見します。外見はほぼウサギのニューエイジです。
        p 彼はラグナと名乗り、避難させていた家畜たちを連れ、キャンプに合流します。
          | ラグナは[映画のフィルム]を持ち、いつかみんなで観たいと話します。
        dl 
          dt ▼ ラグナ
          dd 「……助かった」
          dd 「すごいな、あの蛇を倒してしまうなんて」
          dd 「……マザー牧場、よいキャンプだったんだが……。残念だ。」
          dd 「これからは君たちのキャンプに住まわせてもらおう」
          dd 「そうだ。生き残りの豚や牛たちがいるんだ。連れてってくれ。」
          dd 「ああ、これだけは忘れずにもっていかないと」（[映画のフィルム]）

        h3(id="h3-result-2") 描写2: キャンプにて
        p マザー牧場跡から、生き残った「豚」「鶏」「牛」を何匹か連れ帰りました。
        p マザー牧場が滅びていたことを伝えると、マグとリルムはショックを受けつつも、家畜を連れてきてくれたことに喜びます。
        p ラグナをキャンプのみんなは快く迎えます。特に、小さい子はラグナの毛並みを撫でたがります。
        dl 
          dt マグ
          dd 「マザー牧場がフィールドに……！　そんな……」
          dd 「でもヌシを倒してくれたんだね！　さすがだよ」
          dd 「それは……牛と豚と鳥の……助かるよ、これで将来的に食料に困ることは……！」
        dl 
          dt リルム
          dd 「……育てなきゃな」


        h3(id="h3-rewards")  #[i(class="fas fa-gem")] 報酬 
        p キャンプの設備[牧場]を取得します。
        p ヌシのドロップアイテムとして、＜星の欠片＞を１つ取得します。色はランダムです。
        p ヌシを倒してフィールドを解放したことによりCP4点を獲得します。
        p 各PCはフィールド解放の主役として、この場所の物資を最初に手に入れる権利があります。12J以下のアイテムを1つ取得します。


        table.responsive
          caption キャンプ設備
          thead
            tr: th 名前 #[th タイプ] #[th 指定特技] #[th レベル] #[th 効果]
          each facility in facilities
            tr
              td.txt-center= facility.name
              td(data-title='タイプ')= facility.type
              td(data-title='指定特技')= facility.specialty
              td(data-title='レベル')= facility.level
              td(data-title='効果')= facility.effect

        h4 ラグナ

        dl
         dt 基本情報
         dd 10歳 男　
         dd ニューエイジ/ハカセ/ヤセイジ
         dt 特殊効果
         dd 施設を作るのに必要なCPを[1]点減少する。（最低1)

         dt 設定
         dd マザー牧場で暮らしていた。
         dd 映画のフィルム集めが趣味。表紙から中身を想像している。
         dd いつか、映画を観てみたいと思っている。

        table.responsive
          caption ラグナ
          thead
            tr: th 名前 #[th クラス] #[th 体力]  #[th 気力] #[th 特技] #[th アビリティ] 
          each enemy in npcList
            tr
              td.txt-center= enemy.name
              td(data-title='クラス')= enemy.group
              td(data-title='体力')= enemy.stamina
              td(data-title='気力')= enemy.willpower
              td(data-title='特技')= enemy.specialties
              td(data-title='アビリティ')= enemy.abilities


        table(class="responsive")
          caption ラグナのアビリティ
          thead
            tr: th 名前 #[th グループ]  #[th タイプ] #[th 反動] #[th 指定特技] #[th 対象] #[th 効果]
          each item in npcAbilityList
            tr
              td.txt-center= item.name
              td(data-title='グループ')= item.group
              td(data-title='タイプ')= item.type
              td(data-title='反動')= item.recoil
              td(data-title='指定特技')= item.specialty
              td(data-title='対象')= item.target
              td(data-title='効果')= item.effect



  include includes/common/footer
  include includes/common/toc-footer