extends includes/common/_layout
block title
  include includes/campaign/mother/variables
  - var bodyClass = "nohero"

  -
    var itemList = [
    {"name":"抗生物質","j":"10","weight":"1","type":"割込み","area":"-","specialty":"-","target":"自身","trait":"消耗品","effect":"変調を全て回復する"},
    ]
  -
    var objectKansuiHaikyoList = [
      {"d6":"1","event":"川の中の瓦礫の陰から、ダーツフィッシュが1d6体現れました。襲ってきます。"},
      {"d6":"2","event":"すでに何者かに荒らされており、何も見つかりませんでした。ヒルにかまれそうになりましたが、全力で振り払いました。"},
      {"d6":"3","event":"元住民の保存食を見つけました。ありがたく頂戴し、[2d3]Jを獲得しました。"},
      {"d6":"4","event":"元住民の持っていた[ダウジングツール(2J,1W)]を見つけました。ありがたく頂戴しました。"},
      {"d6":"5","event":"誰かの残した[手書きのメモ(5J,0W)]見つけました"},
      {"d6":"6","event":"宝物発見！　[価格:4J]までの好きなアイテムを3つ獲得できます。"},

    ]

  - 
    var randomEncountListA = [
      {"d6":"1",   "a": "ダーツフィッシュ[1D6+PT人数]体と戦闘になります。"},
      {"d6":"2",   "a": "スカイナイフ[1D3]体と戦闘になります。"},
      {"d6":"3",   "a": "ヨロイバチ[PT人数÷2]体と戦闘になります。"},
      {"d6":"4",   "a": "ゾンビ[1D6]体と戦闘になります。"},
      {"d6":"5",   "a": "オニトンボ[1D6+PT人数]体と戦闘になります。"},
      {"d6":"6",   "a": "他の冒険者と出くわし、語らいます。全員【気力】が1D6点増加します。"},

    ]

    var objectKamakuraList = [
      {"d6":"1","event":"かまくらの中には良い香りの花が咲いていました。ラベンダー(1J,0W,【腐敗】を１回だけ無効化)を1つ手に入れます。"},
      {"d6":"2","event":"小屋の中の収納箱から　コカの葉（0W,割込、体力+2）を見つけました。"},
      {"d6":"3","event":"弱った雪兎たちを仕留めました！　1Jを獲得。"},
      {"d6":"4","event":"元住民の持っていた[たいまつ]を見つけました。保存状態は良好。ありがたく頂戴しました。"},
      {"d6":"5","event":"急な寒さで弱った獣を仕留めました！　貴重なタンパク源です。　2Jを獲得。"},
      {"d6":"6","event":"宝物発見！　[価格:５J]までの好きなアイテムを2つ獲得できます。更に白クマを仕留めました。+3J"},

    ]


  -
    var objectKurayamiHaikyo = [
      {"d6":"1","event":"何も見つかりませんでした。　しかも数十匹のコウガイビルに噛まれました。　気力-1"},
      {"d6":"2","event":"1Jの保存食を発見しました。ありがたくいただきました。"},
      {"d6":"3","event":"箱の中からなんこうを２つ見つけました。ありがたくいただきましょう。"},
      {"d6":"4","event":"元住民の持っていた[たいまつ]を見つけました。保存状態は良好。ありがたく頂戴しました。"},
      {"d6":"5","event":"高級品「抗生物質」を見つけました。ありがたく頂戴しました。"},
      {"d6":"6","event":"僥倖！　保存状態が完璧な[缶詰]を発見しました。"},

    ]


  -
    var enemyList1 = [
      {"name":"ヒトクイコウモリ","lv":"1","group":"ケモノ","stamina":"1","willpower":"3","specialties":"《跳ぶ》《噛む》《落ちる》","abilities":"【噛みつき】","drop":"ケモノA","comment":"全長60cmほどのコウモリ。生餌も死肉も好む"},

    ]

  -
    var enemyAbilityList = [
      {"name":"噛みつき","group":"ケモノ","type":"攻撃","recoil":"0","specialty":"《噛む》","target":"単体","effect":"指定特技の判定に成功すると対象に2点のダメージを与える。"},

    ]

  -
    var enemyList2 = [
      {"name":"コウモリイヌ","lv":"2","group":"ケモノ","stamina":"6","willpower":"5","specialties":"《走る》《聴く》《噛む》","abilities":"【牙】【撹乱音波】【体当たり：《噛む》】","drop":"ケモノA","comment":"コウモリのような顔をした目のない犬。超音波で獲物を捕らえる。"},

    ]
  -
    var enemyAbilityList2 = [
      {"name":"体当たり","group":"ケモノ","type":"攻撃","recoil":"0","specialty":"自由","target":"単体","effect":"指定特技の判定に成功すると対象に1点のダメージを与える。この時命中判定の達成値にプラス2の修正がつく。"},
      {"name":"牙","group":"ケモノ","type":"補助","recoil":"2","specialty":"-","target":"-","effect":"命中判定に組み合わせて使用する。ダメージを2点増加させる。"},
      {"name":"撹乱音波","group":"ミュータント","type":"補助","recoil":"1","specialty":"-","target":"-","effect":"命中判定に組み合わせて使用する。攻撃が命中した相手は、次のラウンドの終了まで全ての行為判定の達成値にマイナス１の修正がつく。"},

      ]

  -
    var enemyList3 = [
      {"name":"人斬り巨大蟹","lv":"4","group":"ミュータント","stamina":"15","willpower":"5","specialties":"《斬る》《噛む》《歩く》《休まない》","abilities":"【人斬りハサミ】【おおぶり】【怪力】【鈍い】【鋼鱗】","drop":"生肉(1J、1W、食料)ｘ2　嗜好品x1","comment":"巨大な身体のカニ。鈍いが、強力なハサミを駆使して一撃で敵を仕留める。"},
    ]
  -
    var enemyAbilityList3 = [
      {"name":"人斬りハサミ","group":"ムシ","type":"攻撃","recoil":"0","specialty":"《斬る》","target":"単体","effect":"指定特技の判定に成功すると対象に4点のダメージを与える。このとき命中判定の達成値にプラス2の修正がつく。"},
      {"name":"おおぶり","group":"ケモノ","type":"補助","recoil":"3","specialty":"-","target":"-","effect":"命中判定に組み合わせて使用する。命中判定にマイナス1の修正がつき、ダメージが3点増加する。"},
      {"name":"鋼鱗","group":"ミュータント","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"自身が受けるダメージを2点軽減する。ただしその際に気力が1点減少する。"},
      {"name":"怪力","group":"ビッグ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"白兵攻撃や肉体を使った攻撃により与えるダメージが1点上昇する。"},
      {"name":"鈍い","group":"-","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"2ラウンドに1回しか動けない。"},

    ]

  -
    var objectShops = [
      {"d6":"1","event":"腐敗臭のする動く死体が、瓦礫の隙間から這い出て襲いかかってきました。(ゾンビx2)"},
      {"d6":"2","event":"コカの葉（0W,割込、体力+2）を見つけました。"},
      {"d6":"3","event":"「嗜好品」（0W,割込、気力+2）を見つけました。"},
      {"d6":"4","event":"「嗜好品」（0W,割込、気力+2）を２つ見つけました。"},
      {"d6":"5","event":"「嗜好品」（0W,割込、気力+2）を２つ見つけ、更に[休憩表]を１度振ることができます。"},
      {"d6":"6","event":"宝物発見！　[価格:5J]までの好きなアイテム/武器/防具を1つ獲得できます。更に[3J]を獲得します。更に[休憩表]を１度振ることができます。"},

    ]

  -
    var objectCars = [
      {"d6":"1","event":"川からダーツフィッシュが襲いかかってきました。戦闘です。（1d6匹）"},
      {"d6":"2","event":"積み上げられた自動車がバランスを崩し、倒れてきました(回避失敗すると1d3ダメージ)。《反応》or 《かわす》 この回避判定では気力を消費しません。"},
      {"d6":"3","event":"鉄クズ（2W、商人に渡すと即4J化）と　コカの葉（0W,割込、体力+2）を見つけました。"},
      {"d6":"4","event":"コカの葉（0W,割込、体力+2）を見つけ、更に、気持ち良さそうな葉っぱのベッドを見つけました。体力が基準値ぶん回復します。"},
      {"d6":"5","event":"救急箱を発見しました。[コカの葉]と[嗜好品]を見つけ、更に[なんこう]も発見しました。"},
      {"d6":"6","event":"宝物発見！　[価格:5J]までの好きなアイテム/武器/防具を2つ獲得できます。"},

    ]

  -
    var enemyListBoss = [
      {"name":"嵐のキマイラ","lv":"4","group":"ヌシ/ケモノ","stamina":"20","willpower":"15","specialties":"すべて","abilities":"【キマイラブロウ】【嵐の翼】【跳びかかり】【毒蛇の尻尾】【習性：体力が0になった】【本気（高性能）】【雷無効】","drop":"-","comment":"獅子と山羊の性質を併せ持った、双頭の巨大生物。水力発電所を中心とした＜フィールド＞を作っている。"},
    ]
  -
    var enemyAbilityListBoss = [
      {"name":"キマイラブロウ","group":"ヌシ","type":"攻撃","recoil":"0","specialty":"《殴る》","target":"単体","effect":"目標に2d3+[経過ラウンド数]点のダメージを与える。この攻撃の命中判定＋２。"},
      {"name":"嵐の翼","group":"ヌシ","type":"攻撃","recoil":"2","specialty":"《耐える》","target":"全体","effect":"目標の体力と気力に２点のダメージを与え、[転倒]の変調を与える。この攻撃の命中判定＋２。最初のターンと<本気>直後に使用する。"},
      {"name":"跳びかかり","group":"ヌシ","type":"攻撃","recoil":"4","specialty":"《跳ぶ》","target":"単体","effect":"目標に６点のダメージを与え、「転倒」の変調を与える。「転倒」…回避判定-2"},
      {"name":"毒蛇の尻尾","group":"ヌシ","type":"攻撃","recoil":"1","specialty":"《斬る》《捕らえる》","target":"単体","effect":"目標に５点のダメージを与え、『重傷』の変調を与える。"},
      {"name":"本気(高性能)","group":"ヌシ","type":"割込","recoil":"-","specialty":"-","target":"自身","effect":"以後、[回避]を含む全行動の反動がなくなる。回避[-2]。このターン、追加行動を1つ得る。さらに、◆嵐の翼を再使用できるようになる。[本気]中は、死亡判定時に気力を使えない（踏ん張れない）。"},
      {"name":"雷無効","group":"ヌシ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"スタンガンなど、雷の攻撃を無効化する"},
      {"name":"習性","group":"ヌシ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"その戦闘中に条件を満たした時、追加行動を得る。条件は【体力】が0になった時"},
    ]


  - 
    var facilities = [
    {"name":"水路","cp":"10","type":"常駐","specialty":"-","level":"1","precondition":"水場","effect":"全員の【精神力】にプラス2する。川からキャンプまで水を引く。"},
    {"name":"水車","cp":"20","type":"常駐","specialty":"-","level":"1","precondition":"水場","effect":"「電気」が必要なアイテムをキャンプで自動充電できるようになる。"},

    ]

  title= title

block css
  link(href="../assets/css/styles.css" rel="stylesheet" )
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.11.1/tocbot.css")
block headjs


block body
  header
    include includes/common/header
  main#main
    section.content
      input(id='toc' type='checkbox' class="dn")
      label(class='toc-icon' for='toc') 
        div
          i(class="fas fa-book" style="font-size: 25px") 
          i(class="fas fa-book-open" style="font-size: 25px") 
          div 目次
      nav.toc.js-toc.toc-right.transition.is-position-fixed
      .container.js-toc-content
        h1(id="h1-mother1") Mother 第二話
        dl
          dt #[i(class="fas fa-user-friends")] 推奨人数 
          dd  3人
          dt #[i(class="far fa-clock")] プレイ時間 
          dd  4時間
          dt #[i(class="fas fa-hourglass-half")] リミット 
          dd 7サイクル
        h2(id="h2-summary") 概要
        p キャンプの水源確保のため、PCたちは＜ヌシ＞退治に出かけます。
        p ＜ヌシ＞に滅ぼされたキャンプの生き残りと合流し、PCたちのキャンプを再建していくことになります。
        p 滅びに抗おうとする彼らの物語の、最初の一歩。

        h2(id="h2-camp") キャンプフェイズ
        h3(id="h3-prolog")  プロローグ
        p 前回のPCたちの活躍で、キャンプの暮らしが少し楽になったことを描写します。
          | ただし、食料がまだ足りていません。
        p そこで、近くの大きな牧場のキャンプ"マザー牧場"に食料を分けてもらおうという話になります。
          | 今回のリミットは7になることも合わせて伝えます。また、リルムが探索用のアイテムをくれます。
        p PCたちは知りませんが、"マザー牧場" は既に＜フィールド＞に飲み込まれています。
          | 今回のセッションは、フィールドと化した"マザー牧場"の＜ヌシ＞を倒すことで成功になります。
          | この情報は、プレイヤーには伝えます。

        h4 #[i(class="fas fa-flask")]  獲得アイテム
        table.responsive#item
          caption リルムの探索用アイテム
          thead
            tr: th 名前 #[th 価格] #[th 重量] #[th タイプ]  #[th 部位] #[th 指定特技] #[th 対象] #[th 特性] #[th 効果]
          each item in itemList
            tr
              td.txt-center= item.name
              td(data-title='価格')= item.j
              td(data-title='重量')= item.weight
              td(data-title='タイプ')= item.type
              td(data-title='部位')= item.area
              td(data-title='指定特技')= item.specialty
              td(data-title='対象')= item.target
              td(data-title='特性')= item.trait
              td(data-title='効果')= item.effect

        h4 セリフ例
        dl 
          dt ▼ 描写
          dd 時刻は夕暮れ時。チヌレカラスがカアと鳴いています。
          dd 食堂から、”シーフードヌードル”の香りが漂ってきます。
          dt ▼ マグ
          dd 「みんな、ゴハンだよ」
          dd （ヌードルを前に）「これは、みんなが水力発電所フィールドから取ってきてくれた食糧の一部です」
          dt ▼リルム
          dd 「本当に助かっている」
          dt ▼ マグ
          dd 「水路の確保もできたから、水の心配もしばらくは必要ないね」
          dd 「近くの＜フィールド＞をみんなが消してくれたおかげで、子供たちも周辺の空き家で遊んだりできるようになったんだ。」
          dd 「今までは小学校から一歩も外に出られなかったんだよ」
          dd 「脱水で死にかけだった子も復活することができたし……」
          dt ▼リルム
          dd 「水の問題はもう大丈夫だ」
          dt ▼カジオ
          dd 「水はあるが……ポリタンクもあればよかったんだけどな、でも文句言ってる場合じゃないな」
          dt ▼ マグ
          dd 「……ただ、やっぱり……子供たちの食糧が安定しなくて」
          dt ▼リルム
          dd 「少し遠いが"マザー牧場"に、大きいキャンプがあるらしいんだ」
          dt ▼ マグ
          dd 「うん。だから、みんなにはマザー牧場のキャンプへいって、食料を分けてきてもらってほしいんだ」
          dd 「（うちの小学校の子供たちを大移動させるわけにもいかないから……）」
          dd 「とりあえず、７日分ぶんの食糧と水を用意したよ」
          dt ▼リルム
          dd 「あと、念のためこいつを持ってってくれ。小学校倉庫の奥から子供たちが見つけてきたんだ。」
          dd 抗生物質を一つ、PCに渡します

        h2(id="h2-search")  探索フェイズ
        h3(id="h3-cp-1") #[i(class="far fa-check-circle")] 第1チェックポイント： 郷愁の川
        dl 
          dt 環境
          dd 水場　浅い川や海辺など。
          dd 『炎上』が発生しない。休憩の質が上がり、休憩選択時に気力が追加で１回復する。
        h4  #[i(class="far fa-image")]   描写
        p マザー牧場があった場所は既に＜フィールド＞となり、民家が川の中に飲み込まれています。人の姿はここには見当たりません。【オブジェクト:冠水した廃墟】があります。
        p 川沿いには拙い日本語で文字の書かれた、新しい看板がたてられています。
          | #[br]「罪深きニンゲンはこの星の資源を食い荒らした」
          | #[br]「ニンゲンは文化を取り戻してはならない」
        p 次のチェックポイントへの道は崩れやすい崖に挟まれた登坂となっており、【障害:大岩】を突破して安全を確保する必要があります。ここからの移動では、ランダムエンカウントで水棲生物と出会うかもしれません。


        dl 
          dt ▼描写例
          dd マザー牧場に向けて歩いていると……
          dd マザー牧場があったであろう場所を中心に、＜フィールド＞が広がっています。
          dd 生存者は居るのでしょうか……？
          dd 入り口に侵入すると、そこには川が流れていました。
          dd 川の中には、かつての民家のものであろう屋根が埋まっています。
          dd 【オブジェクト：冠水した廃墟】を調べてみれば何か見つかるかもしれませんが……
          dd 同時に、川に潜むヒルや虫たちにも気をつけなければなりません。
          dd ……川沿いに、最近立てられたような新しい看板が立っています。
          dd 看板には拙い日本語でなにか書いてあります。
          dd 「罪深きニンゲンはこの星の資源を食い荒らした」
          dd 「ニンゲンは文化を取り戻してはならない」
          dd いったいこれを誰が書いたのでしょうか……？

        h4 #[i(class="fas fa-list-ol")] オブジェクト: 冠水した廃墟
        p 川の中に、かつての民家の屋根のようなものが見えます。
        p 1d6を振って出た目に応じた結果を解決します。

        table.responsive
          caption 冠水した廃墟
          thead
            tr: th d6 #[th イベント] 
          each item in objectKansuiHaikyoList
            tr
              td(data-title='d6')= item.d6
              td(data-title='イベント')= item.event
 

        h4 #[i(class="fas fa-shoe-prints")] 断崖絶壁に挟まれた坂道
        p 次のチェックポイントに進む道です。先行して安全確保をしていると、崖から落ちてきた大岩に追いかけられます。
        h5 #[i(class="fas fa-lock")] 障害: 転がる大岩
        p  指定特技：《走る》　or 《休まない》
        p この障害の突破判定に失敗した場合、判定をしたPCの体力が[5]点減少しますが、障害は突破されたことになります。

        h5 ランダムエンカウント表
        p このチェックポイントからの移動時には、水場用のランダムエンカウント表を振ります。
        table.chart#table-randomencountA
          caption ランダムエンカウント表A
          thead
            tr: th d6 #[th 説明] 
          each name in randomEncountListA
            tr
              td= name.d6
              td= name.a


        h3(id="h3-cp-2") #[i(class="far fa-check-circle")] 第2チェックポイント： 血濡れた雪原
        dl 
          dt 極寒
          dd 極寒の地。
          dd PCはサイクルの終了時に《耐える/胴部12》の判定を行い、失敗したら軽減不可の1D6点のダメージを受ける。
            | この判定にはマイナス[経過ラウンド数]の修正がつく。
            | 割込で火つけ道具を消費することで《耐える+2》、たいまつ消費で《耐える+3》の修正を得られる。
        h4  #[i(class="far fa-image")]   描写
        p 重異形フィールド特有の唐突な環境変化、極寒の雪原が広がっています。かまくらと小屋が建っています。【オブジェクト：かまくらと古い小屋】
        p 雪原には、白骨死体（かつての小屋の住人）が埋まっており、凶悪なサツジンウサギの存在を知らせます。
        dl 
          dt ▼描写例
          dd 大岩をかわし、川沿いを進み続けていると……突然肌寒さを感じます。
          dd そこには……雪原が広がっていました。
          dd 足元の雪の中に何かが埋まっています。
          dd 少し雪を掻いてみると、そこから人間の冷たい手が出てきました。
          dd さらに掘ると、雪の中から２つの白骨死体が見つかりました。父親と、その父親が抱いていた男の子のものです。
          dd 父親の死体の骨には「鋭い爪による攻撃」からの防御創があります。
          dd 死体からは役立つものは見つかりませんでした。
          dd （おそらくこのチェックポイントの障害「サツジンウサギ」によるもの！）
 

        h4 #[i(class="fas fa-list-ol")] オブジェクト: かまくら・古い小屋
        p 白い雪原にぽつんとかまくらと古びた小屋が建っています。
        p 1d6を振って出た目に応じた結果を解決します。

        table.responsive
          caption かまくら・古い小屋
          thead
            tr: th d6 #[th イベント] 
          each item in objectKamakuraList
            tr
              td(data-title='d6')= item.d6
              td(data-title='イベント')= item.event

        h4 #[i(class="fas fa-shoe-prints")] ヒトカリ雪原
        p 次のチェックポイントに進む道です。雪原の向こうにぽっかりと空いた洞窟があります。
        h5 #[i(class="fas fa-lock")] 障害: サツジンウサギのつがい
        p  数多の人間を殺害してきた、凶悪な兎たちです。
        p ここでは障害突破に行動を消費せず、次のチェックポイントへ進むときに自動的に判定します。
        p PCのうち誰か１人が《滑る》に成功することで、雪原上を高速で滑り降り、サツジンウサギたちをスルーできます。
        p 全員が突破判定に失敗するとサツジンウサギx2との戦闘になります。
        p サツジンウサギ達の判定後、改めてランダムエンカウントが発生します。



        h3(id="h3-cp-3") #[i(class="far fa-check-circle")] 第3チェックポイント： 常闇の水辺
        dl 
          dt 水場　＆　暗闇
          dd ここは２種類の環境が合わさった特殊なチェックポイントです。
          dt 水場
          dd 『炎上』が発生しない。休憩の質が上がり、休憩選択時に気力が追加で１回復する。
          dt 暗闇
          dd 「ライト」や「たいまつ」などの明かりを持っていない限り、PCの行為判定にマイナス1の修正がつく。
          dd 「たいまつ」は1サイクルで1つ消費される。


        h4  #[i(class="far fa-image")]   描写
        p 極寒の雪原に比べると洞窟の中は暖かく、凍っていない水辺があります。水辺には民家の廃墟が建っています。【オブジェクト：民家跡】
        p 洞窟は入り組んでおり、抜けるのは難しいですが、毛に花を絡ませた光るウサギが、出口を教えてくれるかもしれません。
        dl 
          dt ▼描写例
          dd 極寒の雪原を抜けると、そこは……日の光の通らない場所にある水辺でした。
          dd 雲は何層にも重なり、まるで夜かのように暗い場所です。
          dd 水場の水は清潔です。

        h4 #[i(class="fas fa-list-ol")] オブジェクト:商店街
        p 1d6を振って出た目に応じた結果を解決します。

        table.responsive
          caption 民家跡
          thead
            tr: th d6 #[th イベント] 
          each item in objectKurayamiHaikyo
            tr
              td(data-title='d6')= item.d6
              td(data-title='イベント')= item.event


        h4 #[i(class="fas fa-shoe-prints")] 入り組んだ洞窟
        p 次のチェックポイントに進む道です。
        p 正しい道を進まないと、ここからは出られません。
        p 正しい道を知るのは、うっすらと光るホタルウサギのみです。
        p ホタルウサギを追い込んでゆけば、先へ続く道を教えてくれるだろう。
        p この障害は突破判定に２回成功する必要があります。
        h5 #[i(class="fas fa-lock")] 障害: 無限ループ1
        p #[i(class="fas fa-dice")]  障害突破判定 《追跡》 or 《追い込む》or 《見つける》

        h5 #[i(class="fas fa-lock")] 障害: 無限ループ2
        p #[i(class="fas fa-dice")]  障害突破判定 《追跡》 or 《追い込む》or 《見つける》
        p 2回目の突破判定に成功すると、洞窟の出口を見つけたうえで、ホタルウサギを捕まえることができます。 生肉[1J,1W]を獲得してもかまいません。


        h3(id="h3-cp-4") #[i(class="far fa-check-circle")] 第4チェックポイント： 嵐の大橋
        dl 
          dt 環境
          dd 追い風
          dd 全アビリティの反動が-1される。0以下にはならない。

        h4  #[i(class="far fa-image")]   描写
        p 商店街を抜けると、そこは……強風の吹き付ける大橋でした。
          | このまま渡っては吹き飛ばされてしまいます。
        p ここでは２つの障害が存在します。２つの障害を突破しなければ先に進めません。
          | 進む先から強烈な気配を感じます。このチェックポイントから先に進むとヌシがいます。 
        h4 #[i(class="fas fa-list-ol")] オブジェクト:商店街
        p 1d6を振って出た目に応じた結果を解決します。

        table.responsive
          caption 廃棄された自動車たち
          thead
            tr: th d6 #[th イベント] 
          each item in objectCars
            tr
              td(data-title='d6')= item.d6
              td(data-title='イベント')= item.event


        h4 #[i(class="fas fa-shoe-prints")] 大橋
        p 次のチェックポイントに進む道です。
        h5 #[i(class="fas fa-lock")] 障害: 橋の強化
        p #[i(class="fas fa-dice")]  障害突破判定 《作る》 or 《考える》
        h5 #[i(class="fas fa-lock")] 障害: 橋を渡り切る
        p #[i(class="fas fa-dice")]  障害突破判定 《バランス》 or 《走る》
        



        h2(id="h2-showdown") 決戦フェイズ
        dl 
          dt 環境
          dd 平地
          dd 特殊効果なし


        p 嵐の大橋を渡り切り、ヌシのフィールドの中心にやってきました。
          | 水力発電所跡を護るヌシの正体は……
        p 巨大な獣でした。
          | 足元には、近くにあったキャンプの住民であろう人間たちの死体が倒れています。
          | 巨大な獣はこちらに気付くと、食事を中断し、襲いかかってきます。
          | ＜ヌシ＞との戦闘です。


        h4  #[i(class="fas fa-dragon")]  戦闘
        table.responsive
          caption 嵐のキマイラ
          thead
            tr: th 名前 #[th レベル] #[th タイプ] #[th 体力]  #[th 気力] #[th 特技] #[th アビリティ] #[th 解説]
          each enemy in enemyListBoss
            tr
              td.txt-center= enemy.name
              td(data-title='レベル')= enemy.lv
              td(data-title='タイプ')= enemy.group
              td(data-title='体力')= enemy.stamina
              td(data-title='気力')= enemy.willpower
              td(data-title='特技')= enemy.specialties
              td(data-title='アビリティ')= enemy.abilities
              td(data-title='ドロップ')= enemy.drop
              td(data-title='解説')= enemy.comment

        table(class="responsive")
          caption エネミーアビリティ
          thead
            tr: th 名前 #[th グループ]  #[th タイプ] #[th 反動] #[th 指定特技] #[th 対象] #[th 効果]
          each item in enemyAbilityListBoss
            tr
              td.txt-center= item.name
              td(data-title='グループ')= item.group
              td(data-title='タイプ')= item.type
              td(data-title='反動')= item.recoil
              td(data-title='指定特技')= item.specialty
              td(data-title='対象')= item.target
              td(data-title='効果')= item.effect

        h2(id="h2-result") 結果フェイズ
        h3(id="h3-result-1") 描写1: 戦闘終了後
        p ＜ヌシ＞の嵐のキマイラを倒すと、嵐が止み……水力発電所が解放されました。
        p PCたちがキャンプの生き残りを探すと、瓦礫の中から生存者を１人発見します。
        p 彼はカジオと名乗り、（PCたちのキャンプ名）に連れて行ってくれと頼みます。
        dl 
          dt ▼ カジオ
          dd 「うう……助かった」
          dd 「助けてくれてありがとう。すごいな、あのキマイラを倒してしまうなんて」
          dd 「君たちのような強い人間と一緒にいれば安全そうだ……」
          dd 「すまないが、君たちのキャンプに住まわせてもらえないだろうか？」
          dd 「俺は、装備を加工する技術を持っている。役に立てるはずだ。」

        h3(id="h3-result-2") 描写2: キャンプにて
        p キャンプにて、冒険者たちのねぎらいと、設備の追加が行われます。
        p キャンプに戻ると、リルムがちょうど貝から炭酸カルシウムを作っている所でした。壁の補強をしようとしてくれていたのでしょう。（石鹸とモルタル）
        dl 
          dt リルム
          dd 「うおお！　おかえり！　ヌシを倒したんだな！！」
          dd 「フィールドが解除されたのを確認した。」
          dd 「本当に助かる、ありがとう……！」
          dd 「それに、生存者も発見してくれたんだな」
        dl 
          dt カジオ
          dd 「よろしく、俺は鍛冶屋だ。役に立つから安心してくれ」
          dd 「そうだな……バッテリーの仕組みはあるんだな？」
          dd 「じゃあまず[水車]を作ってやろう。」
          dd 「水力発電……？　本場と比べると電気の貯まりは遅いけどな」
        p 鍛冶屋が水路を使って水車を作ってくれます。
        p 以後、「電気」が必要なアイテムをキャンプで自動充電できるようになります。
          | しかし……体育館や小学校全体に光を灯す、まではまだいかないようです。

        h3(id="h3-rewards")  #[i(class="fas fa-gem")] 報酬 
        p キャンプの設備[水路][水車]を取得します。
        p ＜星の欠片:赤＞を１つ取得します
        p 各PCはフィールド解放の主役として、この場所の物資を最初に手に入れる権利があります。12J以下のアイテムを1つ取得します。

        h4 カジオ
        img(src="../assets/images/scenario/mother/kajio.png" width=225  alt="マグ" title="はぐれけだま様作")

        dl
         dt 基本情報
         dd 20歳 男　鍛冶屋
         dt 特殊効果
         dd ＜星の欠片＞とJを消費することでアイテムの強化を行える。 #[a(href="/lost/supplement-seki-dragon-plain.html") 強化について]
         dt 設定
         dd 水力発電所のキャンプで鍛冶屋をやっていた。

        table.responsive
          caption キャンプ設備
          thead
            tr: th 名前 #[th タイプ] #[th 指定特技] #[th レベル] #[th 効果]
          each facility in facilities
            tr
              td.txt-center= facility.name
              td(data-title='タイプ')= facility.type
              td(data-title='指定特技')= facility.specialty
              td(data-title='レベル')= facility.level
              td(data-title='効果')= facility.effect
        h2(id="h2-copy") テキストセッション用コピペ用文字列
        include includes/campaign/mother/scenario1

  include includes/common/footer
  include includes/common/toc-footer