extends includes/common/_layout
block title
  include includes/campaign/mother/variables
  - var bodyClass = "nohero"

  -
    var itemList = [
    {"name":"抗生物質","j":"10","weight":"1","type":"割込み","area":"-","specialty":"-","target":"自身","trait":"消耗品","effect":"変調を全て回復する"},
    {"name":"特製はちみつドリンク","j":"10","weight":"1","type":"割込み","area":"-","specialty":"-","target":"自身","trait":"消耗品","effect":"体力+2、気力+2。甘ったるく、生薬の香りが強い。喉とお腹が熱くなる味。"},

    ]
  -
    var objectHospitalList = [
      {"d6":"1","event":"手術室には錆び切ったメスが落ちていました。"},
      {"d6":"2","event":"机から[なんこう]と[1J]の保存食を獲得しました。"},
      {"d6":"3","event":"机から[なんこう]、[嗜好品]と[1J]を獲得しました。"},
      {"d6":"4","event":"隠し部屋の中から[鎮痛剤]と、ふかふかベッドを見つけました！　体力が生命力ぶん回復します。"},
      {"d6":"5","event":"廃墟の中から[なんこうx2]と[1J]を獲得し、更に丈夫なベッドを発見しました！　体力+2　気力+2"},
      {"d6":"6","event":"[鎮痛剤][抗生物質][3J]を獲得しました！"},

    ]

  -
    var objectShopsHaikyoList = [
      {"d6":"1","event":"不浄の魔物が、瓦礫の隙間から這い出て襲いかかってきました。ゾンビ1体と戦闘です。"},
      {"d6":"2","event":"何も見つかりませんでした。"},
      {"d6":"3","event":"コカの葉（0W,割込、体力+2）を見つけました。"},
      {"d6":"4","event":"「嗜好品」（0W,割込、気力+2）を見つけました。"},
      {"d6":"5","event":"[1d6]ジャーキーを発見しました。"},
      {"d6":"6","event":"宝物発見！　[価格:6J]までの好きなアイテムを３つ獲得できます。"},

    ]

  - 
    var randomEncountListA = [
      {"d6":"1",   "a": "ツノウサギ[1D6+PT人数]体と戦闘になります。"},
      {"d6":"2",   "a": "チヌレガラス[1D3]体と戦闘になります。"},
      {"d6":"3",   "a": "ハガネカブト[PT人数÷2]体と戦闘になります。"},
      {"d6":"4",   "a": "ベニガルトラ[1]体と戦闘になります。"},
      {"d6":"5",   "a": "オニトンボ[1D6+PT人数]体と戦闘になります。"},
      {"d6":"6",   "a": "誰とも会いませんでした"},

    ]


  -
    var enemyList1 = [
      {"name":"アラシノドラゴン","lv":"4","group":"ミュータント","stamina":"20","willpower":"14","specialties":"《叫ぶ》《※利き腕》《刺す》《※心臓》《歩く》《追い込む》","abilities":"【連続突き上げ】【嵐の咆哮】【牙】【鱗（外骨格）】","drop":"なんこう×3","comment":"嵐を呼ぶ龍。その肝は高い薬効を持っている"},

    ]

  -
    var enemyAbilityList1 = [
      {"name":"連続突き上げ","group":"ケモノ","type":"攻撃","recoil":"0","specialty":"《刺す》","target":"2体","effect":"指定特技の判定に成功すると対象に3点のダメージを与える。"},
    {"name":"嵐の咆哮","group":"ミュータント","type":"攻撃","recoil":"4","specialty":"《叫ぶ》","target":"全体","effect":"指定特技の判定に成功すると、対象に2点のダメージを与える。さらに『転倒』の変調を与える。"},
    {"name":"牙","group":"ケモノ","type":"補助","recoil":"2","specialty":"-","target":"-","effect":"命中判定に組み合わせて使用する。ダメージを2点増加させる。"},
    {"name":"外骨格","group":"ムシ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"あなたが受けるダメージを1点軽減する。"},

    ]


  -
    var objectDreamLandWarehouseList = [
      {"d6":"1","event":"夢の国のパンフレットを見つけました。読んでいると懐かしい気持ちになります。気力+1。"},
      {"d6":"2","event":"夢の国の歌詞を発見。《歌う》に成功すると、全員の気力が3点回復します。"},
      {"d6":"3","event":"夢の国の[嗜好品]、そして[1d3J]を獲得しました。"},
      {"d6":"4","event":"夢の国には大量の保存食が保管されていました！　[1d6+1]Jを獲得できます。"},
      {"d6":"5","event":"宝物発見！　[価格:3J]までの好きなアイテム/武器/防具を1つ獲得できます。"},
      {"d6":"6","event":"宝物発見！　[価格:6J]までの好きなアイテム/武器/防具を2つ獲得できます。さらに気力が基準値の半分回復します"},

    ]
  - 
    var randomEncountList2 = [
      {"d6":"1",   "a": "ヨロイバチ[2]体、オオヨロイバチ[1]体と戦闘になります。"},
      {"d6":"2",   "a":  "ヨロイバチ[2]体、オオヨロイバチ[1]体と戦闘になります。"},
      {"d6":"3",   "a":  "ヨロイバチ[2]体、オオヨロイバチ[1]体と戦闘になります。"},
      {"d6":"4",   "a":  "ヨロイバチ[2]体、オオヨロイバチ[1]体と戦闘になります。"},
      {"d6":"5",   "a": "ヨロイバチ[2]体、オオヨロイバチ[1]体と戦闘になります。"},
      {"d6":"6",   "a": "誰とも会いませんでした"},

    ]

  - 
    var randomEncountList3 = [
      {"d6":"1",   "a": "毒葬蝶[1D5]体と戦闘になります。"},
      {"d6":"2",   "a":  "チヌレガラス[1D3]体と戦闘になります。"},
      {"d6":"3",   "a":  "ハガネカブト[PT人数÷2]体と戦闘になります。"},
      {"d6":"4",   "a":  "ベニガルトラ[1]体と戦闘になります。"},
      {"d6":"5",   "a": "肉吸い花[1]体と戦闘になります。"},
      {"d6":"6",   "a": "誰とも会いませんでした"},

    ]


  -
    var enemyListBoss1 = [
      {"name":"黒い夢","lv":"3","group":"ヌシ","stamina":"15","willpower":"15","specialties":"すべて","abilities":"【悪夢の斬撃】【トラウマ】【悪夢の共鳴】【融合】【炎弱点】【透過】","drop":" -","comment":"隕石の影響で死亡した人間にマザーが手を加え、異様な変化を遂げたもの。身体の一部が作り物の臓器で構成されている。"},
    ]
  -
    var enemyAbilityListBoss1 = [
      {"name":"悪夢の斬撃","group":"ヌシ","type":"攻撃","recoil":"2","specialty":"《斬る》","target":"単体","effect":"命中判定に成功すると、対象に3点のダメージを与え、「呪い」の変調を与える。この時、命中判定の達成値にプラス2の修正がつく。『呪い』 …… [攻撃行動]を選ぶたびに【体力】が1点減少。"},
      {"name":"トラウマ","group":"ヌシ","type":"攻撃","recoil":"1","specialty":"《※脳》","target":"全体","effect":"『呪い』の変調にかかっている対象の体力・気力に2点のダメージを与える。この攻撃を受けた対象の『呪い』は解除される。"},
      {"name":"悪夢の共鳴","group":"ヌシ","type":"攻撃","recoil":"1","specialty":"《歌う》","target":"全体","effect":"この攻撃は、黒い夢・白昼夢両方の気力を消費する。目標に『呪い』の変調を与える。"},
      {"name":"融合","group":"ヌシ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"体力が0以下になった時、黒い夢と白昼夢の両方共消滅し、第２形態へと移行する。部位ダメージ・変調もすべて回復し、全く別の生き物へと変化する。"},
      {"name":"炎弱点","group":"汎用","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"【火炎弾】【火炎瓶】【爆発物】【火炎放射】など、炎を使った攻撃に対し、ダメージを2点余分に受ける。さらに【炎上】の変調となる"},
      {"name":"透過","group":"ミュータント","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"回避判定にプラス2の修正を得る。『変調』を受けている状態だと、この効果は発揮されなくなる。"},


    ]

  -
    var enemyListBoss2 = [
      {"name":"白昼夢","lv":"3","group":"ヌシ","stamina":"15","willpower":"15","specialties":"すべて","abilities":"【悪夢の斬撃】【トラウマ】【悪夢の共鳴】【融合】【炎弱点】【透過】","drop":" -","comment":"隕石の影響で死亡した人間にマザーが手を加え、異様な変化を遂げたもの。身体の一部が植物で構成されている。"},
    ]
  -
    var enemyAbilityListBoss2 = [
      {"name":"悪夢の斬撃","group":"ヌシ","type":"攻撃","recoil":"2","specialty":"《斬る》","target":"単体","effect":"命中判定に成功すると、対象に3点のダメージを与え、「呪い」の変調を与える。この時、命中判定の達成値にプラス2の修正がつく。『呪い』 …… [攻撃行動]を選ぶたびに【体力】が1点減少。"},
      {"name":"トラウマ","group":"ヌシ","type":"攻撃","recoil":"1","specialty":"《※脳》","target":"全体","effect":"『呪い』の変調にかかっている対象の体力・気力に2点のダメージを与える。この攻撃を受けた対象の『呪い』は解除される。"},
      {"name":"悪夢の共鳴","group":"ヌシ","type":"攻撃","recoil":"1","specialty":"《歌う》","target":"全体","effect":"この攻撃は、黒い夢・白昼夢両方の気力を消費する。目標に『呪い』の変調を与える。"},
      {"name":"融合","group":"ヌシ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"体力が0以下になった時、黒い夢と白昼夢の両方共消滅し、第２形態へと移行する。部位ダメージ・変調もすべて回復し、全く別の生き物へと変化する。"},
      {"name":"炎弱点","group":"汎用","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"【火炎弾】【火炎瓶】【爆発物】【火炎放射】など、炎を使った攻撃に対し、ダメージを2点余分に受ける。さらに【炎上】の変調となる"},
      {"name":"透過","group":"ミュータント","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"回避判定にプラス2の修正を得る。『変調』を受けている状態だと、この効果は発揮されなくなる。"},


    ]

  -
    var enemyListBoss3 = [
      {"name":"悪夢","lv":"5","group":"ヌシ","stamina":"30","willpower":"20","specialties":"すべて","abilities":"【悪夢の斬撃】【大鎌】【トラウマ】【悪夢の共鳴】【融合】【炎弱点】【透過】","drop":" ＜星の欠片＞","comment":"隕石の影響で死亡した人間にマザーが手を加えたもの。融合前に[暴露]されていた場合、情報だけ見抜ける"},
    ]
  -
    var enemyAbilityListBoss3 = [
      {"name":"悪夢の連斬撃","group":"ヌシ","type":"攻撃","recoil":"10","specialty":"《斬る》","target":"単体","effect":"命中判定に成功すると、対象に[1D6+6]点のダメージを与え、「呪い」の変調を与える。この時、命中判定の達成値は11で固定される。すでに『呪い』の対象には追加で[1D6]点のダメージを与える。『呪い』 …… [攻撃行動]を選ぶたびに【体力】が1点減少。"},
      {"name":"大鎌","group":"ムシ","type":"補助","recoil":"5","specialty":"-","target":"-","effect":"命中判定に組み合わせて使用する。ダメージを1D6点増加させる。"},
      {"name":"PTSD","group":"ヌシ","type":"攻撃","recoil":"5","specialty":"《※脳》","target":"全体","effect":"『呪い』の変調にかかっている対象の体力・気力に5点のダメージを与える。1ラウンドに1回しか使用しない。"},
      {"name":"強恒常性","group":"ヌシ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"変調を受けているとき、自分の手番の前に1D3を振る。その出目が受けている変調の数以下ならば、任意の変調を１つ解除できる。『無力化状態』の時にはラウンドの最後に1D6を振り、[受けている変調の数＋1]以下の出目が出た場合『無力化状態』を回復する。"},
      {"name":"2回行動","group":"ヌシ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"毎ラウンド開始時、追加行動を1回得る"},
      {"name":"炎弱点","group":"汎用","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"【火炎弾】【火炎瓶】【爆発物】【火炎放射】など、炎を使った攻撃に対し、ダメージを2点余分に受ける。さらに【炎上】の変調となる"},
      {"name":"透過","group":"ミュータント","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"回避判定にプラス2の修正を得る。『変調』を受けている状態だと、この効果は発揮されなくなる。"},
    ]

  -
    var npcList = [
      {"name":"スズ","group":"ママ/アキンド/ショクニン","stamina":"10","willpower":"15","specialties":"《斬る》《伝える》《投げる》","abilities":"【武器攻撃：ナタ】【愛刀：ナタ】【声援】【お届け！】【限界】"},
    ]
  -
    var npcAbilityList = [
      {"name":"武器攻撃：斬る","group":"汎用","type":"攻撃","recoil":"0","specialty":"《刺す》","target":"単体","effect":"指定特技の判定に成功すると、[4]点のダメージを与える。(愛刀込み）この時、命中判定の達成値にプラス2の修正がつく。"},
        {"name": "愛刀", "group": "ショクニン", "type": "常駐", "recoil": "-", "specialty": "-", "target": "自身", "effect": "装備している武器1つを愛刀として指定する。愛刀を使った命中判定の達成値にプラス1の修正がつく。さらに愛刀の[攻撃力]が1点増加する。"}, 
        {"name":"声援","group":"ママ","type":"割込み","recoil":"3","specialty":"《伝える》","target":"単体","effect":"自分以外の判定の直前に使用する。指定特技の判定に成功すると対象の達成値にプラス2の修正がつく。"},
        {"name":"お届け！","group":"アキンド","type":"割込み","recoil":"3","specialty":"《投げる》","target":"単体","effect":"指定特技の判定に成功すると、自身の所持しているアイテムを1つ目標に渡す。ただしそれを渡すことによって相手が所持限界を超えてしまう場合にはこの判定は必ず失敗する。「肩掛けカバン」「手提げ袋」以外の袋の中のものを渡すことはできない。"},

      {"name":"限界","group":"NPC","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"体力が0以下になると即座に行動不能になり、攻撃の対象にならなくなる。戦闘が終了するまで復活しない。PC達が全滅すると彼も死亡する。また、回避を行えない。"},

    ]


  - 
    var facilities = [
    {"name":"映画館","cp":"2","type":"常駐","specialty":"-","maxLv":"10","precondition":"","effect":"キャンプを出発時、全員の体力+(LV)"},
    ]


  -
    var itemRewardList = [
    {"name":"森の恵み","j":"15","weight":"2","type":"支援","area":"-","specialty":"-","target":"単体","trait":"消耗品","effect":"対象の【体力】・【気力】を5点増加する"},
    {"name":"奇跡の雫","j":"20","weight":"2","type":"支援","area":"-","specialty":"-","target":"単体","trait":"消耗品","effect":"対象の部位ダメージを1つ回復し、変調を全て回復する"},

    ]


  title= title

block css
  link(href="../assets/css/styles.css" rel="stylesheet" )
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.11.1/tocbot.css")
block headjs


block body
  header
    include includes/common/header
  main#main
    section.content
      input(id='toc' type='checkbox' class="dn")
      label(class='toc-icon' for='toc') 
        div
          i(class="fas fa-book" style="font-size: 25px") 
          i(class="fas fa-book-open" style="font-size: 25px") 
          div 目次
      nav.toc.js-toc.toc-right.transition.is-position-fixed
      .container.js-toc-content
        h1(id="h1-mother1") Mother 第四話 夢の国の悪夢
        dl
          dt #[i(class="fas fa-user-friends")] 推奨人数 
          dd  3人
          dt #[i(class="far fa-clock")] プレイ三時間 
          dd  4時間
          dt #[i(class="fas fa-hourglass-half")] リミット 
          dd 7サイクル
        h2(id="h2-summary") 概要
        p ＜フィールド＞の急な拡大を知らされ、PCたちは＜ヌシ＞退治に出かけます。
        p ＜ヌシ＞に滅ぼされたキャンプの生き残りと合流し、PCたちのキャンプを再建していくことになります。


        h2(id="h2-camp") キャンプフェイズ
        h3(id="h3-prolog")  プロローグ
        p 食料に余裕が出てきたキャンプを描きます。各PCは料理の手伝いの判定を行い、成功した分だけ全員の気力が増えます。
        p 夕食後、ディ〇ニーランドのキャンプから逃げ延びた冒険者が警告を伝えてくれます。逃げ延びたものの傷は深く、彼らはそのまま息を引き取ってしまいます。
        p ディ〇ニーランドのフィールドがこちらを飲みこむ前に、ヌシを倒さなければなりません。
        p 出発前に、リルムが「抗生物質」を1つと、「特製はちみつドリンク」を人数分くれます。

        h4 #[i(class="fas fa-flask")]  獲得アイテム
        table.responsive#item
          caption リルムの探索用アイテム
          thead
            tr: th 名前 #[th 価格] #[th 重量] #[th タイプ]  #[th 部位] #[th 指定特技] #[th 対象] #[th 特性] #[th 効果]
          each item in itemList
            tr
              td.txt-center= item.name
              td(data-title='価格')= item.j
              td(data-title='重量')= item.weight
              td(data-title='タイプ')= item.type
              td(data-title='部位')= item.area
              td(data-title='指定特技')= item.specialty
              td(data-title='対象')= item.target
              td(data-title='特性')= item.trait
              td(data-title='効果')= item.effect

        h4 セリフ例
        dl 
          dt ▼ 描写 
          dd ある日の夕方頃、PCたちはマグとラグナに呼ばれて厨房（家庭科室）へとやってきました。
          dd 家庭科室からはチョットだけ牛のいい匂いがします
          dt ▼ マグ
          dd 「悪いね、急に呼んで」
          dd 「ちょっと皆とやりたいことがあったから」
          dt ▼ ラグナ
          dd 「そうだ……"ビーフシチュー"を……作る」
          dt ▼ マグ
          dd 「作り方うろ覚えだったけどね、」
          dd 「このまえ海老名から皆が持ち帰ってきてくれた物資の中に、シチューのレシピもあったんだ！」
          dt ▼ ラグナ
          dd 「そう、レトルトではないビーフシチューを作る」
          dd 「みんな牛肉がスキらしいからな」
          dd 「牛肉が腐る前に使い切ってやりたい」
          dt ▼ マグ
          dd 「そう、牛肉がスキな子多いから」
          dd 「材料もね……これ！　これを見て！」
          dt ▼ 描写 
          dd マグが、2階教室のベランダに置いてあった花壇を持ってきました。
          dt ▼ マグ
          dd 「そう、"ミニトマト"と"玉ねぎ"と"ミニニンジン"がこんなに実ったの！」
          dd 「恐らく1日分にしかならないけど！　美味しいものを作れば皆喜ぶから使っちゃおう！」
          dt ▼ ラグナ
          dd 「ベランダで実るなんて、生命力が強い野菜たちだな」
          dt ▼ マグ
          dd 「ベランダ菜園、ほとんどは失敗しちゃったけど（水不足な時もあったし）」
          dd 「これだけあれば、80人分のビーフシチュー1日分にはなるよ」
          dd 「というわけで、仕込みを手伝ってほしいの！」
          dt ▼ 描写 
          dd 各PC、以下の中から手伝いを1つ選び、《特技》で判定します。失敗しても最低限はこなせたことになります。成功するたびに、全員の気力がプラス1されます。
          dd ① 手伝いません！　応援します《歌う》
          dd ② 疑似デミグラスソースに挑戦　《閃く》 or 《仕掛ける》
          dd ③ 塩、胡椒、砂糖、醤油などの調味料を追加で探してくる 《探索》 or 《地理》
          dd ④ お肉や野菜を追加で持ってくる！ 《締める》 or 《捕らえる》
          dd ⑤ 具材を切る、鍋ごとに分ける、煮込む 《料理》 or 《バランス》
          dt ① あなたは歌ったり踊ったりして応援した！
          dd 成功時： リズムにのって、楽しく一緒に準備ができました
          dd 失敗時： 疲れました！
          dt ②ニクを焼いたあとに出た汁と、玉ねぎ・水・トマト・醤油を混ぜたりして……試行錯誤の結果、トロみは薄いけどそれっぽいソースが作れました！
          dd 成功時： ものすごくそれっぽいデミグラスソースが作れました！
          dd 失敗時： 味だけはそれっぽいデミグラスソースが作れました！
          dt ③あなたは付近の空き家や、かつてフィールドだった場所から調味料を調達してきました！
          dd 成功時： 砂糖、塩、胡椒など！　ワインも見つけてきました！　慎重に持って帰りました。醤油は、魚と塩を使って[魚醤]を作っていた子供から分けてもらえました。
          dd 失敗時： 今回必要なぶんだけ持ち帰ってきた！
          dt ④あなたは元気よく山へ向かい、根菜や逃げた家畜などを採ってきました！シチューのための具材がたくさん増えました！
          dd 成功時： 想定以上の量の根菜とお肉を収穫してきました。おいしいジャガイモつき。
          dd 失敗時： 必要なぶんだけの根菜とお肉を持ち帰ってきました！
          dt ⑤あなたは具材を切り、配分を考えながら鍋ごとに分け……
          dd 成功時： そして完璧な火加減で煮込みました。
          dd 失敗時： 火の調整に手こずりましたが、何とか上手くできました。
          dt ▼ ラグナ
          dd 「ビーフシチュー全体に…………味が偏らないよう、水分はほどほど抜いて……」
          dd 「よし……」
          dt ▼ 描写 
          dd 皆で頑張った結果、思い描いた通りのビーフシチューが出来上がりました。
          dd トロミ（小麦粉/薄力粉）や一部調味料（バター/コンソメ）はないものの、味はかなり市販のものに近付きました。
          dd 具材もたくさん入っています。スープを皆で味見してみると……かなり"それっぽい"です！
          dt ▼ マグ
          dd 「……ここまでちゃんとしたものになるなんて」
          dd 「皆ありがとう！　じゃあ明日の夜、皆に振る舞おうね！」
          dt ▼ ラグナ
          dd 「あと……あの、この前来た人（クルス）。ゆでたまごも別に用意しておこう」
          dt ▼ 描写 
          dd マグは皆と協力できて嬉しそうです。
          dd ラグナは調味料の入れ物に書いてある文字を自慢気に読み上げたりしました。
          dd そして後日！
          dd 時刻は夕暮れ時。チヌレカラスがカアと鳴いています。
          dd 食堂から、”ビーフシチュー”の香りが漂ってきます。
          dd PCたちは、リルムと共に食卓にやってきました。
          dd 外で遊んでいた子供も泥だらけで帰ってきました。
          dd 泥だらけの子供に「何をしていたのか？」と聞いてみると……『最近周囲が安全になってきたので冒険していた』そうです。
          dd 冒険はまだ危険だ、とラグナがクギをさしておいてくれました。
          dd 子供達がヨダレを垂らしながら食卓に座っています。
          dt ▼ クルス
          dd 「懐かしい良い香りがする……」
          dt ▼ ラグナ
          dd 「座れ！　今日はマグと（PC名）たちの自信作だ！（配膳役）」
          dt ▼ カジオ
          dd 「おい、いい香りがするぞ。牛のいい香りが！　牛すじのいい香りが」
          dt ▼ リルム
          dd 「……昨夜なんか企んでいたようだったが、これか……！！！！」
          dd 「た、食べていいか……（イタダキマス待ち）」
          dt ▼ マグ
          dd 「【いただきます】」
          dt ▼ 子供達
          dd 「いただきまーす！」
          dt ▼ カジオ
          dd 「うま！！　ゴホ、うま！！！！　うまい！！」
          dt ▼ ラグナ
          dd 「……？　昨日味見した時からまたウマくなっている。なにかしたのか？」（一晩寝かせただけです）
          dt ▼ クルス
          dd 「クセになる味だけど……元気がでてくる」
          dt ▼ リルム
          dd 「やっぱり昔のメシはいいな～！　これまた皆のやる気に繋がるぞ」
          dt ▼ マグ
          dd 「そうそう、今夜も体育館で映画を流すんだ。」
          dd 「皆が持ってきてくれたフィルムや機材のおかげ！」
          dt ▼ 子供
          dd 「ぼく映画見ながら食べる！」
          dt ▼ マグ
          dd 「食料も水も確保できて、日々に楽しみも生まれた」
          dd 「（PC名）たちには本当に感謝しています」
          dt ▼ リルム
          dd 「今夜こそ、ディ〇ニーか？！」
          dd （ディ〇ニー映画はない……）
          dt ▼ 描写 
          dd ビーフシチューを食べ終わり、映画の準備をしていると、小学校の校門から警笛が鳴り響いてきます。
          dt ▼ マグ
          dd 「警笛……！　子供に持たせていた笛の音だ」
          dt ▼ リルム
          dd 「？！　なんだ、オレが見張りにいない間に何かが……？！」
          dt ▼ クルス
          dd 「強盗かな、ちょっと見に行ってみよう」
          dt ▼ 描写 
          dd リルム、ラグナ、クルス、PCたちで校門へ向かいました。
          dd そうして校門に到着すると、血まみれの男女が３人、助けを求めていました。
          dd 警笛はそれを見た子供が鳴らしたものでした。
          dd 血まみれの男女が口を開きます。
          dt ▼ 男女
          dd 「助けて下さい。私たちは千葉のキャンプの者です」
          dd 「ディ〇ニーランドにフィールドが発生し、もう手に負えません。うちの戦闘員も全員やられました」
          dd 「フィールドは、もう、この場所からそんなに遠くないところまで広がっています。」
          dd 「どうかフィールドを潰しにいってくれませんか」
          dd 「潰さないと、ここにも、もう、広がってきます」
          dt ▼ リルム
          dd 「なんだと……」
          dt ▼ 男女
          dd 「くそっ……ディズニーランドは、最近になってやっとラジオや冷蔵庫が動くようになって」
          dd 「……これからだったってのに……」
          dt ▼ クルス
          dd 「喋らなくていい、ラクにしてくれ」
          dd 「汚いがこれを使ってくれ」（古いタオルの上に怪我人を寝かせる）
          dt ▼ ラグナ
          dd 「俺のとこのマザー牧場も、まさに『これから』って時に潰されたんだ」
          dt ▼ クルス
          dd 「僕のところも、映画や音楽がつかえそう！　って時に。」
          dt ▼ ラグナ
          dd  「もしかしたら、ミュータントたちは、発展しようとしているキャンプを狙って潰そうとしているのかもな」
          dt ▼ リルム
          dd 「まさかそんな……狙って生まれるなんてことが、そんな知識がミュータント共にあるとはとても……」
          dd 「喋れるやつなんて、見たことないしな」
          dt ▼ クルス
          dd 「マザーとやらが、狙ってヌシを送りだしているのかもしれない」
          dt ▼ リルム
          dd 「とにかく、うちも警戒しないと……子供たちには楽しく安全に暮らしてもらわないと」
          dd 「そして彼らの応急手当を……」
          dt ▼ クルス
          dd 「……だめだ。もう、息をしていない」
          dt ▼ ラグナ
          dd  「クソ……」
          dt ▼ リルム
          dd 「……」
          dd 「危険を誰かに伝えたかったんだな」
          dd 「頑張ったんだな……」
          dd 「ディ〇ニーランド、か。その方向に埋めておいてやろう」
          dt ▼ ラグナ
          dd 「俺たちのビーフシチュー、飲ませてやりたかったな」
          dd 「……あいつらのためにも、ディ〇ニーランドのフィールドを潰しに行ってもらわねば」
          dd 「頼めるか、（PC名）達」
          dt ▼ 描写 
          dd 皆でいったん小学校の廊下に集まりました。
          dt ▼ マグ
          dd 「彼ら……あんな傷で、よくこの小学校に辿り着けたね」
          dd 「とにかく、フィールドをなんとかしないと。」
          dd 「とりあえず、７日分（７サイクル）ぶんの食糧と水を用意したよ」
          dt ▼ リルム
          dd 「栄養ドリンクをまた作ったんだ。ぜひ飲んでいってくれ」（またつくってくれた）
          dd 「それから、冒険ごっこをしていた子供たちが薬も見つけてきてくれた。こいつも持って行ってくれ」
          dd 栄養ドリンクを人数分と、抗生物質を1つ手に入れます

        p キャンプフェイズの行動を行います。 キャンプフェイズ終了前に、見送りの描写を行います。

        h4 セリフ例
        dl 
          dt ▼ マグ
          dd 「気をつけて。」
          dd 「今度は調達じゃない……　戦いの依頼。」
          dt ▼ リルム
          dd 「お前たちなら大丈夫……だ。ああ……大丈夫。」
          dd 「……クルス、ちょっとついてこい。小学校の防衛について教える」
          dt ▼ クルス
          dd 「あ、うん（ヤリを持ってリルムについていく）」
          dd 「今度は壊させないから」
          dt ▼ カジオ
          dd 「俺は引き続き、子供達に仕事を教える。」
          dd 「……あと、皆に活力が戻ったのはいいことではあるんだが……」
          dd 「ココロに余裕が生まれすぎて、冒険ごっこをするやんちゃな子も出てきた。」
          dd 「子供だからな、仕方ないことだが……そのへんも俺が注意しておく」

          dt ▼ ラグナ
          dd 「このキャンプは大丈夫だ。　……遊園地のフィールドのヌシを倒してきてくれ」
          dt ▼ マグ
          dd 「無事帰ってきてくれたら、あたらしい料理に挑戦するからね」」

          dt ▼ 描写
          dd この冒険に失敗すれば、キャンプはディ〇ニーランドのフィールドへと呑まれてしまいます。
          dd 一行はフィールドへと向かいました。

        h2(id="h2-search")  探索フェイズ
        h3(id="h3-cp-1") #[i(class="far fa-check-circle")] 第1チェックポイント： ねじれた楽園
        dl 
          dt 環境
          dd 領域 ＆ 極寒
          dt 領域
          dd ＜フィールド＞の中でも特に敵が得意とする地域。PCの行う全判定が-1される。
          dd 探索中ファンブルが発生すると、体調を崩して1D3のダメージを受ける。
          dd 戦闘中ファンブルが発生すると、敵1体が追加行動を得る。
          dt 極寒
          dd 極寒の地。
          dd PCはサイクルの終了時に《耐える/胴部12》の判定を行い、失敗したら軽減不可の1D6点のダメージを受ける。
            | この判定にはマイナス[経過ラウンド数]の修正がつく。
            | 割込で火つけ道具を消費することで《耐える+2》、たいまつ消費で《耐える+3》の修正を得られる。

        h4  #[i(class="far fa-image")]   描写
        p 背筋も凍る恐ろしい雰囲気の楽園です。
        p 今まで通ってきたチェックポイントの中で一番イヤな気持ちになる場所です。
        p 障害も多く、逃れることのできない強敵が待っています。
        p 病院のオブジェクトがあり、探索時、高確率で回復アイテムが見つかります。
        p 拙い日本語で文字の書かれた、新しい看板がたてられています。
          | #[br]「よくも　仲間を」
          | #[br]「よくも　わが子を」
        p 次のチェックポイントへの道に進むには、【障害:邪悪な霧】を突破する必要があります。


        dl 
          dt ▼描写例
          dd ディ〇ニーランドに向けて歩いていると……
          dd ディ〇ニーランドがあったであろう場所を中心に、＜フィールド＞が広がっています。
          dd 生存者は居るのでしょうか……？
          dd ＜フィールド＞の入り口に侵入すると、突然不気味な空気がＰＣ達の身体を包みます。
          dd 壁は肉のように柔らかく、非常に不気味です。

          dd 入り口近くに新しい看板が立っています。
          dd 看板には拙い日本語でなにか書いてあります。
          dd 「よくも　仲間を」
          dd 「よくも　わが子を」

        h4 #[i(class="fas fa-list-ol")] オブジェクト: 海老名の廃墟
        p 1d6を振って出た目に応じた結果を解決します。

        table.responsive
          caption 病院
          thead
            tr: th d6 #[th イベント] 
          each item in objectHospitalList
            tr
              td(data-title='d6')= item.d6
              td(data-title='イベント')= item.event
 

        h4 #[i(class="fas fa-shoe-prints")] 肉壁の道
        p 次のチェックポイントに進む道です。壁がどくんどくんと脈動する肉色の壁になっています。
        p 見たこともない真っ暗な霧が行く手を塞いでいます。突破するには感覚に頼って抜けるしかありません。
        p この障害は突破判定に５回成功する必要があります。この障害は判定に失敗するたびに突破判定にプラス1の修正がつきます。（勘所がわかり、成功しやすくなる）
        h5 #[i(class="fas fa-lock")] 障害: 不気味な霧1
        p  指定特技：《※感覚器》　or 《予感》 or 《かわす》
        h5 #[i(class="fas fa-lock")] 障害: 不気味な霧2
        p  指定特技：《※感覚器》　or 《予感》 or 《かわす》
        h5 #[i(class="fas fa-lock")] 障害: 不気味な霧3
        p  指定特技：《※感覚器》　or 《予感》 or 《かわす》
        h5 #[i(class="fas fa-lock")] 障害: 不気味な霧4
        p  指定特技：《※感覚器》　or 《予感》 or 《かわす》
        h5 #[i(class="fas fa-lock")] 障害: 不気味な霧5
        p  指定特技：《※感覚器》　or 《予感》 or 《かわす》

        p 視界を奪う黒い霧と不気味な壁の道を進み、次のチェックポイントへと向かいます。
        p ここでは領域ランダムエンカウント表を使用します。
        p このとき、ランダムエンカウント後に『アラシノドラゴン』との戦闘になります。 ※強敵ですが、ヌシではありません。
        p 肉壁に薄い膜が張られた盛り上がりがあり、PCたちの気配に反応してか、薄膜を破って巨大な竜が粘液を滴らせながら鎌首を持ち上げます。強い風が吹いてきます。
        p 領域内での戦闘となり、プレイヤーに不利な状況です。判定値マイナス1と、ファンブル時の敵の追加行動を忘れないよう注意してください。
        p ※中ボスですが、アビリティ『森へおかえり』　の対象です。2Jで和解できます。 

        table.chart#table-randomencountA
          caption 領域ランダムエンカウント表
          thead
            tr: th d6 #[th 説明] 
          each name in randomEncountListA
            tr
              td= name.d6
              td= name.a



        table.responsive
          caption アラシノドラゴン
          thead
            tr: th 名前 #[th レベル] #[th タイプ] #[th 体力]  #[th 気力] #[th 特技] #[th アビリティ] #[th 解説]
          each enemy in enemyList1
            tr
              td.txt-center= enemy.name
              td(data-title='レベル')= enemy.lv
              td(data-title='タイプ')= enemy.group
              td(data-title='体力')= enemy.stamina
              td(data-title='気力')= enemy.willpower
              td(data-title='特技')= enemy.specialties
              td(data-title='アビリティ')= enemy.abilities
              td(data-title='ドロップ')= enemy.drop
              td(data-title='解説')= enemy.comment

        table(class="responsive")
          caption アラシノドラゴンのアビリティ
          thead
            tr: th 名前 #[th グループ]  #[th タイプ] #[th 反動] #[th 指定特技] #[th 対象] #[th 効果]
          each item in enemyAbilityList1
            tr
              td.txt-center= item.name
              td(data-title='グループ')= item.group
              td(data-title='タイプ')= item.type
              td(data-title='反動')= item.recoil
              td(data-title='指定特技')= item.specialty
              td(data-title='対象')= item.target
              td(data-title='効果')= item.effect


        h3(id="h3-cp-2") #[i(class="far fa-check-circle")] 第2チェックポイント：春の足音
        dl 
          dt 環境
          dd 春風 ＆ 花畑
          dt 春風 
          dd 暖かい春の陽気。サイクル終了時に体力が２回復する。
          dt 花畑
          dd 美しい花畑。戦闘で『毒』が発生しない。美しい光景はあなた達の力になる。
          dd PCの行う全判定が＋１される。
          dd また、オブジェクト探索の表に[気力回復]が多く追加される。
       
        h4  #[i(class="far fa-image")]   描写
        p あたたかくて気持ちの良い場所です。
        p ディ〇ニーランドの倉庫らしき瓦礫が転がり落ちています。
        p 瓦礫でまともな道は使えず、ジェットコースターのレールをつたえば、次のチェックポイントに向かえそうです。

        h4 #[i(class="fas fa-list-ol")] オブジェクト:夢の国の倉庫
        p 1d6を振って出た目に応じた結果を解決します。

        table.responsive
          caption :夢の国の倉庫
          thead
            tr: th d6 #[th イベント] 
          each item in objectDreamLandWarehouseList
            tr
              td(data-title='d6')= item.d6
              td(data-title='イベント')= item.event

        h4 #[i(class="fas fa-shoe-prints")] ジェットコースターのレール
        p 次のチェックポイントに進む道です。先に進むためには、スペースマウンテンのレールだったものを伝っていく必要があります。
        p この障害は突破判定に２回成功する必要があります。
        h5 #[i(class="fas fa-lock")] 障害: スペースマウンテン1
        p  指定特技：《バランス》 or 《地理》
        h5 #[i(class="fas fa-lock")] 障害: スペースマウンテン2
        p  指定特技：《バランス》 or 《地理》

        p 次のチェックポイント移動時のランダムエンカウント表は、花畑ランダムエンカウント表を使います

        table.chart#table-randomEncountList2
          caption 花畑ランダムエンカウント表
          thead
            tr: th d6 #[th 説明] 
          each name in randomEncountList2
            tr
              td= name.d6
              td= name.a


        h3(id="h3-cp-3") #[i(class="far fa-check-circle")] 第3チェックポイント： 夢の国の瓦礫
        dl 
          dt 環境
          dd 迷宮　＆　巣窟
          dt 迷宮
          dd 迷宮のように複雑なフィールドではとてもお腹がすく。
          dd 経過サイクルが偶数のとき、このチェックポイントでサイクル終了を迎えた場合に、食料を1つ消費できなかったPCは【体力】と【気力】がそれぞれ1D3点減少する。
          dd この効果で1未満にはならない。
          dt 巣窟
          dd ２サイクル滞在するごとにランダムエンカウントが発生する
       
        h4  #[i(class="far fa-image")]   描写
        p 破壊された夢の国のお城の姿です。
        p 瓦礫を利用した、新生物の巣窟となっています。どこに敵が隠れているのか分かりません。
        p 進む先から恐ろしい殺気を感じます。どうやらここが最後のチェックポイントのようです。

        h4 #[i(class="fas fa-list-ol")] オブジェクト:夢の国の倉庫
        p 1d6を振って出た目に応じた結果を解決します。

        table.responsive
          caption :夢の国の倉庫
          thead
            tr: th d6 #[th イベント] 
          each item in objectDreamLandWarehouseList
            tr
              td(data-title='d6')= item.d6
              td(data-title='イベント')= item.event


        h4 #[i(class="fas fa-shoe-prints")] うつろな中心への道
        p ＜ヌシ＞のチェックポイントに進む道です。進む道が崩壊していて先に進むことができません。
        p この障害は崩壊した瓦礫を壊してどかすことで突破できます。
        p 命中判定に失敗してもダメージは入ります。
         | 命中力が6以上だった場合、追加で1d6のダメージを与えられます。
         | 命中力が12以上だった場合、追加で2d6のダメージを与えられます。


        h5 #[i(class="fas fa-lock")] 障害: 邪魔な瓦礫
        p #[i(class="fas fa-dice")]  《自由》武器攻撃　瓦礫の体力:25/25

        p 次のチェックポイント移動時のランダムエンカウント表は、夢の国ランダムエンカウント表を使います

        table.chart#table-randomEncountList3
          caption 夢の国ランダムエンカウント表
          thead
            tr: th d6 #[th 説明] 
          each name in randomEncountList3
            tr
              td= name.d6
              td= name.a

        h2(id="h2-showdown") 決戦フェイズ
        dl 
          dt 環境
          dd 平地
          dd 特殊効果なし
        p ＜ヌシ＞である「黒い夢」「白昼夢」が、ディ〇ニーランドの生き残りであるスズと戦闘しているところに遭遇します。
        p PC達が初めて出会う、言葉を介すヌシです。
        p この戦闘にはNPCのスズが参加します。
        p ＜ヌシ＞の「黒い夢」「白昼夢」はいずれかの体力を0にすると第2形態へと変貌します。
          

        dl 
          dt ▼描写例
          dd ディ〇ニーランドの中心部に辿り着きました。
          dd ディ〇ニーランドをフィールド化したヌシの正体は……
          dd 大まかにはヒト型にもみえる、不思議な姿をした、不可解な２匹の生物でした。
          dd いたるところに眼球があり、身体や頭部の先端は鋭く尖り、まるで鎌のようです。
          dd ヌシは、生存者を1人拘束しています。
          dd ヌシはあなたたちに気付くと、生存者NPCスズを放り投げ、あなた達に日本語で話しかけてきます。
          dt スズ
          dd 「ぐおエっ！！ はぁ、はぁ。……畜生、よくもうちのキャンプを……ディ〇ニーランドを……」
          dt 黒い夢
          dd 「（PC1の武器）に、（PC2の武器）に、　（PC3の武器）に、(PC1の特徴)　……君た　ちが噂の……。」
          dt 白昼夢
          dd 「その(PC2の特徴)……、(PC3の特徴)に……(PC1の特徴)……。」
          dt 黒い夢
          dd 「ここは。夢の国の終着点だ。見ての通り。面白いものは何もない」
          dd 「執着と。憎悪の。入り混じった。虚ろな世界」
          dt 黒い夢
          dd 「君たちの話は聞いている」
          dt 白昼夢
          dd 「君たちだな。関東にいる。私たちの仲間を。殺しまわって。足掻いているのは」
          dd 「罰を受け。大人は死に絶え。文化が滅んで。なお。生きようと？」
          dd 「見苦しい」
          dt 黒い夢
          dd 「見苦しい。生きるのを諦めて。無に還ってはどうだろう」
          dd 「生きるのを諦める。その手伝いは。してやれる」
          dd 「手伝ってあげよう。手伝ってあげよう。手伝ってあげよう」
          dd 黒い夢たちは容赦なく襲いかかってきます。
          dd ＜ヌシ＞との戦闘です。
          dd この戦闘では、生存者NPCのスズが戦闘に参加してくれます。
          dd NPCは回避ができず、必ず先制判定に失敗します。
        
        p 黒い夢、白昼夢いずれかのHPを0にすると融合の描写が挟まります。融合後の＜ヌシ＞は即座に【本気】となります。

        dl 
          dt ▼描写例
          dd 倒したはずの悪夢の身体が液状化し、もう片方の悪夢に吸い込まれていく……
          dd 悪夢の身体は、ぐにぐにと質量を無視して巨大化し始める。
          dd 同時に黒い煙が蔓延し……周囲が暗闇に染まった。
          dd 暗闇の中から声が聞こえてくる。
          dt 悪夢
          dd 「君たちは。もとより。想定外の。命」
          dd 「それなのに。無に還るのを。拒むのか」
          dt ▼描写
          dd 不気味に突起した頭部から、肉、刃、眼球といった組織が次々と溢れ出てくる。
          dd その身体の変化はあまりにも急で、10秒もしない内にその場を恐怖で埋め尽くした。
          dd 空気が鉛のように重苦しい。
          dd 態度と形状で示される、ハッキリとした殺意。
          dd "今まで相手してきたヌシとはレベルが違う"、そう思わせるには充分だった。
          dt 悪夢
          dd 「今更抵抗するなど。滑稽なことだと思わないか？」
          dd より大きく、より鋭く進化した鎌を振りかざしながらPCたちに襲いかかる。
        h4  #[i(class="fas fa-dragon")]  戦闘
        table.responsive
          caption 黒い夢
          thead
            tr: th 名前 #[th レベル] #[th タイプ] #[th 体力]  #[th 気力] #[th 特技] #[th アビリティ] #[th 解説]
          each enemy in enemyListBoss1
            tr
              td.txt-center= enemy.name
              td(data-title='レベル')= enemy.lv
              td(data-title='タイプ')= enemy.group
              td(data-title='体力')= enemy.stamina
              td(data-title='気力')= enemy.willpower
              td(data-title='特技')= enemy.specialties
              td(data-title='アビリティ')= enemy.abilities
              td(data-title='ドロップ')= enemy.drop
              td(data-title='解説')= enemy.comment

        table(class="responsive")
          caption 黒い夢のアビリティ
          thead
            tr: th 名前 #[th グループ]  #[th タイプ] #[th 反動] #[th 指定特技] #[th 対象] #[th 効果]
          each item in enemyAbilityListBoss1
            tr
              td.txt-center= item.name
              td(data-title='グループ')= item.group
              td(data-title='タイプ')= item.type
              td(data-title='反動')= item.recoil
              td(data-title='指定特技')= item.specialty
              td(data-title='対象')= item.target
              td(data-title='効果')= item.effect

        table.responsive
          caption 白昼夢
          thead
            tr: th 名前 #[th レベル] #[th タイプ] #[th 体力]  #[th 気力] #[th 特技] #[th アビリティ] #[th 解説]
          each enemy in enemyListBoss2
            tr
              td.txt-center= enemy.name
              td(data-title='レベル')= enemy.lv
              td(data-title='タイプ')= enemy.group
              td(data-title='体力')= enemy.stamina
              td(data-title='気力')= enemy.willpower
              td(data-title='特技')= enemy.specialties
              td(data-title='アビリティ')= enemy.abilities
              td(data-title='ドロップ')= enemy.drop
              td(data-title='解説')= enemy.comment

        table(class="responsive")
          caption 白昼夢のアビリティ
          thead
            tr: th 名前 #[th グループ]  #[th タイプ] #[th 反動] #[th 指定特技] #[th 対象] #[th 効果]
          each item in enemyAbilityListBoss2
            tr
              td.txt-center= item.name
              td(data-title='グループ')= item.group
              td(data-title='タイプ')= item.type
              td(data-title='反動')= item.recoil
              td(data-title='指定特技')= item.specialty
              td(data-title='対象')= item.target
              td(data-title='効果')= item.effect

        h4 スズ

        dl
         dt 基本情報
         dd 15歳 女
         dd ママ/アキンド/ショクニン
         dt 特殊効果
         dd キャンプフェイズ時に、アイテムを[1]個まで取引することができる。4CPを払うごとに取引できる数が1ずつ増える（キャンペーン間持続する）。
         dt 設定
         dd コカの葉中毒の商人。言葉遣いが独特。
         dt 所持品
         dd コカの葉x5　なんこうx3　嗜好品x3

        table.responsive
          caption スズ
          thead
            tr: th 名前 #[th クラス] #[th 体力]  #[th 気力] #[th 特技] #[th アビリティ] 
          each enemy in npcList
            tr
              td.txt-center= enemy.name
              td(data-title='クラス')= enemy.group
              td(data-title='体力')= enemy.stamina
              td(data-title='気力')= enemy.willpower
              td(data-title='特技')= enemy.specialties
              td(data-title='アビリティ')= enemy.abilities


        table(class="responsive")
          caption ラグナのアビリティ
          thead
            tr: th 名前 #[th グループ]  #[th タイプ] #[th 反動] #[th 指定特技] #[th 対象] #[th 効果]
          each item in npcAbilityList
            tr
              td.txt-center= item.name
              td(data-title='グループ')= item.group
              td(data-title='タイプ')= item.type
              td(data-title='反動')= item.recoil
              td(data-title='指定特技')= item.specialty
              td(data-title='対象')= item.target
              td(data-title='効果')= item.effect


        h2(id="h2-result") 結果フェイズ
        h3(id="h3-result-1") 描写1: 戦闘終了後
        p 悪夢は最期に、PCたちに「目立ちすぎた」と不吉な言葉を遺して倒れます。
        p フィールドは消え……ディ〇ニーランドが解放されました。しかしディ〇ニーランドは元通りにはならず、滅びたままです。
        p 悪夢と戦っていた、商人のスズが仲間になります。
        p スズはキャンプの奥から、リルム念願のディ〇ニー映画のフィルムや、まだ使える機械を持ってきます。
        p そして、PCたちのキャンプに合流したいと申し出ます。

        dl 
          dt ▼ 悪夢
          dd 「……」
          dd 「君たちは。目立ちすぎた」
          dd 「きっと。君たちが受けるであろう反動は」
          dd 「大きいものになるだろう」
          dd 「……」
          dt ▼ スズ
          dd 「……助かった」
          dd 「すッ（げえ）な、あの２体のバケモノを倒しちまうなんてヨ」
          dd 「……ディズニーランド、よいキャンプだッ（たんだけど）なア……。残念だ。」
          dd 「コカも吸えるし、取引相手もたくさんいる素晴らしいとこだったんがなア」
          dd 「で、これからは君たちのキャンプに住まわせてもらうよ」
          dd 「悲しくないわけじゃねーケドよ」
          dd 「あンだろ？　キャンプがよ！」
          dd 「あたしゃな、商人どもに顔がキくんだ。貴重な取引ができっぜエ！」
          dd 「それによ…………製鉄用の機械や、ディ〇ニー映画のフィルムがあるんだぜ！」
          dd 「持って行くといい！」
          dd 「あたしをお前らのキャンプに連れてってくれんなら機械の場所を教えてやる！」
          dd 「スーーーー……（コカの葉を吸う）　ハーーーーー……」
          dd 「さて」
          dd 「GO!　GOだ！　あたしにとっての新たなキャンプへ！」
          dd 「お前らのキャンプはどんなとこなんだ？」


        h3(id="h3-result-2") 描写2: キャンプにて
        p スズと一緒に、キャンプにディ〇ニー映画フィルムや機械を持ち帰ってきます。
        p キャンプに希望をもたらしました。

        dl 
          dt ▼ 描写例
          dd 物資と、製鉄用の道具と、「ディ〇ニー映画のフィルム」を持ち帰りました。
          dd 見張りをしていたリルムとクルスがあなたたちに気付きます。
          dt ▼ クルス
          dd 「（ホッ）　……やったんだな」
          dt ▼ リルム
          dd 「よく無事で戻ってきた！！　やってくれたんだな！」
          dt ▼ スズ
          dd 「……！？　おいなんだこの良い香りは……」
          dd 「…………？！　発電もしてる……川で……　……家畜もいる……？！？！」
          dd 「この世界で…………？！　どうやって管理を……」
          dd 「なんだ……？　あの子供の数は……アレだけの人数を養って……」
          dt ▼ クルス
          dd 「養っているわけじゃない。みんな仕事を覚えようとしている……仲間だ。」
          dt ▼ リルム
          dd リルムはスズが持っている荷物に興味津々です。
          dd 「そのフィルムはまさか……まさかディ〇ニー映画……！！」
          dd 「後輩と野獣に……と雪の女王まで………！！！」
          dt ▼ マグ
          dd 声を聞きつけ、マグやラグナ、カジオが迎えに出てきてくれました。
          dd 「ディ〇ニーランドが新生物の手で陥落するなんて……」
          dd 「でもヌシを倒してくれたんだね！　さすがだよ」
          dd 「それは……色々な道具に……　……　映画のフィルム！」
          dd 「きっとみんな喜ぶよ！！！」
          dt ▼ スズ
          dd 「ん、このキャンプのリーダーはあいつか？」
          dd 「よ！　初めましてだなア！　皆さん！　あたしゃ商人のスズ！」
          dd 「スーー……（コカ）　ハーーーー…………」
          dd 「物資の調達なら任せろ！　あといい匂いだなア！！」
          dt ▼ マグ
          dd 「元気がいいね！　うん、具材たっぷりのカレーがあるよ」
          dd 「私はマグ、よろしくね」
          dt ▼ スズ
          dd 「ああ！　コカ吸うか？　アスパルテームの袋もあるぞ！」
          dd 「おしゃれな服もいつでも用意できるからよ！　１Jからお求めしてくれ！」
          dt ▼ リルム
          dd  「い、いや……」
          dt ▼ カジオ
          dd カジオは荷物から機械をさっさと持って行ってしまいます。
          dd 「おっ　これがあれば、製鉄もできそうじゃないか」
          dd 「映画とあわせて早速セッティングしてくる」
          dt ▼ リルム
          dd  「ディ〇ニー映画だぞ！！　カジオ！！」
          dt ▼ カジオ
          dd 「ああ。セッティングしてくる」
          dt ▼ リルム
          dd  「ディ〇ニーだぞ！！　ラグナ！　クルス！　マグ」
          dt ▼ マグ
          dd 「ずっと見たがってたもんね、リルム」
          dt ▼ ラグナ
          dd 「ああ。何やら個性的な作品揃いらしいな」
          dt ▼ リルム
          dd 「個性的どころじゃねえ！　世界で初めて音を使ったアニメ映画はディ〇ニーの……」
          dt ▼ スズ
          dd 「え、？　このキャンプじゃ映画も見られるのか？」
          dt ▼ クルス
          dd 「凄いぞ、ここの皆は」
          dt ▼ 描写
          dd その日の夜、さっそく子供たちは映画「バナナと雪の女王」を視聴しました。
          dd みんなでキャンプで採れた具材たっぷりのカレーを食べながら楽しみました。
          dd リルムは興奮しつつも、初見の人たちのために静かに見てくれていました。
          dd 子供たちに活力が戻ってきました。
          dd カジオが充実してきた機材で作った電球もどきも次々完成し、小学校は夜も明るく安全に暮らせるようになりました。


        h3(id="h3-rewards")  #[i(class="fas fa-gem")] 報酬 
        p ヌシのドロップアイテムとして、＜星の欠片＞を１つ取得します。色はランダムです。
        p ヌシを倒してフィールドを解放したことによりCP5点を獲得します。
        p 各PCはフィールド解放の主役として、この場所の物資を最初に手に入れる権利があります。15J以下のアイテムを1つ取得します。
 
        p  #[a(href="/lost/campaign-mother.html") キャンペーン: Motherに戻る]


  include includes/common/footer
  include includes/common/toc-footer