extends includes/common/_layout
block title
  include includes/campaign/mother/variables
  - var bodyClass = "nohero"

  -
    var itemList = [
    {"name":"抗生物質","j":"10","weight":"1","type":"割込み","area":"-","specialty":"-","target":"自身","trait":"消耗品","effect":"変調を全て回復する"},
    {"name":"特製はちみつドリンク","j":"10","weight":"1","type":"割込み","area":"-","specialty":"-","target":"自身","trait":"消耗品","effect":"体力+2、気力+2。甘ったるく、生薬の香りが強い。喉とお腹が熱くなる味。"},

    ]
  -
    var objectEbinaHaikyoList = [
      {"d6":"1","event":"瓦礫の陰から、イヌコウモリが１体現れました。襲ってきます。"},
      {"d6":"2","event":"すでに何者かに荒らされており、何も見つかりませんでした。"},
      {"d6":"3","event":"元住民の持っていた[ダウジングロッド]を見つけました。ありがたく頂戴しました。"},
      {"d6":"4","event":"誰かの残した[手書きのメモ]を見つけました。"},
      {"d6":"5","event":"廃墟の中から[嗜好品]を２個獲得しました。さらに食べられるキノコを獲得！食べられるキノコを食べて体力+1　気力+1"},
      {"d6":"6","event":"宝物発見！　[価格:4J]までの好きなアイテムを1つ獲得できます。"},

    ]

  -
    var objectShopsHaikyoList = [
      {"d6":"1","event":"不浄の魔物が、瓦礫の隙間から這い出て襲いかかってきました。ゾンビ1体と戦闘です。"},
      {"d6":"2","event":"何も見つかりませんでした。"},
      {"d6":"3","event":"コカの葉（0W,割込、体力+2）を見つけました。"},
      {"d6":"4","event":"「嗜好品」（0W,割込、気力+2）を見つけました。"},
      {"d6":"5","event":"[1d6]ジャーキーを発見しました。"},
      {"d6":"6","event":"宝物発見！　[価格:6J]までの好きなアイテムを３つ獲得できます。"},

    ]


  -
    var enemyList1 = [
      {"name":"ゴウカギュウ","lv":"5","group":"ケモノ","stamina":"15","willpower":"13","specialties":"《追跡》《※利き腕》《※呼吸器》《走る》《休まない》《追い込む》","abilities":"【突き上げ】【突撃】【火炎放射】【鋭角】","drop":"3,4牛肉(1j,1W)×3 5,6 缶詰(10J,1W)","comment":"赤く大きな牛。尻尾の先には赤々と火が灯っている。"},

    ]

  -
    var enemyAbilityList1 = [
      {"name":"突き上げ","group":"ケモノ","type":"攻撃","recoil":"0","specialty":"《走る》","target":"単体","effect":"指定特技の判定に成功すると対象に1D6点のダメージを与える。"},
    {"name":"突撃","group":"ケモノ","type":"攻撃","recoil":"3","specialty":"《走る》","target":"全体","effect":"指定特技の判定に成功すると、3点のダメージを与える。ただし、対象は1D6を振って奇数がでた場合、攻撃の対象から外れる。"},
    {"name":"鋭角","group":"ケモノ","type":"補助","recoil":"1","specialty":"-","target":"-","effect":"命中判定に組み合わせて使用する。ダメージを1点増加させる。"},
    {"name":"火炎放射","group":"ミュータント","type":"攻撃","recoil":"2","specialty":"《呼吸器》","target":"全体","effect":"指定特技の判定に成功すると、敵全体に『炎上』の変調を与える。"},

    ]


  -
    var objectKurayamiHaikyo = [
      {"d6":"1","event":"何も見つかりませんでした。　しかも数十匹のコウガイビルに噛まれました。　気力-1"},
      {"d6":"2","event":"1Jの保存食を発見しました。ありがたくいただきました。"},
      {"d6":"3","event":"箱の中からなんこうを２つ見つけました。ありがたくいただきましょう。"},
      {"d6":"4","event":"元住民の持っていた[たいまつ]を見つけました。保存状態は良好。ありがたく頂戴しました。"},
      {"d6":"5","event":"高級品「抗生物質」を見つけました。ありがたく頂戴しました。"},
      {"d6":"6","event":"僥倖！　保存状態が完璧な[缶詰]を発見しました。"},

    ]

  -
    var objectPlantHouseList = [
      {"d6":"1","event":"おいしい木の実を見つけました。つまみ喰いしました。+1J。しかし……毒虫に噛まれそうです。《しゃがむ》に成功した場合、うまく毒虫を避け、体力+2の効果を得ます。"},
      {"d6":"2","event":"おいしいキノコを見つけ、葉っぱのベッドも見つけました。　+1J　+4気力"},
      {"d6":"3","event":"植物園から、[2d6]ジャーキーぶんの木の実やキノコを発見しました。"},
      {"d6":"4","event":"精油を噴出する樹木を見つけました。樹液は「なんこう」になりました！さらに気力が基準値の半分回復します。"},
      {"d6":"5","event":"コカの葉（0W,割込、体力+2）を見つけました。更に日光浴をし、体力が基準値ぶん回復します。"},
      {"d6":"6","event":"たいへん上質な木材を発見しました。　+1CP。更に日光浴をし、体力が基準値ぶん、気力が基準値の半分回復します。"},

    ]

  -
    var objectEbinaStationList = [
      {"d6":"1","event":"汚れた映画のパンフレットを見つけ、読みふけりました。　気力+1"},
      {"d6":"2","event":"元バーガーキング店に、ノウサギの群れが集まっていました。　+1J　体力+1"},
      {"d6":"3","event":"服の店の売れ残りから、胴防具[快適な下着]を見つけました。"},
      {"d6":"4","event":"「コカの葉」を２枚見つけました。"},
      {"d6":"5","event":"海老名駅から宝物発見！　[価格:3J]までの好きなアイテム/武器/防具を2つ獲得できます。"},
      {"d6":"6","event":"助けを求めていた商人を見つけました。商人は、お礼として[2]回まであなたと物資の取引をしてくれます。"},

    ]

  -
    var itemEbinaStationList = [
    {"name":"快適な下着","j":"10","weight":"1","type":"装備","area":"胴部","specialty":"-","target":"自身","trait":"","effect":"【精神力】をプラス1する。"},

    ]


  -
    var enemyListBoss = [
      {"name":"バジリスク","lv":"5","group":"ヌシ/ミュータント","stamina":"25","willpower":"30","specialties":"すべて","abilities":"【バジリスクの目】【凍える咆哮 → 輝く咆哮】【貫通嘴  → 大貫通嘴】【アクロバット】【習性：回避に3回失敗】【恒常性】","drop":" ＜星の欠片＞","comment":"想像上の物語に現れる巨大トカゲ。対象の動きを確実に止め、肉を喰らい尽くす。『変調』を使った攻撃が得意。"},
    ]
  -
    var enemyAbilityListBoss = [
      {"name":"バジリスクの目","group":"ヌシ","type":"攻撃","recoil":"5","specialty":"《見つける》","target":"全体","effect":"命中判定に成功すると、　対象に「麻痺」「捕縛」の２つの変調を与える。この時、命中判定の達成値にプラス2の修正がつく。補助アビリティと併用不可。最初の行動でのみ使用する。"},
      {"name":"凍える咆哮","group":"ヌシ","type":"攻撃","recoil":"3","specialty":"《叫ぶ》","target":"全体","effect":"目標に『麻痺』の変調を与える。すでに『麻痺』の対象には体力と気力に2点のダメージを与える。"},
      {"name":"貫通嘴","group":"ヌシ","type":"攻撃","recoil":"0","specialty":"《刺す》","target":"2体","effect":"目標に3点のダメージを与える。このダメージは軽減できない。さらに「対象に与えられた変調の数x2」の追加ダメージを与える。"},
      {"name":"アクロバット","group":"チビ","type":"補助","recoil":"2","specialty":"-","target":"-","effect":"回避判定に組み合わせて使用する。達成値にプラス2の修正がつく。"},

      {"name":"習性","group":"ヌシ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"その戦闘中に条件を満たした時、追加行動を得る。条件は回避に3回失敗したとき"},
      {"name":"恒常性","group":"ヌシ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"変調を受けているとき、自分の手番の前に1D6を振る。その出目が受けている変調の数以下ならば、任意の変調を１つ解除できる。『無力化状態』の時にはラウンドの最後に1D6を振り、[受けている変調の数＋1]以下の出目が出た場合『無力化状態』を回復する。"},
      {"name":"輝く咆哮","group":"ヌシ","type":"攻撃","recoil":"3","specialty":"《叫ぶ》","target":"全体","effect":"目標に『麻痺』と『捕縛』の変調を与える。すでに『麻痺』の対象には体力と気力に2点のダメージを与える。"},
      {"name":"貫通嘴","group":"ヌシ","type":"攻撃","recoil":"0","specialty":"《刺す》","target":"2体","effect":"目標に3点のダメージを与える。このダメージは軽減できない。さらに『重傷』の変調を与えたのち、「対象に与えられた変調の数x2」の追加ダメージを与える。"},

      {"name":"外骨格","group":"ムシ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"あなたが受けるダメージを1点軽減する。"},

    ]

  -
    var npcList = [
      {"name":"クルス","group":"キズモノ/ホープ","stamina":"12","willpower":"15","specialties":"《刺す》","abilities":"【武器攻撃：槍】【悪運】【希望の光】【幸運の星】【限界】"},
    ]
  -
    var npcAbilityList = [
      {"name":"武器攻撃：刺す","group":"汎用","type":"攻撃","recoil":"0","specialty":"《刺す》","target":"単体","effect":"指定特技の判定に成功すると、[3]点のダメージを与える。この時、命中判定の達成値にプラス2の修正がつく。"},
      {"name":"悪運","group":"キズモノ","type":"割込み","recoil":"3","specialty":"なし","target":"単体","effect":"対象の判定の直後に使用。サイコロ1つの出目をマイナス1する。シナリオ3回。"},
        {"name":"希望の光","group":"ホープ","type":"割込み","recoil":"3","specialty":"なし","target":"単体","effect":"対象の判定の直後に使用。サイコロ1つの出目をプラス1する。シナリオ3回。"},
        {"name":"幸運の星","group":"ホープ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"あなたの行う行為判定では出目が6,5の時にもスペシャルとなる。"},


      {"name":"限界","group":"NPC","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"体力が0以下になると即座に行動不能になり、攻撃の対象にならなくなる。戦闘が終了するまで復活しない。PC達が全滅すると彼も死亡する。また、回避を行えない。"},

    ]


  - 
    var facilities = [
    {"name":"映画館","cp":"2","type":"常駐","specialty":"-","maxLv":"10","precondition":"","effect":"キャンプを出発時、全員の体力+(LV)"},
    ]


  -
    var itemRewardList = [
    {"name":"森の恵み","j":"15","weight":"2","type":"支援","area":"-","specialty":"-","target":"単体","trait":"消耗品","effect":"対象の【体力】・【気力】を5点増加する"},
    {"name":"奇跡の雫","j":"20","weight":"2","type":"支援","area":"-","specialty":"-","target":"単体","trait":"消耗品","effect":"対象の部位ダメージを1つ回復し、変調を全て回復する"},

    ]


  title= title

block css
  link(href="../assets/css/styles.css" rel="stylesheet" )
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.11.1/tocbot.css")
block headjs


block body
  header
    include includes/common/header
  main#main
    section.content
      input(id='toc' type='checkbox' class="dn")
      label(class='toc-icon' for='toc') 
        div
          i(class="fas fa-book" style="font-size: 25px") 
          i(class="fas fa-book-open" style="font-size: 25px") 
          div 目次
      nav.toc.js-toc.toc-right.transition.is-position-fixed
      .container.js-toc-content
        h1(id="h1-mother1") Mother 第四話
        dl
          dt #[i(class="fas fa-user-friends")] 推奨人数 
          dd  3人
          dt #[i(class="far fa-clock")] プレイ三時間 
          dd  4時間
          dt #[i(class="fas fa-hourglass-half")] リミット 
          dd 7サイクル
        h2(id="h2-summary") 概要
        p ＜フィールド＞の急な拡大を知らされ、PCたちは＜ヌシ＞退治に出かけます。
        p ＜ヌシ＞に滅ぼされたキャンプの生き残りと合流し、PCたちのキャンプを再建していくことになります。


        h2(id="h2-camp") キャンプフェイズ
        h3(id="h3-prolog")  プロローグ
        p 食料に余裕が出てきたキャンプを描きます。各PCは料理の手伝いの判定を行い、成功した分だけ全員の気力が増えます。
        p 夕食後、ディ〇ニーランドのキャンプから逃げ延びた冒険者が警告を伝えてくれます。逃げ延びたものの傷は深く、彼らはそのまま息を引き取ってしまいます。
        p ディ〇ニーランドのフィールドがこちらを飲みこむ前に、ヌシを倒さなければなりません。
        p 出発前に、リルムが「抗生物質」を1つと、「特製はちみつドリンク」を人数分くれます。

        h4 #[i(class="fas fa-flask")]  獲得アイテム
        table.responsive#item
          caption リルムの探索用アイテム
          thead
            tr: th 名前 #[th 価格] #[th 重量] #[th タイプ]  #[th 部位] #[th 指定特技] #[th 対象] #[th 特性] #[th 効果]
          each item in itemList
            tr
              td.txt-center= item.name
              td(data-title='価格')= item.j
              td(data-title='重量')= item.weight
              td(data-title='タイプ')= item.type
              td(data-title='部位')= item.area
              td(data-title='指定特技')= item.specialty
              td(data-title='対象')= item.target
              td(data-title='特性')= item.trait
              td(data-title='効果')= item.effect

        h4 セリフ例
        dl 
          dt ▼ 描写 
          dd ある日の夕方頃、PCたちはマグとラグナに呼ばれて厨房（家庭科室）へとやってきました。
          dd 家庭科室からはチョットだけ牛のいい匂いがします
          dt ▼ マグ
          dd 「悪いね、急に呼んで」
          dd 「ちょっと皆とやりたいことがあったから」
          dt ▼ ラグナ
          dd 「そうだ……"ビーフシチュー"を……作る」
          dt ▼ マグ
          dd 「作り方うろ覚えだったけどね、」
          dd 「このまえ海老名から皆が持ち帰ってきてくれた物資の中に、シチューのレシピもあったんだ！」
          dt ▼ ラグナ
          dd 「そう、レトルトではないビーフシチューを作る」
          dd 「みんな牛肉がスキらしいからな」
          dd 「牛肉が腐る前に使い切ってやりたい」
          dt ▼ マグ
          dd 「そう、牛肉がスキな子多いから」
          dd 「材料もね……これ！　これを見て！」
          dt ▼ 描写 
          dd マグが、2階教室のベランダに置いてあった花壇を持ってきました。
          dt ▼ マグ
          dd 「そう、"ミニトマト"と"玉ねぎ"と"ミニニンジン"がこんなに実ったの！」
          dd 「恐らく1日分にしかならないけど！　美味しいものを作れば皆喜ぶから使っちゃおう！」
          dt ▼ ラグナ
          dd 「ベランダで実るなんて、生命力が強い野菜たちだな」
          dt ▼ マグ
          dd 「ベランダ菜園、ほとんどは失敗しちゃったけど（水不足な時もあったし）」
          dd 「これだけあれば、80人分のビーフシチュー1日分にはなるよ」
          dd 「というわけで、仕込みを手伝ってほしいの！」
          dt ▼ 描写 
          dd 各PC、以下の中から手伝いを1つ選び、《特技》で判定します。失敗しても最低限はこなせたことになります。成功するたびに、全員の気力がプラス1されます。
          dd ① 手伝いません！　応援します《歌う》
          dd ② 疑似デミグラスソースに挑戦　《閃く》 or 《仕掛ける》
          dd ③ 塩、胡椒、砂糖、醤油などの調味料を追加で探してくる 《探索》 or 《地理》
          dd ④ お肉や野菜を追加で持ってくる！ 《締める》 or 《捕らえる》
          dd ⑤ 具材を切る、鍋ごとに分ける、煮込む 《料理》 or 《バランス》
          dt ① あなたは歌ったり踊ったりして応援した！
          dd 成功時： リズムにのって、楽しく一緒に準備ができました
          dd 失敗時： 疲れました！
          dt ②ニクを焼いたあとに出た汁と、玉ねぎ・水・トマト・醤油を混ぜたりして……試行錯誤の結果、トロみは薄いけどそれっぽいソースが作れました！
          dd 成功時： ものすごくそれっぽいデミグラスソースが作れました！
          dd 失敗時： 味だけはそれっぽいデミグラスソースが作れました！
          dt ③あなたは付近の空き家や、かつてフィールドだった場所から調味料を調達してきました！
          dd 成功時： 砂糖、塩、胡椒など！　ワインも見つけてきました！　慎重に持って帰りました。醤油は、魚と塩を使って[魚醤]を作っていた子供から分けてもらえました。
          dd 失敗時： 今回必要なぶんだけ持ち帰ってきた！
          dt ④あなたは元気よく山へ向かい、根菜や逃げた家畜などを採ってきました！シチューのための具材がたくさん増えました！
          dd 成功時： 想定以上の量の根菜とお肉を収穫してきました。おいしいジャガイモつき。
          dd 失敗時： 必要なぶんだけの根菜とお肉を持ち帰ってきました！
          dt ⑤あなたは具材を切り、配分を考えながら鍋ごとに分け……
          dd 成功時： そして完璧な火加減で煮込みました。
          dd 失敗時： 火の調整に手こずりましたが、何とか上手くできました。
          dt ▼ ラグナ
          dd 「ビーフシチュー全体に…………味が偏らないよう、水分はほどほど抜いて……」
          dd 「よし……」
          dt ▼ 描写 
          dd 皆で頑張った結果、思い描いた通りのビーフシチューが出来上がりました。
          dd トロミ（小麦粉/薄力粉）や一部調味料（バター/コンソメ）はないものの、味はかなり市販のものに近付きました。
          dd 具材もたくさん入っています。スープを皆で味見してみると……かなり"それっぽい"です！
          dt ▼ マグ
          dd 「……ここまでちゃんとしたものになるなんて」
          dd 「皆ありがとう！　じゃあ明日の夜、皆に振る舞おうね！」
          dt ▼ ラグナ
          dd 「あと……あの、この前来た人（クルス）。ゆでたまごも別に用意しておこう」
          dt ▼ 描写 
          dd マグは皆と協力できて嬉しそうです。
          dd ラグナは調味料の入れ物に書いてある文字を自慢気に読み上げたりしました。
          dd そして後日！
          dd 時刻は夕暮れ時。チヌレカラスがカアと鳴いています。
          dd 食堂から、”ビーフシチュー”の香りが漂ってきます。
          dd PCたちは、リルムと共に食卓にやってきました。
          dd 外で遊んでいた子供も泥だらけで帰ってきました。
          dd 泥だらけの子供に「何をしていたのか？」と聞いてみると……『最近周囲が安全になってきたので冒険していた』そうです。
          dd 冒険はまだ危険だ、とラグナがクギをさしておいてくれました。
          dd 子供達がヨダレを垂らしながら食卓に座っています。
          dt ▼ クルス
          dd 「懐かしい良い香りがする……」
          dt ▼ ラグナ
          dd 「座れ！　今日はマグと（PC名）たちの自信作だ！（配膳役）」
          dt ▼ カジオ
          dd 「おい、いい香りがするぞ。牛のいい香りが！　牛すじのいい香りが」
          dt ▼ リルム
          dd 「……昨夜なんか企んでいたようだったが、これか……！！！！」
          dd 「た、食べていいか……（イタダキマス待ち）」
          dt ▼ マグ
          dd 「【いただきます】」
          dt ▼ 子供達
          dd 「いただきまーす！」
          dt ▼ カジオ
          dd 「うま！！　ゴホ、うま！！！！　うまい！！」
          dt ▼ ラグナ
          dd 「……？　昨日味見した時からまたウマくなっている。なにかしたのか？」（一晩寝かせただけです）
          dt ▼ クルス
          dd 「クセになる味だけど……元気がでてくる」
          dt ▼ リルム
          dd 「やっぱり昔のメシはいいな～！　これまた皆のやる気に繋がるぞ」
          dt ▼ マグ
          dd 「そうそう、今夜も体育館で映画を流すんだ。」
          dd 「皆が持ってきてくれたフィルムや機材のおかげ！」
          dt ▼ 子供
          dd 「ぼく映画見ながら食べる！」
          dt ▼ マグ
          dd 「食料も水も確保できて、日々に楽しみも生まれた」
          dd 「（PC名）たちには本当に感謝しています」
          dt ▼ リルム
          dd 「今夜こそ、ディ〇ニーか？！」
          dd （ディ〇ニー映画はない……）
          dt ▼ 描写 
          dd ビーフシチューを食べ終わり、映画の準備をしていると、小学校の校門から警笛が鳴り響いてきます。
          dt ▼ マグ
          dd 「警笛……！　子供に持たせていた笛の音だ」
          dt ▼ リルム
          dd 「？！　なんだ、オレが見張りにいない間に何かが……？！」
          dt ▼ クルス
          dd 「強盗かな、ちょっと見に行ってみよう」
          dt ▼ 描写 
          dd リルム、ラグナ、クルス、PCたちで校門へ向かいました。
          dd そうして校門に到着すると、血まみれの男女が３人、助けを求めていました。
          dd 警笛はそれを見た子供が鳴らしたものでした。
          dd 血まみれの男女が口を開きます。
          dt ▼ 男女
          dd 「助けて下さい。私たちは千葉のキャンプの者です」
          dd 「ディ〇ニーランドにフィールドが発生し、もう手に負えません。うちの戦闘員も全員やられました」
          dd 「フィールドは、もう、この場所からそんなに遠くないところまで広がっています。」
          dd 「どうかフィールドを潰しにいってくれませんか」
          dd 「潰さないと、ここにも、もう、広がってきます」
          dt ▼ リルム
          dd 「なんだと……」
          dt ▼ 男女
          dd 「くそっ……ディズニーランドは、最近になってやっとラジオや冷蔵庫が動くようになって」
          dd 「……これからだったってのに……」
          dt ▼ クルス
          dd 「喋らなくていい、ラクにしてくれ」
          dd 「汚いがこれを使ってくれ」（古いタオルの上に怪我人を寝かせる）
          dt ▼ ラグナ
          dd 「俺のとこのマザー牧場も、まさに『これから』って時に潰されたんだ」
          dt ▼ クルス
          dd 「僕のところも、映画や音楽がつかえそう！　って時に。」
          dt ▼ ラグナ
          dd  「もしかしたら、ミュータントたちは、発展しようとしているキャンプを狙って潰そうとしているのかもな」
          dt ▼ リルム
          dd 「まさかそんな……狙って生まれるなんてことが、そんな知識がミュータント共にあるとはとても……」
          dd 「喋れるやつなんて、見たことないしな」
          dt ▼ クルス
          dd 「マザーとやらが、狙ってヌシを送りだしているのかもしれない」
          dt ▼ リルム
          dd 「とにかく、うちも警戒しないと……子供たちには楽しく安全に暮らしてもらわないと」
          dd 「そして彼らの応急手当を……」
          dt ▼ クルス
          dd 「……だめだ。もう、息をしていない」
          dt ▼ ラグナ
          dd  「クソ……」
          dt ▼ リルム
          dd 「……」
          dd 「危険を誰かに伝えたかったんだな」
          dd 「頑張ったんだな……」
          dd 「ディ〇ニーランド、か。その方向に埋めておいてやろう」
          dt ▼ ラグナ
          dd 「俺たちのビーフシチュー、飲ませてやりたかったな」
          dd 「……あいつらのためにも、ディ〇ニーランドのフィールドを潰しに行ってもらわねば」
          dd 「頼めるか、（PC名）達」
          dt ▼ 描写 
          dd 皆でいったん小学校の廊下に集まりました。
          dt ▼ マグ
          dd 「彼ら……あんな傷で、よくこの小学校に辿り着けたね」
          dd 「とにかく、フィールドをなんとかしないと。」
          dd 「とりあえず、７日分（７サイクル）ぶんの食糧と水を用意したよ」
          dt ▼ リルム
          dd 「栄養ドリンクをまた作ったんだ。ぜひ飲んでいってくれ」（またつくってくれた）
          dd 「それから、冒険ごっこをしていた子供たちが薬も見つけてきてくれた。こいつも持って行ってくれ」
          dd 栄養ドリンクを人数分と、抗生物質を1つ手に入れます

        p キャンプフェイズの行動を行います。 キャンプフェイズ終了前に、見送りの描写を行います。

        h4 セリフ例
        dl 
          dt ▼ マグ
          dd 「気をつけて。」
          dd 「今度は調達じゃない……　戦いの依頼。」
          dt ▼ リルム
          dd 「お前たちなら大丈夫……だ。ああ……大丈夫。」
          dd 「……クルス、ちょっとついてこい。小学校の防衛について教える」
          dt ▼ クルス
          dd 「あ、うん（ヤリを持ってリルムについていく）」
          dd 「今度は壊させないから」
          dt ▼ カジオ
          dd 「俺は引き続き、子供達に仕事を教える。」
          dd 「……あと、皆に活力が戻ったのはいいことではあるんだが……」
          dd 「ココロに余裕が生まれすぎて、冒険ごっこをするやんちゃな子も出てきた。」
          dd 「子供だからな、仕方ないことだが……そのへんも俺が注意しておく」

          dt ▼ ラグナ
          dd 「このキャンプは大丈夫だ。　……遊園地のフィールドのヌシを倒してきてくれ」
          dt ▼ マグ
          dd 「無事帰ってきてくれたら、あたらしい料理に挑戦するからね」」

          dt ▼ 描写
          dd この冒険に失敗すれば、キャンプはディズニーランドのフィールドへと呑まれてしまいます。
          dd 一行はフィールドへと向かいました。

        h2(id="h2-search")  探索フェイズ
        h3(id="h3-cp-1") #[i(class="far fa-check-circle")] 第1チェックポイント： 銷魂の都
        dl 
          dt 環境
          dd 猛暑 ＆ 暗闇
          dt 猛暑 
          dd フィールド内はひどく暑く、体力を奪っていく。
          dd サイクルの終了時にPCの【体力】が1点減少する。この効果で1未満にはならない。
          dt 暗闇
          dd 「ライト」や「たいまつ」などの明かりを持っていない限り、PCの行為判定にマイナス1の修正がつく。
          dd 「たいまつ」は1サイクルで1つ消費される。
        h4  #[i(class="far fa-image")]   描写
        p イオンシネマ海老名があった場所を中心に＜フィールド＞が広がっています。【オブジェクト:海老名の廃墟】があります。
        p 拙い日本語で文字の書かれた、新しい看板がたてられています。
          | #[br]「母の降臨によって、古い人類はみな息絶えた」
          | #[br]「世界は生まれ変わろうとしている」
        p このチェックポイントは日の光は遮断されていて暗く、熱源も見当たらないのに非常に暑いです。
        p 次のチェックポイントへの道に不気味な虫たちが群れをなしており、【障害:未知の虫群】を突破する必要があります。


        dl 
          dt ▼描写例
          dd イオンシネマ海老名に向けて歩いていると……
          dd イオンシネマ海老名があったであろう場所を中心に、＜フィールド＞が広がっています。
          dd 生存者は居るのでしょうか……？
          dd ＜フィールド＞に足を踏み入れると、周囲が突然暗くなり、汗が止まらないほどの猛烈な暑さに襲われます。
          dd ここには海老名駅らしき建物の残骸が埋まっているようです。【オブジェクト：海老名の廃墟】があります。
          dd 新しい看板が、この＜フィールド＞にもたてられています。
          dd 看板には拙い日本語でなにか書いてあります。
          dd 「母の降臨によって、古い人類はみな息絶えた」
          dd 「世界は生まれ変わろうとしている」

        h4 #[i(class="fas fa-list-ol")] オブジェクト: 海老名の廃墟
        p 1d6を振って出た目に応じた結果を解決します。

        table.responsive
          caption 海老名の廃墟
          thead
            tr: th d6 #[th イベント] 
          each item in objectEbinaHaikyoList
            tr
              td(data-title='d6')= item.d6
              td(data-title='イベント')= item.event
 

        h4 #[i(class="fas fa-shoe-prints")] 虫の湧く道
        p 次のチェックポイントに進む道です。見たこともない不気味な虫の群れが行く手を塞いでいます。
        p 虫の通り道を塞ぐことや、虫よけの方法を閃くことで突破できます。
        p この障害は突破判定に２回成功する必要があります。
        h5 #[i(class="fas fa-lock")] 障害: 不気味な虫群1
        p  指定特技：《閃く》　or 《塞ぐ》
        h5 #[i(class="fas fa-lock")] 障害: 不気味な虫群2
        p  指定特技：《閃く》　or 《塞ぐ》




        h3(id="h3-cp-2") #[i(class="far fa-check-circle")] 第2チェックポイント：不気味な路地
        dl 
          dt 環境
          dd 領域 ＆ 商店
          dt 領域
          dd ＜フィールド＞の中でも特に敵が得意とする地域。PCの行う全判定が-1される。
          dd 探索中ファンブルが発生すると、体調を崩して1D3のダメージを受ける。
          dd 戦闘中ファンブルが発生すると、敵1体が追加行動を得る。
          dt 商店
          dd ショッピングモールやデパート跡など。サイクル終了時に1つだけ「嗜好品」を手に入れることができる。
          dd また、探索のモチベーションが上がり、探索/オブジェクト選択時に気力が追加で１回復する。
        h4  #[i(class="far fa-image")]   描写
        p ミュータントに暮らしやすい環境となっている商店街です。
        p ここからの移動では、ランダムエンカウントは発生しません。ただし、移動時に【偵察】で避けられない強敵との戦闘が発生します。
        dl 
          dt ▼描写例
          dd 不気味な虫達をやりすごし、海老名の廃墟を進んでいると……
          dd 身の毛もよだつ恐ろしい雰囲気の商店街にやってきました。
          dd 初めて見る環境……　どうやらここは、新生物たちにとって最も暮らしやすい環境である"領域"のようです。

        h4 #[i(class="fas fa-list-ol")] オブジェクト:領域の商店街
        p 1d6を振って出た目に応じた結果を解決します。

        table.responsive
          caption 領域の商店街
          thead
            tr: th d6 #[th イベント] 
          each item in objectKurayamiHaikyo
            tr
              td(data-title='d6')= item.d6
              td(data-title='イベント')= item.event

        h4 #[i(class="fas fa-shoe-prints")] 鉄塔の道
        p 次のチェックポイントに進む道です。斜めに傾いた鉄塔。目的地はその上を進んだ先です。登らなければなりません。
        p この障害は突破判定に２回成功する必要があります。
        h5 #[i(class="fas fa-lock")] 障害: 鉄塔の道1
        p  指定特技：《※利き腕》
        h5 #[i(class="fas fa-lock")] 障害: 鉄塔の道2
        p  指定特技：《※利き腕》
        p 鉄塔を昇って、次のチェックポイントへと向かいます。
        p このとき、『ゴウカギュウ』との戦闘になります。 ※強敵ですが、ヌシではありません。
        p 領域内での戦闘となり、プレイヤーに不利な状況です。判定値マイナス1と、ファンブル時の敵の追加行動を忘れないよう注意してください。
        p ※中ボスですが、アビリティ『森へおかえり』　の対象です。2Jで和解できます。 撤退して戦闘を回避することも可能です。

        table.responsive
          caption ゴウカギュウ
          thead
            tr: th 名前 #[th レベル] #[th タイプ] #[th 体力]  #[th 気力] #[th 特技] #[th アビリティ] #[th 解説]
          each enemy in enemyList1
            tr
              td.txt-center= enemy.name
              td(data-title='レベル')= enemy.lv
              td(data-title='タイプ')= enemy.group
              td(data-title='体力')= enemy.stamina
              td(data-title='気力')= enemy.willpower
              td(data-title='特技')= enemy.specialties
              td(data-title='アビリティ')= enemy.abilities
              td(data-title='ドロップ')= enemy.drop
              td(data-title='解説')= enemy.comment

        table(class="responsive")
          caption ゴウカギュウのアビリティ
          thead
            tr: th 名前 #[th グループ]  #[th タイプ] #[th 反動] #[th 指定特技] #[th 対象] #[th 効果]
          each item in enemyAbilityList1
            tr
              td.txt-center= item.name
              td(data-title='グループ')= item.group
              td(data-title='タイプ')= item.type
              td(data-title='反動')= item.recoil
              td(data-title='指定特技')= item.specialty
              td(data-title='対象')= item.target
              td(data-title='効果')= item.effect



        h3(id="h3-cp-3") #[i(class="far fa-check-circle")] 第3チェックポイント： 濡れる植物園
        dl 
          dt 密林
          dd 身を潜めて隙を伺うことで攻撃をあてやすくなる。白兵・射撃武器の命中判定にプラス1の修正がつく。

        h4  #[i(class="far fa-image")]   描写
        p たくさんの樹木、そしておいしそうな果物やキノコが生っている植物園です。
        p このチェックポイントに初めて訪れた時、食べごろの果実(1J,1W)を1つ取得できます。
        p 樹木から出てくる精油は、悪い虫を遠ざけ、オブジェクト探索時には必ず良い何かが見つかる。

        dl 
          dt ▼描写例
          dd 不気味な路地を越えると、ようやく"領域"から脱出でき……普通の環境に出会えました。
          dd ここは植物園のようです。日の光もしっかり届いています。
          dd しかし、最近まで都市だった場所とはとても思えないほど蔦が張っています。
          dd あなたは近くに生っていた「柿」をむしりとりました。(+1J獲得)
          dd 最近まで人が管理していた痕跡があり、「柿」もほんのりとした甘さを感じさせます。
          dd 現段階では、植物の正しい管理方法についてはサッパリ分かりません。皆のキャンプでの栽培は望み薄です。

        h4 #[i(class="fas fa-list-ol")] オブジェクト:植物園
        p 1d6を振って出た目に応じた結果を解決します。

        table.responsive
          caption 民家跡
          thead
            tr: th d6 #[th イベント] 
          each item in objectPlantHouseList
            tr
              td(data-title='d6')= item.d6
              td(data-title='イベント')= item.event


        h4 #[i(class="fas fa-shoe-prints")] 滝雨の道
        p 次のチェックポイントに進む道です。
        p 頻繁に大雨が降る。ちょうどよく晴れるタイミングを見極めないと進めません。

        h5 #[i(class="fas fa-lock")] 障害: 大雨
        p #[i(class="fas fa-dice")]  障害突破判定 《待つ》



        h3(id="h3-cp-4") #[i(class="far fa-check-circle")] 第4チェックポイント： コンクリートジャングル
        dl 
          dt 環境
          dd 瓦礫　＆　巣窟
          dt 瓦礫
          dd 足場の悪い場所。全回避判定にマイナス2の修正がつく。
          dd ただし、[ヤセイジ]を所持する者はマイナス修正が無くなり、命中判定と回避判定にプラス1の修正がつく。
          dt 巣窟
          dd ２サイクル滞在するごとにランダムエンカウントが発生する
       
        h4  #[i(class="far fa-image")]   描写
        p 瓦礫の積み重なった、迷路のような空間です。【オブジェクト:海老名駅】【障害：瓦礫迷路】
        p 最期のチェックポイントです。

        dl 
          dt ▼ 描写例
          dd 大雨を上手く切り抜け、次のチェックポイントに到着しました。
          dd 晴れ間と共に現れたのは、瓦礫の積み重なった、迷路のような空間でした。
          dd どこに敵が隠れているのか分かりません。
          dd 進む先から恐ろしい殺気を感じます。どうやらここが最後のチェックポイントのようです。


        h4 #[i(class="fas fa-list-ol")] オブジェクト:海老名駅
        p 1d6を振って出た目に応じた結果を解決します。

        table.responsive
          caption 海老名駅
          thead
            tr: th d6 #[th イベント] 
          each item in objectEbinaStationList
            tr
              td(data-title='d6')= item.d6
              td(data-title='イベント')= item.event


        table.responsive#item
          caption 海老名駅での獲得アイテム
          thead
            tr: th 名前 #[th 価格] #[th 重量] #[th タイプ]  #[th 部位] #[th 指定特技] #[th 対象] #[th 特性] #[th 効果]
          each item in itemEbinaStationList
            tr
              td.txt-center= item.name
              td(data-title='価格')= item.j
              td(data-title='重量')= item.weight
              td(data-title='タイプ')= item.type
              td(data-title='部位')= item.area
              td(data-title='指定特技')= item.specialty
              td(data-title='対象')= item.target
              td(data-title='特性')= item.trait
              td(data-title='効果')= item.effect



        h4 #[i(class="fas fa-shoe-prints")] 瓦礫の迷路
        p ＜ヌシ＞のチェックポイントに進む道です。
        p 複雑な地形が先への道を阻みます。
        h5 #[i(class="fas fa-lock")] 障害: 瓦礫迷路
        p #[i(class="fas fa-dice")]  障害突破判定 《地理》or《閃く》or《歩く》



        h2(id="h2-showdown") 決戦フェイズ
        dl 
          dt 環境
          dd 平地
          dd 特殊効果なし
        p ＜ヌシ＞であるバジリスクと、イオンシネマ海老名の生き残りであるクルスが戦闘中のところに、PCたちは遭遇します。
        p この戦闘では、NPCのクルスが戦闘に参加します。
        p バジリスクは回避に３回失敗すると生存本能が働いて性質が変化し「硬化バジリスク」となります。回避に失敗した回数をカウントしてください。
        p 「硬化バジリスク」になると、アビリティの変更・追加・削除があります。
          | #[br] アビリティ変更：【凍える咆哮 → 輝く咆哮】【貫通嘴  → 大貫通嘴】。
          | #[br] アビリティ追加：【外骨格】
          | #[br] アビリティ削除：【アクロバット】
          

        dl 
          dt ▼描写例
          dd イオンシネマ海老名の中心部に辿り着きました。
          dd イオンシネマ海老名をフィールド化したヌシの正体は……
          dd 巨大な……トカゲのような不可解な生物でした。
          dd 巨体をガサガサと揺らしながら、1人の生存者を追いかけまわしています。
          dd 生存者の衰弱した女性は、逃げながら一人で戦っています。
          dd 彼女はPCたちに気が付くと、声を上げます。
          dd 「？！　危ない！　こっちに来ちゃだめだ！　キミ達まで殺されてしまう！」
          dd ＜ヌシ＞との戦闘です。
          dd この戦闘では生存者NPCが共闘してくれます。
          dd NPCは回避ができず、必ず先制判定に失敗します。



        h4  #[i(class="fas fa-dragon")]  戦闘
        table.responsive
          caption バジリスク
          thead
            tr: th 名前 #[th レベル] #[th タイプ] #[th 体力]  #[th 気力] #[th 特技] #[th アビリティ] #[th 解説]
          each enemy in enemyListBoss
            tr
              td.txt-center= enemy.name
              td(data-title='レベル')= enemy.lv
              td(data-title='タイプ')= enemy.group
              td(data-title='体力')= enemy.stamina
              td(data-title='気力')= enemy.willpower
              td(data-title='特技')= enemy.specialties
              td(data-title='アビリティ')= enemy.abilities
              td(data-title='ドロップ')= enemy.drop
              td(data-title='解説')= enemy.comment

        table(class="responsive")
          caption バジリスクのアビリティ
          thead
            tr: th 名前 #[th グループ]  #[th タイプ] #[th 反動] #[th 指定特技] #[th 対象] #[th 効果]
          each item in enemyAbilityListBoss
            tr
              td.txt-center= item.name
              td(data-title='グループ')= item.group
              td(data-title='タイプ')= item.type
              td(data-title='反動')= item.recoil
              td(data-title='指定特技')= item.specialty
              td(data-title='対象')= item.target
              td(data-title='効果')= item.effect



        h4 クルス

        dl
         dt 基本情報
         dd 15歳 女
         dd キズモノ/ホープ
         dt 特殊効果
         dd PCたちは、セッション中1回、１体に『暴露』の変調を与えられる。

         dt 設定
         dd 左腕がない。。
         dd イオンシネマキャンプでは「傷物」と見限られながら生きてきた。
         dt 所持品
         dd なんこうx2　嗜好品x2

        table.responsive
          caption クルス
          thead
            tr: th 名前 #[th クラス] #[th 体力]  #[th 気力] #[th 特技] #[th アビリティ] 
          each enemy in npcList
            tr
              td.txt-center= enemy.name
              td(data-title='クラス')= enemy.group
              td(data-title='体力')= enemy.stamina
              td(data-title='気力')= enemy.willpower
              td(data-title='特技')= enemy.specialties
              td(data-title='アビリティ')= enemy.abilities


        table(class="responsive")
          caption ラグナのアビリティ
          thead
            tr: th 名前 #[th グループ]  #[th タイプ] #[th 反動] #[th 指定特技] #[th 対象] #[th 効果]
          each item in npcAbilityList
            tr
              td.txt-center= item.name
              td(data-title='グループ')= item.group
              td(data-title='タイプ')= item.type
              td(data-title='反動')= item.recoil
              td(data-title='指定特技')= item.specialty
              td(data-title='対象')= item.target
              td(data-title='効果')= item.effect


        h2(id="h2-result") 結果フェイズ
        h3(id="h3-result-1") 描写1: 戦闘終了後
        p フィールドは消え……イオンシネマ海老名が解放されました。しかしイオンシネマ海老名は元通りにはならず、滅びたままです。
        p バジリスクと戦っていた、旅人のクルスが仲間になります。
        p クルスはキャンプの倉庫の奥から、森の恵みx2　奇跡の雫x1 を探し出して、お礼としてPCたちに渡してくれます。
        p そして、PCたちのキャンプに合流したいと申し出ます。

        dl 
          dt ▼ クルス
          dd 「……助かった（フラフラ）」
          dd 「すごいね、あのトカゲを倒してしまうなんて……」
          dd 「…………もしかして、このキャンプと交易に来たのかな。」
          dd 「そうだよね……ごめんね……」
          dd 「僕だけ、地下に押し込められていたおかげで助かったけど……」
          dt ▼ 描写
          dd クルスがイオンシネマ海老名キャンプがどのようなキャンプだったか語ってくれます。
          dd イオンシネマ海老名キャンプは『弱者を切り捨て、食料は最小限にしつつ奴隷扱いして』生き抜いてきたキャンプでした。
          dd 五体満足でないクルスも同じく弱者として地下に押し込められ、衰弱していました。
          dd 皮肉にも、食料を独占していたキャンプリーダー達はミュータントの餌になってしまいました
          dt ▼ クルス
          dd 「そうだ、助けてもらったお礼を差し上げなければ。」
          dd 「これを受け取ってほしい。感謝のしるしだ」
          dd アイテム　森の恵みx2　奇跡の雫x1　を渡されました。
          dd 「……イオンシネマ海老名、もう、安全な場所はないのか……。」
          dd 「残念だ。」
          dd 「五体満足じゃないボクは、このキャンプでは無視ばかりされてたけど……それでも愛着はわくもんだ。」
          dd 「本当に残念だ……。」
          dd 「……もし受け入れる余裕があれば、なんだけど……君たちのキャンプに住まわせてもらえないかな」
          dd 「邪魔になったらすぐ出てくから……」
          dd 「……ありがとう。」
          dd 「そうだ。……このキャンプには、色んな工具や映写機があるんだ。」
          dd 「無事な機材がいくつかある。キミたちのキャンプに持って行くよ。」
          dt ▼ 描写
          dd クルスが守っていた倉庫から、映写機、自動車の修理道具、工具、新しい映画フィルム・ディスクを見つけました！
          dd クルスはいくつか重い道具を持って、ヨロヨロとあなた達のキャンプに向けて歩きだしました。
          dt ▼クルス
          dd  「ああ、手伝わなくて大丈夫」
          dd 「誰かの役に立ちたいんだ」



        h3(id="h3-result-2") 描写2: キャンプにて
        p クルスと一緒に、キャンプに映写機、自動車の修理道具、工具、新しい映画フィルム・ディスクを持ち帰ってきます。
        p キャンプの自動車が動くようになり、見つけた[映画フィルム]も再生できます。
        p キャンプに希望をもたらしました。
        p ラグナをキャンプのみんなは快く迎えます。特に、小さい子はラグナの毛並みを撫でたがります。

        dl 
          dt ▼ 描写例
          dd 物資と、皆が望んでいた「いくつかの機材」を持ち帰りました。
          dd 見張りをしていたリルムがあなたたちに気付きます。
          dd 傷だらけなので心配してくれると同時に……『映画フィルムを持っていないか』気になっているようです。
          dt ▼ リルム
          dd 「！　おいおいまさか…………」
          dd 「イオンシネマ、フィールド化を……けがは大丈夫か？　フィールドは？」
          dt ▼ クルス
          dd 「彼らがヌシを倒してくれた。」
          dd 「…………（ガチャ！）（無事到着したことに安心して荷物を地面に落としてしまう）」
          dt ▼ リルム
          dd 「初めまして……ちょっと待っててくれ、子供たちを呼んでくる」
          dt ▼ 描写
          dd クルスは毛布と木の枝で造られたタンカを持ってきた子供たちに連れられ、いったん手当を受けます。
          dd その後、食堂でみんなを集めて話します。
          dt ▼ ラグナ
          dd 「イオンシネマはフィールド化していたか……」
          dt ▼ マグ
          dd 「でも、またヌシを倒してくれたんだね！　さすがだよ」
          dt ▼ クルス
          dd 「彼らが全部やってくれた。僕なんかの事も助けてくれて」
          dt ▼ カジオ
          dd 「初めまして。　……おいおい、その戦利品は……映写機と、まさか工具……」
          dt ▼ マグ
          dd 「機材、助かるよ、これでまた新しいことができる！」
          dt ▼ リルム
          dd 「重かっただろう。皆で作ったスープを飲んで休んでくれ」
          dt ▼ カジオ
          dd 「それで、クルス。お前は何ができるんだ？」
          dd 「ちなみにオレは何でもできる。（PCたちの名前）も割と何でもできる。他の奴らも各部門で活躍してる。」
          dt ▼ クルス
          dd 「ごめん、得意なことも趣味も特にないんだ……僕のことはいつでも切り捨ててくれていい」
          dt ▼ カジオ
          dd 「切り捨て……？」
          dd 「こいつ何いってんだ？　メシ喰うか？」
          dt ▼ 子供たち
          dd 「新しい仲間だ！」
          dd 「カンゲイカイしないの？（何かとかこつけて生鮮食材が食べたい）」
          dt ▼ リルム
          dd 「ああ、カンゲイカイだ！　……（PCの名前）たちの生還祝いも兼ねてな！」
          dt ▼ マグ
          dd 「ほんとだよ、今日もよく無事で帰ってきてくれたね。お鍋を作るよ！」
          dt ▼ 子供たち
          dd 「配膳は任せて！」
          dt ▼ クルス
          dd （自分のいたキャンプでの扱いの温度差に困惑する）
          dt ▼ ラグナ
          dd 「具材たっぷり入れてあげてな。」
          dt ▼ カジオ
          dd 「歓迎会か。俺はその間別の作業でもしてるかな」
          dd 「体育館にスクリーンと映写機をセッティングしてくる。水車もあわせて使おう」
          dd カジオはひとりごとを言い去っていきました。
          dt ▼ ラグナ
          dd 「（鍋を見ながら）PC1、PC2、PC3、クルス。具材の中では何がスキだ？」
          dd たまご、豚肉、牛肉、カレー、保存食、おやつ……などからそれぞれ好きな具材を白状してください。
          dd １１歳以上のPCは、文明が滅ぶ前に食べていたものを挙げても構いません。
          dd （白状後）「じゃあその具材を多めにいれてやる」
          dt ▼ クルス
          dd 「？？？？？」（元いたキャンプではまともにメシを食わせてもらっていない）
          dd 「……卵（ゆでたまご）　これおいしい。これが好きかもしれない」
          dt ▼ 描写
          dd 歓迎会が終わり、PCたちはぐっすり休みました。
          dd ３日後の夜、映写機の調整が完了し、子供たちは映画「となりのトロ」を視聴しました。
          dd 子供たちに活力が戻ってきました。

        h3(id="h3-rewards")  #[i(class="fas fa-gem")] 報酬 
        p キャンプの設備[映画館]をLV2で取得します。
        p ヌシのドロップアイテムとして、＜星の欠片＞を１つ取得します。色はランダムです。
        p クルスがお礼として、森の恵みx2　奇跡の雫x1を渡してくれます 
        p ヌシを倒してフィールドを解放したことによりCP5点を獲得します。
        p 各PCはフィールド解放の主役として、この場所の物資を最初に手に入れる権利があります。15J以下のアイテムを1つ取得します。

        table.responsive
          caption キャンプ設備
          thead
            tr: th 名前 #[th タイプ] #[th 指定特技] #[th レベル] #[th 効果]
          each facility in facilities
            tr
              td.txt-center= facility.name
              td(data-title='タイプ')= facility.type
              td(data-title='指定特技')= facility.specialty
              td(data-title='レベル')= facility.level
              td(data-title='効果')= facility.effect


        table.responsive#item
          caption 獲得アイテム
          thead
            tr: th 名前 #[th 価格] #[th 重量] #[th タイプ]  #[th 部位] #[th 指定特技] #[th 対象] #[th 特性] #[th 効果]
          each item in itemRewardList
            tr
              td.txt-center= item.name
              td(data-title='価格')= item.j
              td(data-title='重量')= item.weight
              td(data-title='タイプ')= item.type
              td(data-title='部位')= item.area
              td(data-title='指定特技')= item.specialty
              td(data-title='対象')= item.target
              td(data-title='特性')= item.trait
              td(data-title='効果')= item.effect


         
        p  #[a(href="/lost/campaign-mother.html") キャンペーン: Motherに戻る]


  include includes/common/footer
  include includes/common/toc-footer