extends includes/common/_layout
block title
  include includes/campaign/mother/variables
  - var bodyClass = "nohero"

  -
    var itemList = [
    {"name":"星の欠片:赤","j":"10","weight":"1","type":"道具","area":"-","specialty":"-","target":"-","trait":"購入不可","effect":"金平糖の形をしている赤色の宝石。武器の＜ダメージ強化＞に使用できる。"},
    {"name":"星の欠片:緑","j":"10","weight":"1","type":"道具","area":"-","specialty":"-","target":"-","trait":"購入不可","effect":"金平糖の形をしている緑色の宝石。武器の＜命中強化＞に使用できる。"},
    {"name":"星の欠片:白","j":"10","weight":"1","type":"道具","area":"-","specialty":"-","target":"-","trait":"購入不可","effect":"三日月の形をしている白色の宝石。アイテムの＜高品質化＞に使用できる。"},
    {"name":"最後の希望","j":"非売品","weight":"1","type":"支援","area":"-","specialty":"-","target":"自身","trait":"消耗品","effect":"味方全員の体力・気力を[10]点増加させ、任意の部位ダメージを１つ、変調を１つ回復する。無気力状態でも使用可能。リルムとキャンプの思い出は冒険者たちに一度だけ、もう一度立ち上がる気力を与える。"},

    ]
  -
    var objectForestList = [
      {"d6":"1","event":"暗闇の密林を探しました。　……疲れました……。　1J獲得。　気力-1。"},
      {"d6":"2","event":"[コカの葉]を２枚見つけました。"},
      {"d6":"3","event":"精油を噴出する樹木を見つけました。樹液は[なんこう]になりました！"},
      {"d6":"4","event":"[1d6+2]ジャーキーぶんの木の実やキノコを発見しました。"},
      {"d6":"5","event":"キャンプ跡でしょうか？　[火付け道具][たいまつ][毛布]を見つけました。キャンプ跡でそのまま休み、体力が3点回復します。"},
      {"d6":"6","event":"キノコや野兎や豚虫を収穫しました。[2d6]ジャーキーを発見しました！さらに宝物を発見！　[3J]以下の好きなアイテムを2つ獲得できます。"},

    ]


  - 
    var randomEncountListA = [
      {"d6":"1",   "a": "毒葬蝶[1D6+PT人数]体と戦闘になります。"},
      {"d6":"2",   "a": "ヒトトリギングモ[1D3]体と戦闘になります。す。"},
      {"d6":"3",   "a": "ベニガルトラ[PT人数÷2]体と戦闘になります。"},
      {"d6":"4",   "a": "コウモリイヌ[1D6]体と戦闘になります。"},
      {"d6":"5",   "a": "フミダイオオガメ[1D4+PT人数]体と戦闘になります。"},
      {"d6":"6",   "a": "ランダムエンカウント表Bを振ります。"},

    ]


  -
    var enemyList1 = [
      {"name":"ジャイアントグール","lv":"5","group":"ミュータント","stamina":"40","willpower":"5","specialties":"《斬る》《※利き腕》《刺す》《※心臓》《歩く》《追い込む》","abilities":"【毒の爪】【巨大な脚】【冷気】【悪臭】【腐敗】【炎弱点】","drop":"なし","comment":"巨大化した不潔なゾンビ。小型の寄生ミュータントが死体に取り憑いたものがゾンビになる。体内からは凍てつくような冷気が溢れている。"},
    ]

  -
    var enemyAbilityList1 = [
    {"name":"毒の爪","group":"ミュータント","type":"攻撃","recoil":"0","specialty":"《斬る》","target":"単体","effect":"指定特技の判定に成功すると対象に2点のダメージを与える。さらに、『毒』の変調を与える。"},
    {"name":"巨大な脚","group":"ミュータント","type":"攻撃","recoil":"4","specialty":"《叫ぶ》","target":"全体","effect":"指定特技の判定に成功すると、対象に4点のダメージを与える。この時、命中判定にマイナス1の修正がつく。"},
    {"name":"悪臭","group":"ミュータント","type":"攻撃","recoil":"3","specialty":"《消化器》","target":"全体","effect":"指定特技の判定に成功すると、ランダムに変調を1つ与える。"},
    {"name":"冷気","group":"ミュータント","type":"補助","recoil":"1","specialty":"-","target":"-","effect":"命中判定に組み合わせて使用する。対象の特技リストから「腕部」分野の特技を１つランダムに使用不能にする。この効果は重複する。"},
    {"name":"腐敗","group":"ミュータント","type":"常駐","recoil":"-","specialty":"-","target":"-","effect":"ラウンド終了時に全体の【気力】を1点減少させる。【腐敗】のアビリティを習得している対象には効果を発揮しない。"},
    {"name":"炎弱点","group":"汎用","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"【火炎弾】【火炎瓶】【爆発物】【火炎放射】など、炎を使った攻撃に対し、ダメージを2d6点余分に受ける。"},
    ]


  -
    var objectSaitamaList = [
      {"d6":"1","event":"何も見つかりませんでした。早めに切り上げて寝る事にしました。全員体力+1。しかし、起きた時、あなた達はゾンビたちに囲まれていました。ゾンビ[1d6]体と戦闘です。"},
      {"d6":"2","event":"子供用のおもちゃ箱から「☆爆竹玉」を見つけました。スリング専用アイテムです。"},
      {"d6":"3","event":"いくつかの炭を発見しました。たいまつ　を見つけました。"},
      {"d6":"4","event":"[1d6]ジャーキーぶんの保存食を発見しました。消費期限の近いものをその場で食しました。気力+2。"},
      {"d6":"5","event":"シェルターを発見しました。生存者はいませんが、[2J]以下の好きなアイテムを3つ獲得できます。"},
      {"d6":"6","event":"宝物発見！　[缶詰]を１つ見つけました！"},

    ]
  - 
    var randomEncountList2 = [
      {"d6":"1",   "a": "ヨロイバチ[2]体、オオヨロイバチ[1]体と戦闘になります。"},
      {"d6":"2",   "a":  "ヨロイバチ[2]体、オオヨロイバチ[1]体と戦闘になります。"},
      {"d6":"3",   "a":  "ヨロイバチ[2]体、オオヨロイバチ[1]体と戦闘になります。"},
      {"d6":"4",   "a":  "ヨロイバチ[2]体、オオヨロイバチ[1]体と戦闘になります。"},
      {"d6":"5",   "a": "ヨロイバチ[2]体、オオヨロイバチ[1]体と戦闘になります。"},
      {"d6":"6",   "a": "誰とも会いませんでした"},

    ]

  - 
    var randomEncountList3 = [
      {"d6":"1",   "a": "毒葬蝶[1D5]体と戦闘になります。"},
      {"d6":"2",   "a":  "チヌレガラス[1D3]体と戦闘になります。"},
      {"d6":"3",   "a":  "ハガネカブト[PT人数÷2]体と戦闘になります。"},
      {"d6":"4",   "a":  "ベニガルトラ[1]体と戦闘になります。"},
      {"d6":"5",   "a": "肉吸い花[1]体と戦闘になります。"},
      {"d6":"6",   "a": "誰とも会いませんでした"},

    ]


  -
    var objectBeautifulForestList = [
      {"d6":"1","event":"何も見つかりませんでしたが、その美しい自然は心を清めてくれます。体力+2　気力+2"},
      {"d6":"2","event":"精油を噴出する樹木を見つけました。樹液は「なんこう」になりました！その美しい自然は心を清めてくれます。体力+2　気力+2"},
      {"d6":"3","event":"[1d6+1]ジャーキーぶんの新鮮な食料を確保しました。その美しい自然は心を清めてくれます。体力+2　気力+2"},
      {"d6":"4","event":"大木から　☆森の恵み　を獲得しました！"},
      {"d6":"5","event":"宝物発見！　[3J]以下の好きなアイテムを2つ獲得できます。さらに体力が2点回復します。"},
      {"d6":"6","event":"宝物と寝床を発見！　[7J]以下の好きなアイテムを1つ獲得できます。体力が2点、気力が[精神力]の半分回復します。"},

    ]



  -
    var enemyListBoss1 = [
      {"name":"マケマケ","lv":"6","group":"ヌシ","stamina":"45","willpower":"26","specialties":"すべて","abilities":"【不潔で冷たい触手】【瞬間2.7ケルビン】【恒常性:中】【習性：体力10減少のたび】【腐肉の鎧】【とりまき：ヴァーチャー×4】【腐敗】","drop":"星の欠片×2","comment":"隕石の衝突後、死体の山から発生したミュータント。埼玉をフィールド化し、支配している。厚い腐肉に護られ、体内から漏れ出る冷気を武器にする。その冷気に中てられた者はあらゆる身体機能を制限される。"},
    ]
  -
    var enemyAbilityListBoss1 = [
      {"name":"不潔で冷たい触手","group":"ヌシ","type":"攻撃","recoil":"0","specialty":"《掴む》","target":"2体","effect":"この攻撃の命中判定+2、対象に2d6+2点のダメージを与え、[毒]状態にする。さらに[●氷]効果で「腕部」分野の特技を１つランダムに使用不能にする。[毒]にかかっていない相手を優先する。※[●氷]による特殊効果はもふもふコートで無効化。「たいまつ」や【火炎弾】などを使ったときに一人の封じられた特技を全回復できる。"},
      {"name":"瞬間2.7ケルビン","group":"ヌシ","type":"攻撃","recoil":"2","specialty":"《捕らえる》","target":"全体","effect":"命中判定に成功すると、対象に4点のダメージと[重傷][麻痺]の変調を与える。さらに[●氷]効果で「腕部」分野の特技を１つランダムに使用不能にする。このアビリティはシナリオ2回まで使用可能。また、「ヴァーチャー」が死亡するまでに使用回数が1増加する。"},
      {"name":"恒常性:中","group":"ヌシ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"変調を受けているとき、自分の手番の前に1D6を振る。その出目が受けている変調の数以下ならば、任意の変調を１つ解除できる。『無力化状態』の時にはラウンドの最後に1D6を振り、[受けている変調の数]以下の出目が出た場合『無力化状態』を回復する。"},
      {"name":"習性:体力が10減るたび","group":"ヌシ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"その戦闘中に条件を満たした時、追加行動を得る。条件は体力が10減るたびとなる。"},
      {"name":"腐肉の鎧:5層","group":"ミュータント","type":"常駐","recoil":"-","specialty":"-","target":"全体","effect":"指定特技が《斬る》《殴る》《撃つ》の攻撃のダメージを[4]軽減する。敵の攻撃で[5]回、０ダメージ以上が発生すると剥がれ落ちる。受けた[炎上]や[毒]によるラウンド終了時ダメージもカウントされる。"},
      {"name":"とりまき","group":"ヌシ","type":"常駐","recoil":"-","specialty":"-","target":"-","effect":"ヌシ以外のエネミーと同時に登場できる。【とりまき】によって登場するエネミーの合計レベルは[ヌシのレベル×2]、数は[ヌシのレベル]体までとなる。とりまきによって追加されたエネミーは、すべての判定にマイナス2の修正がつく。"},
      {"name":"腐敗","group":"ミュータント","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"ラウンド終了時に敵全体の【気力】を1点減少させる"}
    ]

  -
    var enemyListBoss2 = [
      {"name":"ヴァーチャー","lv":"3","group":"ミュータント","stamina":"4","willpower":"3","specialties":"すべて","abilities":"【甘美なる恐怖】【悪臭:弱】【断末魔:弱】【補給】","drop":" -","comment":"とりまきの効果によって追加されているため、すべての判定にマイナス2の修正がつく。別の星からやってきた醜悪な獣。マケマケの能力をアシストしている。単独でいる相手を狙って確実に殺害する。"},
    ]
  -
    var enemyAbilityListBoss2 = [
      {"name":"甘美なる恐怖","group":"ミュータント","type":"攻撃","recoil":"0","specialty":"《斬る》","target":"単体","effect":"命中判定に成功すると、対象に2点のダメージを与える。敵陣営が残り１人の場合、2d6ダメージになる。"},
      {"name":"悪臭:弱","group":"ミュータント","type":"攻撃","recoil":"3","specialty":"《※消化器》","target":"単体","effect":"ランダムに変調を1つ与える。[1] 毒　[2] 炎上　[3] 麻痺　[4] 捕縛　[5] 転倒　[6] 重傷"},
      {"name":"補給","group":"ミュータント","type":"支援","recoil":"1","specialty":"《歌う》","target":"単体","effect":"目標の気力を1点回復し、部位ダメージ1つと変調を1つ回復する。"},
      {"name":"断末魔:弱","group":"ミュータント","type":"常駐","recoil":"-","specialty":"-","target":"全体","effect":"物理攻撃での死亡時に自動発動。対象に1点のダメージを与える。自身がなんらかの変調を受けている場合、この【アビリティ】の効果は全て失われる。"},


    ]

  -
    var enemyListBoss3 = [
      {"name":"悪夢","lv":"5","group":"ヌシ","stamina":"30","willpower":"20","specialties":"すべて","abilities":"【悪夢の斬撃】【大鎌】【トラウマ】【悪夢の共鳴】【融合】【炎弱点】【透過】","drop":" ＜星の欠片＞","comment":"隕石の影響で死亡した人間にマザーが手を加えたもの。融合前に[暴露]されていた場合、情報だけ見抜ける"},
    ]
  -
    var enemyAbilityListBoss3 = [
      {"name":"悪夢の連斬撃","group":"ヌシ","type":"攻撃","recoil":"10","specialty":"《斬る》","target":"単体","effect":"命中判定に成功すると、対象に[1D6+6]点のダメージを与え、「呪い」の変調を与える。この時、命中判定の達成値は11で固定される。すでに『呪い』の対象には追加で[1D6]点のダメージを与える。『呪い』 …… [攻撃行動]を選ぶたびに【体力】が1点減少。"},
      {"name":"大鎌","group":"ムシ","type":"補助","recoil":"5","specialty":"-","target":"-","effect":"命中判定に組み合わせて使用する。ダメージを1D6点増加させる。"},
      {"name":"PTSD","group":"ヌシ","type":"攻撃","recoil":"5","specialty":"《※脳》","target":"全体","effect":"『呪い』の変調にかかっている対象の体力・気力に5点のダメージを与える。1ラウンドに1回しか使用しない。"},
      {"name":"強恒常性","group":"ヌシ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"変調を受けているとき、自分の手番の前に1D3を振る。その出目が受けている変調の数以下ならば、任意の変調を１つ解除できる。『無力化状態』の時にはラウンドの最後に1D6を振り、[受けている変調の数＋1]以下の出目が出た場合『無力化状態』を回復する。"},
      {"name":"2回行動","group":"ヌシ","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"毎ラウンド開始時、追加行動を1回得る"},
      {"name":"炎弱点","group":"汎用","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"【火炎弾】【火炎瓶】【爆発物】【火炎放射】など、炎を使った攻撃に対し、ダメージを2点余分に受ける。さらに【炎上】の変調となる"},
      {"name":"透過","group":"ミュータント","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"回避判定にプラス2の修正を得る。『変調』を受けている状態だと、この効果は発揮されなくなる。"},
    ]

  -
    var npcList = [
      {"name":"ラグナ","lv":"2","group":"ニューエイジ/ハカセ/ヤセイジ","stamina":"10","willpower":"10","specialties":"《撃つ》《考える》《塞ぐ》《感覚器》《しゃがむ》《噛む》","abilities":"【武器攻撃：ボウガン】【観察眼】【超回復】【戦術】【攪乱音波】【限界】","drop":"-","comment":""},
    ]
  -
    var npcAbilityList = [
      {"name":"武器攻撃：撃つ","group":"汎用","type":"攻撃","recoil":"0","specialty":"《撃つ》","target":"単体","effect":"指定特技の判定に成功すると、[3]点のダメージを与える。この時、命中判定の達成値にプラス2の修正がつく。"},
      {"name":"観察眼","group":"ハカセ","type":"支援","recoil":"3","specialty":"《考える》","target":"単体","effect":"指定特技の判定に成功すると、対象に『暴露』の変調を与える。"},
      {"name":"戦術","group":"ハカセ","type":"補助","recoil":"3","specialty":"-","target":"全体","effect":"先制判定に組み合わせて使用する。先制判定の達成値にプラス1の修正がつく。先制判定に成功した場合、味方全員が先攻で行動できる。"},
      {"name":"撹乱音波","group":"ミュータント","type":"補助","recoil":"1","specialty":"-","target":"-","effect":"命中判定に組み合わせて使用する。攻撃が命中した相手は、次のラウンドの終了まで全ての行為判定の達成値にマイナス１の修正がつく。"},
      {"name":"超回復","group":"ヤセイジ","type":"割込み","recoil":"5","specialty":"《塞ぐ》","target":"自身","effect":"指定特技の判定に成功すると、自身の【体力】が1D6点増加する。"},
      {"name":"限界","group":"NPC","type":"常駐","recoil":"-","specialty":"-","target":"自身","effect":"体力が0以下になると即座に行動不能になり、攻撃の対象にならなくなる。戦闘が終了するまで復活しない。PC達が全滅すると彼も死亡する。また、回避を行えない。"},

    ]

  - 
    var facilities = [
    {"name":"映画館","cp":"2","type":"常駐","specialty":"-","maxLv":"10","precondition":"","effect":"キャンプを出発時、全員の体力+(LV)"},
    ]




  -
    var motherEnemyList = [
      {"name":"毒葬蝶","lv":"3","group":"ムシ","stamina":"2","willpower":"4","specialties":"《塞ぐ》《休む》《動かない》《聴く》","abilities":"【毒リンプン】【アクロバット】【飛行】【痩身】","drop":"4~5　蝶の美しい羽（1J,1W）　6　毒の矢","comment":"即死級の猛毒を持つ蝶"},
      {"name":"オオヨロイバチ","lv":"5","group":"ムシ","stamina":"6","willpower":"9","specialties":"《噛む》《跳ぶ》《刺す》","abilities":"【大アゴ】【毒針】【鋭角】【飛行】【外骨格】","drop":"1~3硬い羽(1J,1W)　4~5硬い殻(1J,1W)　6毒針(2J,1W)","comment":"1m程のスズメバチ。ガチガチと音を立てながら飛行する。"},
      {"name":"肉吸い花","lv":"6","group":"ミュータント","stamina":"20","willpower":"9","specialties":"《掴む》《撃つ》《休む》《休まない》《罠》","abilities":"【吸肉】【やどりぎの種】【大地の養分】","drop":"2~5　美しい花(4J,1W)　6 ミツ（3J,1W）","comment":"獲物の肉を吸い成長する花"},

    ]

  -
    var motherEnemyAbilityList = [
      {"name":"毒リンプン","group":"ムシ","type":"攻撃","recoil":"1","specialty":"《塞ぐ》","target":"単体","effect":"目標に『毒』の変調を与える。"},
      {"name":"吸肉","group":"ミュータント","type":"攻撃","recoil":"2","specialty":"《掴む》","target":"単体","effect":"目標に４点のダメージを与える。自身の体力と気力を4点回復する。"},
      {"name":"やどりぎの種","group":"ミュータント","type":"攻撃","recoil":"2","specialty":"《撃つ》","target":"単体","effect":"目標に２点のダメージを与え、１点でもダメージが通れば『呪い』の変調を与える。『呪い』 …… [攻撃行動]を選ぶたびに【体力】が1点減少。"},
      {"name":"大地の養分","group":"ミュータント","type":"支援","recoil":"2","specialty":"《休まない》","target":"自身","effect":"目標の体力を3点回復し、２回の追加行動を得る。"},
    ]


  title= title

block css
  link(href="../assets/css/styles.css" rel="stylesheet" )
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.11.1/tocbot.css")
block headjs


block body
  header
    include includes/common/header
  main#main
    section.content
      input(id='toc' type='checkbox' class="dn")
      label(class='toc-icon' for='toc') 
        div
          i(class="fas fa-book" style="font-size: 25px") 
          i(class="fas fa-book-open" style="font-size: 25px") 
          div 目次
      nav.toc.js-toc.toc-right.transition.is-position-fixed
      .container.js-toc-content
        h1(id="h1-mother1") Mother 第五話 のこされたもの
        dl
          dt #[i(class="fas fa-user-friends")] 推奨人数 
          dd  3人
          dt #[i(class="far fa-clock")] プレイ三時間 
          dd  4時間
          dt #[i(class="fas fa-hourglass-half")] リミット 
          dd 7サイクル
        h2(id="h2-summary") 概要
        p キャンプが襲われ、リルムが殺されます。PCたちは仇を討つため、＜ヌシ＞退治に出かけます。
    

        h2(id="h2-camp") キャンプフェイズ
        h3(id="h3-prolog")  プロローグ
        p 念願のディ〇ニー映画を観る余裕ができたキャンプを描きます。
        p 夕食時、二人の子供が血まみれで助けを求めに来ます。リルムが危ないと。
        p マケマケと名乗る腐臭を放つ新生物の＜ヌシ＞を、リルムが追い払ったところに遭遇します。
        p 凍傷で四肢が壊死したリルムは最後の言葉を残し、宝箱の鍵をPCたちに託します。宝箱には【☆最後の希望】ｘ１　【星の欠片:赤】ｘ１　【星の欠片:緑】ｘ１　【星の欠片:白】ｘ１ が入っています。
        p リルムが遺した言葉から、冒険者たちはサイタマのヌシを倒しに向かいます。
        p なお、このシナリオではヌシ戦でラグナがサポートに参加します。

        h4 #[i(class="fas fa-flask")]  獲得アイテム
        table.responsive#item
          caption リルムの箱のアイテム
          thead
            tr: th 名前 #[th 価格] #[th 重量] #[th タイプ]  #[th 部位] #[th 指定特技] #[th 対象] #[th 特性] #[th 効果]
          each item in itemList
            tr
              td.txt-center= item.name
              td(data-title='価格')= item.j
              td(data-title='重量')= item.weight
              td(data-title='タイプ')= item.type
              td(data-title='部位')= item.area
              td(data-title='指定特技')= item.specialty
              td(data-title='対象')= item.target
              td(data-title='特性')= item.trait
              td(data-title='効果')= item.effect

        h4 セリフ例
        dl 
          dt ▼ 描写 
          dd ディ〇ニーランドの冒険から２ヶ月経過。
          dd PCたちはその時できることを全力でやりつつ、楽しいことは仲間たちといっしょに楽しみました。
          dd 特に、ディ〇ニー映画の放映日には必ずリルムの近くにいました。
          dd やれることいっぱい！
          dd ・大工仕事　・食材調達　・料理　・掃除　・機材の管理　・子供と遊ぶ　・見張り
          dd ・フィールドだった場所の再探索　・出来ることを人に教える　　などなど
          dd 暇な日なんてない、大変で充実した日々を過ごしました。
          dd また、NPCスズが外部と取引を続けてくれるおかげで、小学校には次々と家具が揃っていきました。
          dd ・クローゼットx10　・布団x17　・木製の仕切りx18　・紙切れ6kg　・大カーテンx26
          dd ・うちわx7　・ぬいぐるみx16　・全身鏡x4　・銀食器x33　・包帯1kg　・薬品類2kg　など！
          dd 家具と仕切りをもらうことで、「一人の時間」の確保もできるようになりました。
          dt ▼ 描写
          dd 15時頃、校門で見張りをしていると……話題のスズが滑車を引いて帰ってきました。
          dt ▼ スズ
          dd 「（滑車を引きながら）おオ！　PC1達！　今日もげｯ（元気そうだ）ッァな！」
          dd 「今日は布団を2枚仕入れてきたぞ！」
          dt ▼ 子供たち
          dd 「スズ！　スズ！　バレーボールあった？」
          dt ▼ スズ
          dd 「おおリクエストのバレーボールな！　あったぞ！　あとで見せてやる」
          dd スズも順調に小学校に馴染んでいました。
          dd スズは、マグやリルム達からも『ヘンな人だけど役に立つ人』と思ってもらえているようです。
          dt ▼ スズ
          dd 「あ！　そうだ！　これ（カメラを取り出す）！　分かるか？」
          dd 「なんと、このカメラ、まだ動くんだ！　デジタルじゃない、結構前の型だが……」
          dd 「このカメラを買う時、めちゃくちゃジャーキー持ってかれたけどよ……」
          dd 「あとで皆で記念写真撮ろうぜ！」
          dt ▼ マグ
          dd 「（窓から顔を出して）ごはんだよー！」
          dd 鶏出汁のスープの香りがしてきます。
          dd マグは食材管理、料理、配膳、掃除……等をしてくれます。
          dd 以前はマグとリルムだけで殆どの仕事をしていましたが、最近のキャンプの発展のおかげで休む余裕も出てきました。
          dd 「３人がいてくれて、私もリルムも本当に助かってる」
          dd 「いつかもっと大きなお返しをするからね！」
          dt ▼ リルム
          dd 「ああ。」
          dd リルムも、見張りをしたり、畜産・農業について子供たちに授業したりと頑張っています。
          dd 「農業……詳しい方法は知らんが、下準備はしておかないとな」
          dd 「畑のためのスペースを空けて、要らないものを肥料にするんだ。」
          dd 「あと……フィールドの影響か、海近辺に行かずとも貝殻が落ちている。」
          dd 「砕いた貝殻はいろんな事に利用できる、できる限り集めてくれ」
          dd 「……一応ミニトマトとか植えてみようかな」
          dt ▼ 描写
          dd カジオとラグナとクルスが遅れて食卓にやってきました。
          dd カジオはいつも通り、技術・電気系統を担当し続けてくれます。
          dd 難しいことを勝手にやってくれる部分は重宝されるですが……
          dd 周囲に「これをすると何が起きる」などと伝えるための言語化は苦手なようで……
          dd 他のみんなが頑張って噛み砕いた表現にしつつ、メモを取ってくれています。
          dt ▼ カジオ
          dd 「ブレーカーを満足させるほどの電力は現状確保できないから、まずはこう……」
          dd 「ああ……なんだ……蛍光灯の方が、こう……ああ、見て覚えろ」
          dt ▼ クルス
          dd 「電球の代わりに蛍光灯を……蛍光灯は電気の節約に……」
          dd 「…………蛍光物質が勝手に光ってくれるから少ないエネルギーで済む……？」
          dt ▼ 描写
          dd ラグナは大工仕事、動物の管理の仕事をしつつ、子供達に同様の仕事を教えてくれています。
          dt ▼ ラグナ
          dd 「オレも８，９年ほどしか生きていないが、できることは全部やってやる」
          dd 「メインの大工仕事にもそろそろ戻らないとな」
          dd 「その時は、お前たちに家を建てるところをイチから見せてやる」
          dt ▼ 描写
          dd クルスは見張りの仕事を完璧に覚え、余った時間で子供の相手をしてくれています。
          dt ▼ クルス
          dd 「リルムは教えるのが上手いね、ここの構造を理解できたよ」
          dd 「ここには僕の居場所がある。ありがたいことだよ」
          dt ▼ 描写
          dd キャンプの住民ひとりひとりに希望が湧いて…… 
          dd 皆、崩壊した世界のなかでも、希望を持って前に進むことができそうです。
          dt ▼ スズ
          dd 「おっ！　そうだ！　記念写真撮るぞ！」
          dd 「お前ら、集まってそこに並べ！！」
          dt ▼ 描写
          dd スズはPCたち、マグ、リルム、カジオ、ラグナ、クルスを1枚の写真に収めました。
          dd 計15回くらいシャッターが切られました。
          dt ▼ 描写
          dd その日の夜は各自、教室に自分のスペースを確保して理想のマイルームを作りました。
          dd マイルームでそれぞれ寝ることにしました。
          dd （以下：マイルーム用にこんな家具を借りた！）
          dd ・クローゼット　・布団　・ミニ本棚　・ミニ机　・大カーテン　・ヒノキの仕切り
          dd ・ぬいぐるみ　・全身鏡　・銀食器　・化粧品　・松のチェスト　・植木鉢
          dd 各々、割と静かな空間でゆっくりやすみました。
          dt ▼ 描写
          dd そして後日、時刻は夕暮れ時。チヌレカラスがカアと鳴いています。
          dd 食堂から、”カレー（ﾙｰがあった！）”と"ビーフシチュー"の香りが漂ってきます。
          dd お肉と芋がごろごろ入っており、希望があればゆでたまごを入れることもできます。
          dd 第１話の時と比べると、いろいろなことに変化が起きてきました。
          dt ▼ ラグナ
          dd 「……何だか耳が伸びてきたような……」
          dd 「……何だか俺の耳、前にも増して伸びてきたような……」
          dd 「なんだろう……ニューエイジの変異が進んできているのかもな」
          dd 「だが、歳を取ると自分だけが不幸だとは思わなくなる。」
          dd 「逆になぜ生かされているのかと思うようになる……」
          dt ▼ 描写
          dd カレーを食べていると、遠くのほうで子供たちが泣き叫ぶ声が聞こえます。
          dd 叫ぶ声の方に行くと、あなたの小学校の子供達が、校門で泣き叫んでいました。
          dd 子供たちは血まみれでした。
          dd しかしその血は、子供たちのものではないようです。
          dt ▼ マグ
          dd 「どうしたの？！」
          dt ▼ 子供
          dd 「あっちにヌシが現れて……」
          dd 「リルム兄ちゃんが遠くでヌシと戦ってて……」
          dt ▼ 子供
          dd 「……こいつが、もっと外を冒険したいって言って……」
          dd 「リルム兄ちゃん、頼めばなんでも無理聞いてくれるから」
          dt ▼ 子供
          dd 「冒険したいって言ったのお前だろ！」
          dt ▼ 子供
          dd 「言ったのお前だろ！」
          dd 「ウワアアア！」
          dd （子供たちは混乱し始めました。）
          dt ▼ マグ
          dd 「……もう大丈夫だから、坊やたちは体育館の方に向かって。今夜は"ハルの動く城"上映だよ」
          dd 「リルム兄ちゃんのいる方角だけ教えてくれる？」
          dt ▼ 子供
          dd 「あっち……」
          dd 「あの……ごめん……本当にごめんなさい……」
          dd 子供たちは体育館に走っていきました。
          dt ▼ 描写
          dd リルムのいるらしい方角へ走って行ってみました。
          dd ……周辺の草木が枯れており、気温が低くなっています。
          dd リルムのいる方向に向かって進んでいると、遠くの方に血だまりが見えてきます。
          dd 200m先の血だまりに、３つの影が見えます。
          dt ▼ マグ
          dd 「リルム！」
          dt ▼ 描写
          dd タコの形をしたミュータントの死体が散らばっていました。
          dd 血だまりの中心ではリルムが仰向けになっており、
          dd その上に見たこともない新生物……"腐臭を放つ巨大生物"と"タコ"が座っていました。
          dd 新生物は、リルムの左腕をちぎり取り、トウモロコシを食べるように豪快に齧っています。
          dd 巨大生物の方は下半身を欠損させています。リルムが一太刀浴びせたのでしょうか。
          dt ▼新生物
          dd 「…………仲間、か」
          dd 「……また、ここに、来る、ぞ」
          dt ▼ 描写
          dd 下半身を負傷した巨大生物は、口の辺りの肉をどしゃりと地面に落とすと……
          dd そこから強い腐臭と冷気を発し、冒険者たちを怯ませます。
          dt ▼ クルス
          dd 「うっ！」
          dt ▼ 描写
          dd 巨大生物はそうしてこちらに隙を作ると、すぐに跳んで逃げ去ってしまいます。
          dd その逃げ足は非常に速く、一瞬で姿が見えなくなってしまいました。
          dt ▼ ラグナ
          dd 「逃げやがった！　何だあいつらは！？」
          dt ▼ クルス
          dd 「リッ……リルムは無事？！」
          dt ▼ 描写
          dd リルムは ※心臓 と ※消化器 と ※呼吸器 と ※感覚器 と、
          dd ※利き足 と ※逆脚 と ※利き腕 と ※逆腕 が潰されています。
          dd 四肢は欠損させられ、更に凍傷も受けているようです。
          dd 血だまりの血の半分はリルムのものの様です。
          dd クルス達は、絶句したまま固まっています。
          dd マグが駆け寄って、四肢のないリルムを抱きかかえます。震えた声で話しかけます。
          dt ▼ マグ
          dd 「だ、大丈夫！　キャンプに戻れば！　すぐ治療すれば大丈夫だから！」
          dd 「大丈夫！　……っいじょうぶ！」
          dt ▼ リルム
          dd 「へっ、大丈夫なわけねえだろ」
          dd リルムは血を吐きながら笑いました。まだ息があるようです。
          dd ラグナとクルスがリルムに駆け寄り、無言で必死に止血をし始めます。
          dd 「見ろよ、俺、１人で殺ってやったぜ」
          dd リルムのそばには、武器として使ったボロボロの"シャベル"が落ちていました。
          dt ▼ マグ
          dd 「な、何か食べたいものはある？　すぐに作るよ……」
          dt ▼ リルム
          dd  掠れた声でリルムが答えます。
          dd 「まず褒めろよ……敵を追い払ったことをさ」
          dd 「フィッシュアンドチップス。知ってんだろ、付き合い長いんだから」
          dt ▼ マグ
          dd 「フィッシュアンドチップス……でも材料が……　……」
          dt ▼ リルム
          dd  「ほら、作りに行け、マグ。早く食べたいんだ」
          dt ▼ 描写
          dd リルムは、マグをキャンプに戻らせます。材料がないのはリルムも知っています。
          dd マグは何度もリルムの方を振り返りながらキャンプに戻ります。
          dt ▼ リルム
          dd 「マグ。お前に、俺の最後の顔なんて見せたくないからな」
          dd 「……よう、子供たちは無事か？」 PCの名前を呼びます
          dd 「そうか。ならいい。これから俺が【暴露】できた限りのことを伝えるぞ」
          dd リルムは元気そうに喋っていますが、その身体には死が近付いてきています
          dd 「あのヌシは、"サイタマ"のフィールドから来たようだ。」
          dd 「そして……ヌシを産むヌシの所在も分かった。」
          dd 「あの新生物はマケマケとか名乗ってきて……口の軽いやつだったぜ。」
          dd 「今、"グンマ"に、恐ろしいヌシがいる。」
          dd 「"グンマ"のヌシは日本以外の大陸をすでに喰らいつくした。」
          dd 「負傷はしてるらしいが……その間も、他のヌシを産み、各地に送り込んでいる。」
          dd 「……」
          dd 「…………子供達を守るために、やるべきことが……盛りだくさんだな」
          dd 「……」
          dd 「だが……」
          dd 「お前らなら必ず勝てる」
          dd  「……」
          dd 「そうだ、まずは、"サイタマ"、だ……。さっき俺と戦っていたヌシの……」
          dd 「"サイタマ"のフィールドの拡大も、加速しているらしい。」
          dd 「すぐに"サイタマ"を……さっきのヤツラの巣を潰しに行ってくれ。」
          dd 「……」
          dd （リルムは、一気にたくさん喋って疲れてしまったようです。）
          dd （けど、まだ伝えたいことがあるようです。）
          dd 「……ああ、……ああ。……」　
          dd 「それと、キャンプにあるオレの宝箱は自由にしていい。大したものは入ってないけどな。」
          dd 「……」
          dd 「今日はハルの動く城なんだって？」
          dd 「あれはいい映画だ、楽しめよ」
          dd 「それと、俺の死体だが、西の方角に埋めてくれ。」
          dd 「母国がそっちにあるんだ」
          dd 「……」
          dd 「ビーフ、シチュー。最高だった」
          dd 「この世界であんな味が、まだあったんだよな」
          dd 「車遊びにも付き合ってくれて、嬉しかった」
          dd 「動かない車に乗って、皆載せて」
          dd 「オレの…………」
          dd 「宝箱、……戻ったら、開けて、みてくれ……」
          dd リルムは目を閉じました。
          dd 「……喜ぶ顔が……」
          dd 「……見られて、よかった」
          dd 「おやすみ」
          dd 「………………」
          dd 「……」
          dt ▼ 描写
          dd リルムは事切れました。
          dd "リルムの宝箱のカギ"を手に入れました。
          dd その夜、ラグナ、クルス、スズと一緒にリルムの遺体を母国の方角に埋めました。
          dd リルムの遺体は痩せ細っていて四肢もなかったのに、とても重く感じました。
          dd いつも見ていた顔。
          dd もう動かないんだ、笑わないんだ……と思うと、頭の中がグチャグチャにされるようです。
          dd [リルムの宝箱]を開けると、
          dd 【☆最後の希望】ｘ１　【星の欠片:赤】ｘ１　【星の欠片:緑】ｘ１　【星の欠片:白】ｘ１
          dd 以上の４つのアイテムが入っていました。
          dd 他にも、
          dd 【ヒヨス色の花】ｘ１　【マグがくれた銀のスプーン】ｘ１　【リルムの好きなキャラ鉛筆】ｘ１
          dd 【クルスがくれたミニーキーホルダー】ｘ１　【やたらきれいな丸い石】ｘ１　が入っていました。
          dd リルムの遺品の整理は１０分ほどで終わりました。
          dd マグたちは、我を失いながらもリルムを埋葬し、簡易的な墓標を建てました。
          dd 作業は1時間ほどで終わりました。
          dt ▼ マグ
          dd 「……」
          dd 「私たちは、ただ生きて、かつての暮らしを取り戻したいだけなのに」
          dd 「なんでこんなことに……」
          dt ▼ 描写
          dd マグはリルムの墓を見つめたまま、ボーッとしています。
          dd 子供たちは不安になりつつも学校内に避難してくれました。
          dd スズは口を開けたままオロオロしています。
          dd カジオがPCたちの前にやってきます。真顔でした。
          dt ▼ カジオ
          dd 「よ、……よう。」
          dd 「俺、なんかさ、もう、涙が出てこない。身体がおかしいんだ。」
          dd 「オレ、病気なのかな」
          dd 「わけわかんねえんだ。頭も、胸もグチャグチャだ。」
          dd 「クルスも俺と同じ症状みたいだ。」
          dd 「…………俺さ。」
          dd 「リルムとは付き合い短くてさ。それなのに図々しい事を言うようだけどさ」
          dd PCたちの名前を一人一人呼びます
          dd 「あ、あ、あいつの……仇……討ってくんねえかな」
          dt ▼ 描写
          dd ラグナとクルスが、教室からヌッと出てきました。
          dt ▼ ラグナ
          dd 「……あの野郎……あのヌシ、『また来る』って言ってたな」
          dd 「……埼玉のフィールドの拡大も、凄まじい速度で行われている。」
          dd 「すぐに"埼玉"に向かってもらう。"群馬"からも敵が来ているらしいが、後回しだ。」
          dd 「"埼玉"の主はリルムが負傷させてくれた。今やるしかない。」
          dt ▼ クルス
          dd 「とりあえず、７日分（７サイクル）ぶんの食糧と水を用意してくるよ。」
          dd 動けないマグのかわりに、クルスが荷物をまとめてくれます。
          dd クルスは７サイクルぶんの旅支度をまとめるのに手こずっています。
          dd 「マグ達、いつもこんな大変なことをしていたのか。」
          dd 「……あ、こっちは大丈夫、みんなは、それぞれ準備をしておいてくれ。」
          dt ▼ 描写
          dd クルスはだいぶ手こずっています。
          dd 日々の食料バランス、背負った時の身体への負担、などを考えつつ、
          dd PCたちが7サイクルぶん生きるための荷物を作ってくれています。
          dd 同時に、「いま行って欲しくない」「死地に向かわせたくない」という気持ちで手が震えています。
          dt ▼ ラグナ
          dd 「食料をまとめるの、大変そうだな……」
          dd 「リルム、いるか？　クルスを手伝ってやれ。」
          dd 「……？」
          dd 「おい、リル…………」
          dd 「…………くそっ……。」


        p キャンプフェイズの行動を行います。 キャンプフェイズ終了前に、見送りの描写を行います。

        h4 セリフ例
        dl 
          dt ▼ ラグナ
          dd 「気をつけてな」
          dd 「…………キャンプの仕事に余裕ができたら、オレもサイタマへ行く。」
          dd 「間に合ったら一緒に戦おう。」
          dd （ヌシ戦で合流します。今回のヌシ戦ではラグナと共闘することになります。）
          dt ▼ カジオ
          dd 「リルムの仇を取ってくれ」
          dd 「俺、おかしいんだ。涙も出なくなった」
          dd 「わからないんだ。何で俺たちにこんな理不尽が押し寄せてくるのか。」
          dd 「何もわからなくなってきた。休んでくる」
          dd 「（独り言）しばらく何も作れん」
          dt ▼ クルス
          dd 「……ええと、マグとキャンプのことは任せてくれ」
          dd 「……」
          dd 「…………だめだ。月並みなことしか言えそうにない。」
          dd 「あいつらを、倒してくれ。」

          dt ▼ 描写
          dd クルスは、栄養ドリンクの入っていたガラス瓶を握りしめながら冒険者たちを見送ってくれます。
          dd 一行はフィールドへと向かいました。

        h2(id="h2-search")  探索フェイズ
        h3(id="h3-cp-1") #[i(class="far fa-check-circle")] 第1チェックポイント： 真夜中の密林
        dl 
          dt 環境
          dd 暗闇 ＆ 密林
          dt 暗闇
          dd 「ライト」や「たいまつ」などの明かりを持っていない限り、PCの行為判定にマイナス1の修正がつく。
          dd 「たいまつ」は1サイクルで1つ消費される。
          dt 密林
          dd 密林や見通しの悪い屋内など。空気のおいしい場所で、全アビリティの反動が-1される。
            |反動は1未満にはならない。
            |また、身を潜めて隙を伺うことで攻撃をあてやすくなる。命中判定にプラス1の修正がつく。

        h4  #[i(class="far fa-image")]   描写
        p 地面にはシダが生い茂り、見上げても空が見えないほど木々やツタが絡まりあった密林です。
        p 密林のオブジェクトがあり、探索時、高確率でアイテムが見つかります。
        p 拙い日本語で文字の書かれた、新しい看板がたてられています。
          | #[br]「あきらめろ」
          | #[br]「あがけばあがくほど　よりつらいひげきがまっている」
        p 一寸先も分からないやぶの中、次のチェックポイントへの道に進むには、【障害:気難しいウサギ】に道案内を頼む必要があります。


        dl 
          dt ▼描写例
          dd サイタマに向けて歩いていると……
          dd サイタマだったであろう場所が、まるごと＜フィールド＞になっています。 
          dd 生存者は居るのでしょうか……？
          dd ＜フィールド＞の入り口に侵入すると、突然周囲が暗くなりました。
          dd ここは密林のようです。

          dd 入り口近くに、最近建てられたばかりのピカピカの看板が立っています。
          dd 看板には拙い日本語でなにか書いてあります。
          dd 「あきらめろ」
          dd 「あがけばあがくほど　よりつらいひげきがまっている」
          dd 子供でも読めるよう、全てがひらがなで書いてありました。
          dd 敵からの凄まじい悪意を感じます。

        h4 #[i(class="fas fa-list-ol")] オブジェクト: 海老名の廃墟
        p 1d6を振って出た目に応じた結果を解決します。

        table.responsive
          caption 密林
          thead
            tr: th d6 #[th イベント] 
          each item in objectForestList
            tr
              td(data-title='d6')= item.d6
              td(data-title='イベント')= item.event
 

        h4 #[i(class="fas fa-shoe-prints")] 密林の入り組んだ道なき道
        p 次のチェックポイントに進む道は入り組んだ密林でなかなか見つかりません。
        p 正解の道を知っているのはホタルウサギだけです。彼を楽しませなければ、先へ進むことはできません。
        h5 #[i(class="fas fa-lock")] 障害: 気難しいウサギ
        p  指定特技：《歌う》 or 《料理》

        table.chart#table-randomencountA
          caption 密林ランダムエンカウント表
          thead
            tr: th d6 #[th 説明] 
          each name in randomEncountListA
            tr
              td= name.d6
              td= name.a




        h3(id="h3-cp-2") #[i(class="far fa-check-circle")] 第2チェックポイント：死臭の街跡
        dl 
          dt 環境
          dd 平原
          dt 平原 
          dd 特になし
 
        h4  #[i(class="far fa-image")]   描写
        p 密林を抜けると死都と化した埼玉の都市が広がっていました。
        p この先に進むには、水没したトンネルを抜けていく必要がありそうです。
        p 次のチェックポイントに進む際に、ランダムエンカウントの後、「強敵」との戦闘になります。

        h4 #[i(class="fas fa-list-ol")] オブジェクト:サイタマの廃墟
        p 1d6を振って出た目に応じた結果を解決します。

        table.responsive
          caption :埼玉の廃墟
          thead
            tr: th d6 #[th イベント] 
          each item in objectSaitamaList
            tr
              td(data-title='d6')= item.d6
              td(data-title='イベント')= item.event

        h4 #[i(class="fas fa-shoe-prints")] 水没したトンネル
        p 次のチェックポイントに進む道です。先に進むためには、水の中を泳いでいく必要があります。
        p この障害は突破判定に２回成功する必要があります。
        h5 #[i(class="fas fa-lock")] 障害: 水没したトンネル
        p  指定特技：《※呼吸器》 or 《耐える》or 《泳ぐ》
        h5 #[i(class="fas fa-lock")] 障害: 水没したトンネル2
        p  指定特技：《※呼吸器》 or 《耐える》or 《泳ぐ》

        p 次のチェックポイントに進む際に、「強敵」との戦闘になります。
        p トンネルの中は霜がおりるほどで、水で濡れた体が冷えてきます。冷気を放つ、『ジャイアントグール』が行く手を阻みます。
        p 「森へおかえり」が適用される敵です。帰ってもらうには[3J]必要です。


        table.responsive
          caption ジャイアントグール
          thead
            tr: th 名前 #[th レベル] #[th タイプ] #[th 体力]  #[th 気力] #[th 特技] #[th アビリティ] #[th 解説]
          each enemy in enemyList1
            tr
              td.txt-center= enemy.name
              td(data-title='レベル')= enemy.lv
              td(data-title='タイプ')= enemy.group
              td(data-title='体力')= enemy.stamina
              td(data-title='気力')= enemy.willpower
              td(data-title='特技')= enemy.specialties
              td(data-title='アビリティ')= enemy.abilities
              td(data-title='ドロップ')= enemy.drop
              td(data-title='解説')= enemy.comment

        table(class="responsive")
          caption ジャイアントグールのアビリティ
          thead
            tr: th 名前 #[th グループ]  #[th タイプ] #[th 反動] #[th 指定特技] #[th 対象] #[th 効果]
          each item in enemyAbilityList1
            tr
              td.txt-center= item.name
              td(data-title='グループ')= item.group
              td(data-title='タイプ')= item.type
              td(data-title='反動')= item.recoil
              td(data-title='指定特技')= item.specialty
              td(data-title='対象')= item.target
              td(data-title='効果')= item.effect



        h3(id="h3-cp-3") #[i(class="far fa-check-circle")] 第3チェックポイント： 決意の雫
        dl 
          dt 環境
          dd 泉
          dt 泉
          dd 神聖な泉。サイクルの終了時に気力が２点回復する。
          dd さらにプレイヤーの行う全判定にプラス1の修正がつく。
       
        h4  #[i(class="far fa-image")]   描写
        p 水没したトンネルを抜けると、そこは、とても美しい自然が広がった、不思議な泉でした。
        p 美しく、水質のとても良い泉があり、近くには天然温泉も湧いています。
        p 美しい森(1d6)には宝物が集まっています。
        p この先は大きなクレーターとなっています。
        p 先へ進むためには、断崖絶壁を降りていく必要があります。


        h4 #[i(class="fas fa-list-ol")] オブジェクト:美しい森
        p 1d6を振って出た目に応じた結果を解決します。

        table.responsive
          caption :美しい森
          thead
            tr: th d6 #[th イベント] 
          each item in objectBeautifulForestList
            tr
              td(data-title='d6')= item.d6
              td(data-title='イベント')= item.event


        h4 #[i(class="fas fa-shoe-prints")] クレーターへの道
        p クレーターの壁面は崩れやすく、細い足場をたどって降りていく必要があります。

        h5 #[i(class="fas fa-lock")] 障害: 断崖絶壁
        p #[i(class="fas fa-dice")]  《走る》or《歩く》or《バランス》


        h3(id="h3-cp-4") #[i(class="far fa-check-circle")] 第4チェックポイント： クレーター
        dl 
          dt 環境
          dd 極寒＆暗闇＆領域
          dt 暗闇
          dd 「ライト」や「たいまつ」などの明かりを持っていない限り、PCの行為判定にマイナス1の修正がつく。
          dd 「たいまつ」は1サイクルで1つ消費される。
          dt 領域
          dd ＜フィールド＞の中でも特に敵が得意とする地域。PCの行う全判定が-1される。
          dd 探索中ファンブルが発生すると、体調を崩して1D3のダメージを受ける。
          dd 戦闘中ファンブルが発生すると、敵1体が追加行動を得る。
          dt 極寒
          dd 極寒の地。
          dd PCはサイクルの終了時に《耐える/胴部12》の判定を行い、失敗したら軽減不可の1D6点のダメージを受ける。
            | この判定にはマイナス[経過ラウンド数]の修正がつく。
            | 割込で火つけ道具を消費することで《耐える+2》、たいまつ消費で《耐える+3》の修正を得られる。


        h4  #[i(class="far fa-image")]   描写
        p 非常に寒く、空気も悪くて、真っ暗闇です。とても人間が居ていい環境ではありません。
        p ここが最後のチェックポイントです。 この先に、リルムの仇がいます。
        p 先に進む道は、ガスパイプが絡み合った道となっています。


        h4 #[i(class="fas fa-list-ol")] オブジェクト:なし

        h4 #[i(class="fas fa-shoe-prints")] クレーター中央への道
        p ガスが不規則に噴出するパイプが絡み合った道です。
        p ガスの出どころを突き止めるか、さっさと走り抜けてしまいましょう。
        p この障害は3回突破する必要があります。

        h5 #[i(class="fas fa-lock")] 障害: 死のガス1
        p #[i(class="fas fa-dice")]  《機械》or《※呼吸器》or《逃げる》
        h5 #[i(class="fas fa-lock")] 障害: 死のガス2
        p #[i(class="fas fa-dice")]  《機械》or《※呼吸器》or《逃げる》
        h5 #[i(class="fas fa-lock")] 障害: 死のガス3
        p #[i(class="fas fa-dice")]  《機械》or《※呼吸器》or《逃げる》


        h2(id="h2-showdown") 決戦フェイズ
        dl 
          dt 環境
          dd 平地
          dd 特殊効果なし
        p ＜ヌシ＞である「黒い夢」「白昼夢」が、ディ〇ニーランドの生き残りであるスズと戦闘しているところに遭遇します。
        p PC達が初めて出会う、言葉を介すヌシです。
        p この戦闘にはNPCのスズが参加します。
        p ＜ヌシ＞の「黒い夢」「白昼夢」はいずれかの体力を0にすると第2形態へと変貌します。
          

        dl 
          dt ▼描写例
          dd 背後からラグナが走って現れ、仲間に加わります。
          dt ▼ラグナ
          dd 「ぜえ、ぜえ、ぜえ、」
          dd 「何とか間に合った……！　リルムの仇を取る協力をさせてくれ。」
          dt ▼描写例
          dd サイタマをフィールド化したヌシのマケマケがそこにいます。
          dd 凄まじい死臭をはなつ、グロテスクな触手の生えた、腐肉の集合体です。
          dd リルムから受けたキズが治りきっていないようです。
          dd 下半身は再生したばかりで少し外膜が薄いです。
          dt ▼ マケマケ
          dd 「……　ｵ"　…………　……」
          dd ヌシは、その頭部に、舌と喉のような器官を即興で作り上げ……
          dd できたての器官を使って冒険者たちに対して日本語で話しかけてきます。
          dd 「そチ、らから、来てくれ、る、とは」
          dt ▼ ラグナ
          dd 「ウ……。　なんだ、こいつ」
          dt ▼ マケマケ
          dd 腐肉で造られた器官で話を続けます。
          dd 「あの弱い人間　、雑魚の雄、の死は楽しんでくれたかな」
          dd 「いっぱい苦し、めた」
          dd 「凍らせて、ちぎれば。すぐ死ぬ　雑魚」
          dd （突っ込まれた場合）「私の命には、届いていない。　つまり　無意味な抵抗だった」
          dd 「我々の恐るるに足りず」
          dd その言動のひとつひとつが、腐りきった悪意を放ち、人類のことを、邪魔者であり遊び道具としか思っていないことが伝わってきます。
          dd 「私たちは自由、自由な種　姿形も　力も　体組織も」
          dd 「マザーは言った、『旧生物はもういらない』」
          dd 「お前たち、決して文化を取り戻してはならない」
          dd 「お前たちのやってきたことは、ムダ、ぜんぶ、意味のないものになる」
          dd 「あと」
          dd 「……そうだ」
          dd 「ディズニーランド、マザー牧場、海老名……」
          dd 「よくも仲間を殺してくれたな」
          dt ▼描写例
          dd その言葉の後、即興で造られた舌は機能を失い、腐り落ちます。
          dd 舌のような肉が地面に落ちた瞬間、ヌシは問答無用で襲いかかってきます。
          dt ▼ ラグナ
          dd 「先にやったのは……お前ら外来種だろうが」
          dd 「……お前らが先にやったんだろうが！！」

        p ＜ヌシ＞との戦闘です。この戦闘ではラグナが共闘します。
        p ラグナは開幕に【戦術】のアビリティを使用します。


        h4  #[i(class="fas fa-dragon")]  戦闘
        table.responsive
          caption マケマケ
          thead
            tr: th 名前 #[th レベル] #[th タイプ] #[th 体力]  #[th 気力] #[th 特技] #[th アビリティ] #[th 解説]
          each enemy in enemyListBoss1
            tr
              td.txt-center= enemy.name
              td(data-title='レベル')= enemy.lv
              td(data-title='タイプ')= enemy.group
              td(data-title='体力')= enemy.stamina
              td(data-title='気力')= enemy.willpower
              td(data-title='特技')= enemy.specialties
              td(data-title='アビリティ')= enemy.abilities
              td(data-title='ドロップ')= enemy.drop
              td(data-title='解説')= enemy.comment

        table(class="responsive")
          caption マケマケのアビリティ
          thead
            tr: th 名前 #[th グループ]  #[th タイプ] #[th 反動] #[th 指定特技] #[th 対象] #[th 効果]
          each item in enemyAbilityListBoss1
            tr
              td.txt-center= item.name
              td(data-title='グループ')= item.group
              td(data-title='タイプ')= item.type
              td(data-title='反動')= item.recoil
              td(data-title='指定特技')= item.specialty
              td(data-title='対象')= item.target
              td(data-title='効果')= item.effect

        table.responsive
          caption ヴァーチャー
          thead
            tr: th 名前 #[th レベル] #[th タイプ] #[th 体力]  #[th 気力] #[th 特技] #[th アビリティ] #[th 解説]
          each enemy in enemyListBoss2
            tr
              td.txt-center= enemy.name
              td(data-title='レベル')= enemy.lv
              td(data-title='タイプ')= enemy.group
              td(data-title='体力')= enemy.stamina
              td(data-title='気力')= enemy.willpower
              td(data-title='特技')= enemy.specialties
              td(data-title='アビリティ')= enemy.abilities
              td(data-title='ドロップ')= enemy.drop
              td(data-title='解説')= enemy.comment

        table(class="responsive")
          caption ヴァーチャーのアビリティ
          thead
            tr: th 名前 #[th グループ]  #[th タイプ] #[th 反動] #[th 指定特技] #[th 対象] #[th 効果]
          each item in enemyAbilityListBoss2
            tr
              td.txt-center= item.name
              td(data-title='グループ')= item.group
              td(data-title='タイプ')= item.type
              td(data-title='反動')= item.recoil
              td(data-title='指定特技')= item.specialty
              td(data-title='対象')= item.target
              td(data-title='効果')= item.effect

        h4 ラグナ
        table.responsive
          caption ラグナ
          thead
            tr: th 名前 #[th クラス] #[th 体力]  #[th 気力] #[th 特技] #[th アビリティ] 
          each enemy in npcList
            tr
              td.txt-center= enemy.name
              td(data-title='クラス')= enemy.group
              td(data-title='体力')= enemy.stamina
              td(data-title='気力')= enemy.willpower
              td(data-title='特技')= enemy.specialties
              td(data-title='アビリティ')= enemy.abilities


        table(class="responsive")
          caption ラグナのアビリティ
          thead
            tr: th 名前 #[th グループ]  #[th タイプ] #[th 反動] #[th 指定特技] #[th 対象] #[th 効果]
          each item in npcAbilityList
            tr
              td.txt-center= item.name
              td(data-title='グループ')= item.group
              td(data-title='タイプ')= item.type
              td(data-title='反動')= item.recoil
              td(data-title='指定特技')= item.specialty
              td(data-title='対象')= item.target
              td(data-title='効果')= item.effect



        h2(id="h2-result") 結果フェイズ
        h3(id="h3-result-1") 描写1: 戦闘終了後
        p マケマケは最期に、PCたちに「目立ちすぎた」と不吉な言葉を遺して倒れます。ヌシを産みだすマザーがいる限り、PCたちには絶望しかないことも告げます。
        p フィールドは消え……サイタマが解放されました。しかしサイタマは元通りにはならず、滅びたままです。
        p 施設から、農業の本と種を手に入れることができます。

        dl 
          dt ▼ 描写
          dd あなたの一撃で、醜い腐肉の塊は戦う力を失います。
          dd マケマケは、特急で発声器官を作り上げて話し始めました。
          dt ▼ マケマケ
          dd 「……"エリスケレス"、"暴食の冥焉"、……"マザー"…………」
          dd 「彼らは、ヌシを産み出し、送り出すことができる、選ばれし種だ」
          dd 「お前達は、もう、目立ちすぎた」
          dd 「お前達に、もう、安息の日、など、来ない」
          dd 「ムダな、足掻きだ」
          dd 「淘汰、されるといい」
          dd 「ｲ” ……」
          dt ▼ 描写
          dd マケマケは発声器官と共に崩れ落ちました。
          dd 発声器官のない喉から、声にもならない声をあげ、マケマケは息絶えました。
          dt ▼ ラグナ
          dd 「くたばれ……」
          dd 「……」
          dt ▼ 描写
          dd 冒険者たちの活躍でフィールドは消え去りました。
          dd しかし埼玉は元通りにはならず、滅びたままです。腐臭もなかなか消えません。
          dd 生存者は発見できませんでした。
          dt ▼ ラグナ
          dd 「全滅……か」
          dd 「俺たちのキャンプのために、何か役立つものがないか、探そう。」
          dt ▼ 描写
          dd 何かないかと探していると、真っ白い倉庫のような場所を発見しました。冷凍倉庫でした。
          dd この倉庫は最近まで電気系統が生きていたようで……
          dd ・トマト　・ナス　・スイカ　・エンドウ　・キュウリ　・アズキ　・オクラ　・ソラマメ  ・ダイコン　・カブ　・カボチャ　・ハクサイ　
          dd といった、寿命の長い野菜の種子たちを発見することができました。
          dd 農業についての資料も拾いました。
          dt ▼ ラグナ
          dd 「農業か」
          dd 「この本に書かれているとおりにすれば、畑の土が作れるな」
          dd 「リルムが貝を潰して土の材料も作ってくれてる」
          dd 「持ち帰ったら、すぐに準備に取り掛かろう。」
          dd 「今はとにかく忙しくしておきたい」


        h3(id="h3-result-2") 描写2: キャンプにて
        p キャンプに帰り、[リルムの仇を取った]ことと[農業]のことを伝えました。
        p マザー牧場から手に入れた家畜たちのフンを使い、「害虫に強く、水分/養分をよく吸収し、野菜がおいしく育つ」すてきな土を作れるようになりました。

        dl 
          dt ▼ 描写例
          dd キャンプに帰り、[リルムの仇を取った]ことと[農業]のことを伝えました。
          dt ▼ マグ
          dd 「リルムの仇を取ってくれたんだね」
          dd 「……ありがとう　……ふふ、……農業も。できるようになるんだね」
          dd 「……」
          dd 「（PCたちの名前を呼ぶ）」
          dd 「（頭の中を整理するかのように）……リルムは目立たない奴だったけど、」
          dd 「縁の下の力持ちって感じでキャンプを支えてくれていたんだ」
          dd 「あとアニメ映画が大好きだったな……」
          dt ▼ クルス
          dd 「ディ〇ニー映画のときは大喜びで、原作との違いや、制作の裏話まで語っていたね」
          dt ▼ マグ
          dd 「……あと、褒められるとすっごい喜んだり……」
          dd 「ちょっと大げさなくらい喜んだりね」
          dt ▼ クルス
          dd （嗚咽をはじめます）
          dt ▼ マグ
          dd 「あ、逆に、頑張ったのに褒めてもらえないときちょっと拗ねたり……」
          dd 「あと……みんなのことをずっと心配してくれてた」
          dd 「冒険に出たがっていた子供のため、付き添ってくれたんだね」
          dt ▼ クルス
          dd 「……マグ、……やめよう、リルムの話は」
          dd 「悲しいんだ」
          dt ▼ マグ
          dd 「……リルムはたしかにこのキャンプにいたもの」
          dd 「忘れたりなんかして前に進むことはできない」
          dt ▼ クルス
          dd 「…………」
          dt ▼ マグ
          dd 「ごめん、今日はこの話はやめとこうか」
          dd 「……えっと。」
          dd 「今日は体育館で"くるみ人形と秘密の王国"を放映するんだ」
          dd 「＜フィールド＞に行って疲れたでしょ、見に行ってくるといいよ」
          dd 「ごはんも持っていくから」
          dd 「……しかし、今度は農業か。」
          dd 「家畜の世話と、キャンプの修理と、近所の空家の修理と……忙しくなってくるね」
          dd 「私もがんばるよ」

        p ニューエイジのPCが存在し、PLが「最後は皆に看取られたい」を選択していた場合、望めば葬式のイベントを行うことができます。
        p 看取られる時のための、予行演習です。

        dl 
          dt ▼ 描写例
          dd 夕食が終わったあと。マグがどこからか黒い服を持ち出してきます。
          dd 教室のひとつを清掃し、花を用意しました。
          dd カジオが点けた蛍光灯が一本、白い光で黒板と花が置かれた教壇を照らしています。
          dt ▼ マグ
          dd 「…………葬式。」
          dd 「あの、葬式をしてみるんだけど……」
          dd 「……」
          dd 「じゃないと、リルムがまだそこにいるような気がして。」
          dd 「……つらかったら、寝ててもいいよ」
          dt ▼ 描写
          dd ラグナとクルス（＋葬式に出ないことを選択したPC）は見張りがあるといって、葬式に参加しませんでした。
          dd ほとんどの人物が葬式なんて参加したことなかったので、ルールが分かりません。
          dd 最初の5分間はひたすらに黙祷していました。
          dt ▼ マグ
          dd 「……葬式、実は私も何をすればいいのか分からないけど…………」
          dd 「リルムが作ってくれてた"栄養ドリンク"、皆のぶん用意したよ」
          dt ▼ スズ
          dd 「あーー、あたし知ってるぜ、葬式。」
          dd 「説明するけどいいかな？　するぜ」
          dd 「葬式ってのは、この式の主役に対して"別れの言葉"を述べるんだ」
          dd 「んで、その後は、忘れるなり、教訓にするなり、思い出として持っていくなり。」
          dd 「葬式に大した決まりごとはねえ」
          dd 「いま生きているヤツが、この死を"どう都合よく解釈するか"がダイジなんだ」
          dd 「で、あたしの別れの言葉。　"復興後に飲み屋行くつったじゃねえかよ、裏切り者"」
          dd 「……以上（栄養ドリンクを飲む）」
          dt ▼ マグ
          dd 「……リルム。頑張ったね」
          dt ▼ 子供たち
          dd 「ごめんなさい、リルムお兄ちゃん」
          dt ▼ カジオ
          dd 「別れの言葉か。そうだな。別れの言葉を言うか。」
          dd 「『別れんの嫌だ』」
          dd カジオは大泣きし、バケツいっぱいはあろうかというほど涙を流します。
          dd カジオの中で時間が動いたのか、ようやくリルムの事で泣くことができたみたいです。
          dt ▼ 描写
          dd それぞれ、一言ずつ別れの言葉を言いました。
          dd そうして１０分ほどの葬式を終え、皆はそれぞれの仕事に戻りました。
          dd 夜には、体育館で"くるみ人形と秘密の王国"を見る予定です。
          dt ▼ 描写
          dd その日の夜。月明かりが影を落とします。
          dd 葬式に参加していなかったラグナ、クルス（＋夜の墓参りを望むPC）は、簡素に造られたリルムの墓の前にいます。
          dt ▼ ラグナ
          dd 「…………式を挙げてお別れ、てのもなんか違う気もしてな」
          dd 「堅苦しいのも肌にあわない」
          dt ▼ クルス
          dd 「……うん。マグにはちょっと悪いけどね」
          dd 「みんなの前じゃ言えないこともある」
          dt ▼ 描写
          dd 二人は、それぞれ別れの言葉を告げました。
          dt ▼ クルス
          dd 『リルム、何でだよ、嫌だよ』
          dt ▼ ラグナ
          dd 『必ず世界を復興させる。任せろ』
          dt ▼ 描写
          dd 体育館で"くるみ人形と秘密の王国"をみんなで見ました。
          dd その日は、静かな夜でした。月の明るい夜でした。

        p キャンプの忙しい日々がまた、始まります。
        dl 
          dt ▼ 描写
          dd 彼の母国がある方向に建った墓は、皆の手で毎日掃除が行われます。
          dd 幾日かすると、マグも少し元気を取り戻してきたようです。
          dd クルスは、小学校の周囲の環境を整えることに尽力し始めました。
          dd 『子供達に仕事（農業、畜産）を教える』『大工仕事』は引き続きラグナが……
          dd 『雑用』と『廃棄家具の調達』はスズが請け負うことになりました。
          dt ▼ ラグナ
          dd 「……近々、PC達には"グンマ"へ向かってもらうことになる」
          dd 「リルムの情報では、"グンマ"に、ヌシを産み続ける最強の敵がいるらしい」
          dd 「……」
          dt ▼ 描写
          dd 次回に続きます。


        h3(id="h3-rewards")  #[i(class="fas fa-gem")] 報酬 
        p ヌシのドロップアイテムとして、＜星の欠片＞を2つ取得します。1つは白で、もう1色はランダムです。
        p ヌシを倒してフィールドを解放したことによりCP6点を獲得します。
        p 各PCはフィールド解放の主役として、この場所の物資を最初に手に入れる権利があります。18J以下のアイテムを1つ取得します。
 
        p  #[a(href="/lost/campaign-mother.html") キャンペーン: Motherに戻る]


  include includes/common/footer
  include includes/common/toc-footer