extends includes/common/_layout
block title
  include includes/common/variables
  include includes/list-class/variables
  title= title
block css
  link(href="../css/styles.css" rel="stylesheet" )
block headjs
  
block body
  body
    header
      include includes/common/header
    //- ヒーローイメージをコンパクトにする
    section.hero-header.compact
      .container
        h1 LOST
        p ～廃墟の森の子供たち～ 
    main#main
      section.listA
        .container
          each obj in classList
            //- 概要全体にリンクを設定
            article
              a(href="#")
                .image(style="background-image: url('images/" + obj.image + "');")
                .text
                  h2= obj.name
                  p= obj.description
      //- テキストを横に並べるテスト
      section.listB
        .container
          each obj in classList
            //- 概要全体にリンクを設定
            article
              a(href="#")
                .image(style="background-image: url('images/" + obj.image + "');")
                .text
                  h2= obj.name
                  p= obj.description
      //- テキストを画像の上に載せるテスト
      section.listC
        .container
          each obj in classList
            //- 概要全体にリンクを設定
            article
              a(href="#")
                .image(style="background-image: url('images/" + obj.image + "');")
                .text
                  h2= obj.name
                  p= obj.description
    include includes/common/footer