h2 追加データ
p 追加されたデータです。一部のデータのみを使用するといったことも可能です。

h3#get_trophy 称号の入手
p #[a(href="rulebook.html#ending") 結果フェイズ]に「称号の入手」を追加します
p 「称号」とは、冒険者がどんな振る舞いをしていたかで獲得するものです。「アビリティの習得」で経験点を消費して、称号アビリティが習得できるようになります。
p 称号に応じたグループのアビリティを習得できるようになりますが、獲得している称号の数が各グループで習得できるアビリティ数の上限になります。
p 「称号の入手」では、生き残った冒険者ごとに、今回の冒険の振る舞いを振り返ります。 
p 各プレイヤーの、パーティメンバーのメモ欄を順番に確認していくとよいでしょう。
p 最終的に相応しい称号を相談あるいは多数決で1つ決定します。表が割れた時はそのキャラクターのプレイヤーが選ぶとよいでしょう。
p 称号には以下があります。全員の合意があれば、表にない称号を与えることもできます。

table.responsive#trophy
  caption 称号表
  thead
    tr: th 名前 #[th 説明]
  each trophy in trophyList
    tr
      td.txt-center= trophy.name
      td(data-title='説明')= trophy.description


h3#trophy-ability 称号アビリティ
p 称号アビリティは、所持している称号の数が習得上限になります。
p 例えば、「パッション」「スター」の称号を持っている場合、それぞれ１つまでアビリティを習得できます。この場合、「パッション」のアビリティを2つ習得することはできません。
each ability in trophyAbilityList
  table(class="responsive", id='ability-trophy-'+ability.id)
    caption= ability.name
    thead
      tr: th 名前  #[th グループ] #[th タイプ] #[th 反動] #[th 指定特技] #[th 対象] #[th 効果]
    each item in ability.list
      tr
        td.txt-center= item.name
        td(data-title='グループ')= item.group
        td(data-title='タイプ')= item.type
        td(data-title='反動')= item.recoil
        td.nowrap(data-title='指定特技')= item.specialty
        td(data-title='対象')= item.target
        td(data-title='効果')= item.effect

h3 経験点の使用
p キャラクターは経験点を使用して、「背景」を取得できるようになります。

table.responsive#charcter-backbone
  caption 背景表
  thead
    tr: th 名前 #[th 必要経験点] #[th タイプ] #[th 効果]
  each facility in backboneList
    tr
      td.txt-center= facility.name
      td(data-title='必要経験点')= facility.cp
      td(data-title='タイプ')= facility.type
      td(data-title='効果')= facility.effect
h3#experience 経験表
p プレイヤーはキャラクター作成時にキャラクターの経験表を使用することができます。
table.responsive#table-experience
  caption 経験表
  thead
    tr: th d66 #[th 経験] #[th 内容] 
  each item in experienceList
    tr
      td= item.d66
      td.txt-center(data-title=item.d66)= item.a
      td= item.b
h3#add-class 追加クラス
.listB
  .container
    each obj in strangeFieldsClassList
      article
        a(href="#")
          .image(style="background-image: url('../assets/images/" + obj.image + "');")
          .text
            h2= obj.name
            p= obj.description

h3#add-ability 追加アビリティ
each ability in strangeFieldsAbilityList
  table(class="responsive", id='ability-'+ability.id)
    caption= ability.name
    thead
      tr: th 名前  #[th グループ] #[th タイプ] #[th 反動] #[th 指定特技] #[th 対象] #[th 効果]
    each item in ability.list
      tr
        td.txt-center= item.name
        td(data-title='グループ')= item.group
        td(data-title='タイプ')= item.type
        td(data-title='反動')= item.recoil
        td.nowrap(data-title='指定特技')= item.specialty
        td(data-title='対象')= item.target
        td(data-title='効果')= item.effect

h3#add-item 追加アイテム
table.responsive#item
  caption アイテム一覧
  thead
    tr: th 名前 #[th 価格] #[th 重量] #[th タイプ]  #[th 部位] #[th 指定特技] #[th 対象] #[th 特性] #[th 効果]
  each item in strangeFieldsItemList
    tr
      td.txt-center= item.name
      td(data-title='価格')= item.j
      td(data-title='重量')= item.weight
      td(data-title='タイプ')= item.type
      td(data-title='部位')= item.area
      td.wrap(data-title='指定特技')= item.specialty
      td(data-title='対象')= item.target
      td(data-title='特性')= item.trait
      td(data-title='効果')= item.effect

h3#add-enemy-ability エネミーアビリティ
table(class="responsive", id='ability-enemy')
  caption エネミーアビリティ
  thead
    tr: th 名前 #[th グループ]  #[th タイプ] #[th 反動] #[th 指定特技] #[th 対象] #[th 効果]
  each item in strangeFieldsEnemyAbilityList
    tr
      td.txt-center= item.name
      td(data-title='グループ')= item.group
      td(data-title='タイプ')= item.type
      td(data-title='反動')= item.recoil
      td.nowrap(data-title='指定特技')= item.specialty
      td(data-title='対象')= item.target
      td(data-title='効果')= item.effect

table(class="responsive", id='add-ability-mutation')
  caption 追加突然変異表
  thead
    tr: th d6 * d6 #[th ムシ(1)] #[th ムシ(2)] #[th ケモノ(3)] #[th ケモノ(4)] #[th ミュータント(5)] #[th ミュータント(6)]
  each item in strangeFieldsMutationList
    tr
      td.txt-center= item.d6
      td(data-title='ムシ(1)')= item.a
      td(data-title='ムシ(2)')= item.b
      td(data-title='ケモノ(3)')= item.c
      td(data-title='ケモノ(4)')= item.d
      td(data-title='ミュータント(5)')= item.e
      td(data-title='ミュータント(6)')= item.f
h3#add-enemy 追加エネミー
table.responsive#add-enemylist
  caption 追加エネミー
  thead
    tr: th 名前 #[th レベル] #[th タイプ] #[th 体力]  #[th 気力] #[th 特技] #[th アビリティ] #[th 解説]
  each enemy in  strangeFieldsEnemyList
    tr
      td.txt-center= enemy.name
      td(data-title='レベル')= enemy.lv
      td(data-title='タイプ')= enemy.group
      td(data-title='体力')= enemy.stamina
      td(data-title='気力')= enemy.willpower
      td(data-title='特技')= enemy.specialties
      td(data-title='アビリティ')= enemy.abilities
      td(data-title='ドロップ')= enemy.drop
      td(data-title='解説')= enemy.comment
table.responsive#add-droplist
  caption ドロップ
  thead
    tr: th 1d6 #[th サカナA] #[th  サカナB]
  each drop in strangeFieldsDropList
    tr
      td.txt-center= drop.d6
      td(data-title='サカナA')= drop.f
      td(data-title='サカナB')= drop.g
h3#camp-happening キャンプフェイズハプニング表
p 採用する場合、キャンプフェイズの判定でファンブルが起きた時にそのキャラクターはこの表を振ること。
table.chart#table-camp-happening
  caption キャンプフェイズハプニング表
  thead
    tr: th 2d6 #[th 結果] 
  each name in campHappeningList
    tr
      td= name["2d6"]
      td= name.a
h3#explorer-happening 探索フェイズハプニング表
p 採用する場合、探索フェイズの判定でファンブルが起きた時にそのキャラクターはこの表を振ること。
table.chart#table-explorer-happening
  caption 探索フェイズハプニング表
  thead
    tr: th 2d6 #[th 結果] 
  each name in explorerHappeningList
    tr
      td= name["2d6"]
      td= name.a
h3#fumble-initiative 先制判定ファンブル表
p 採用する場合、先制判定でファンブルが起きた時にそのキャラクターはこの表を振ること。
table.chart#table-fumble-initiative
  caption 先制判定ファンブル表
  thead
    tr: th d6 #[th 説明] 
  each name in fumbleInitiativeList
    tr
      td= name.d6
      td= name.a


h3#field-attribute フィールド特性表
p GMは、フィールドに任意の特性をつけることができます。
table.chart#table-field-attribute
  caption フィールド特性表
  thead
    tr: th d6 #[th 特性] #[th 効果] 
  each item in fieldAttributeList
    tr
      td= item["d6"]
      td.nowrap= item.a
      td= item.effect

h3#battle-field 戦場表
p GMは戦闘を行う時、任意の戦場で戦闘を開始することができます。
table.chart#table-battle-fieldA
  caption 戦場表A
  thead
    tr: th d6 #[th 戦場] #[th 効果] 
  each item in battleFieldListA
    tr
      td= item["d6"]
      td.nowrap= item.a
      td= item.b
table.chart#table-battle-fieldB
  caption 戦場表B
  thead
    tr: th d6 #[th 戦場] #[th 効果] 
  each item in battleFieldListB
    tr
      td= item["d6"]
      td.nowrap= item.a
      td= item.b
